
/******************Start Men Profile page*******************/
.style-contain{
    float: left;
    width: 100%;
    padding-top: 9%;
    background: #fff;
    padding-bottom: 80px;
}
.style-contain .tab .nav-tabs li a {
    font-family: "Amazon Ember", Arial, sans-serif;
    padding: 10px 13px;
    font-size: 16px;
    color: #232e3e;
    font-weight: bold;
    border-radius:0px;
    border-left: 1px solid #ddd !important;
    margin: 0;
}
.style-contain .tab .nav-tabs li:first-child a{ border-left: none !important; }
.style-contain .nav-tabs>li.active>a {
    color: #ff6c00 !important;
    border: none !important;
    border-left: 1px solid #ddd !important;
}
.style-contain .left-bar {
    float: left;
    width: 240px;
    background: #fff;
    text-align: center;
    padding: 0 25px;
    position: relative;
    z-index: 1;
}
.style-contain .left-bar .under-box{
    float: left;
    width: 100%;
    position: relative;
    left: 0;
    top: 0;
}

/*.style-contain .left-bar {
    float: left;
    width: 240px;
    background: #fff;
    text-align: center;
    padding: 0 25px;
    position: fixed;
    z-index: 1;
}
.style-contain .left-bar .under-box {
    float: left;
    width: 100%;
    position: relative;
   left: 0; 
    top: 40px;
}*/

.type-box ul li{margin-bottom: 0;}
.style-men .select-boxes input[type="text"]{
  margin: 0;
}
.style-contain .left-bar p {
    font-family: "Amazon Ember", Arial, sans-serif;
    color: #232e3e;
    font-size: 15px;
    text-align: center;
    letter-spacing: 0;
}
.style-contain .left-bar .profile-image{
display: inline-block;
width: 100%;
height: auto;
border: 2px solid #242f3f;
padding: 0;
margin-top: 15px;
float: left;
}
.style-contain .left-bar .profile-image span{
  display: inline-block;
  float: left;
}
.style-contain .left-bar .profile-image img{
  width: 100%;
float: left;
}
.style-contain .right-bar{
  float: right;
  width: 77%;
  position: relative;
  padding: 48px 20px 20px;
  text-align: center;
}
.style-contain .right-bar:after{
  position: absolute;
  content: "";
  height: 100%;
  width: 1px;
  background: #ccc;
  left: 0;
  top: 0;
}
#sidebar.fixed,#sidebar2.fixed,#sidebar3.fixed,#sidebar4.fixed,#button-tablist.fixed {
    position: fixed;
}
.tab-button-list {
    float: right;
    width: 77%;
    position: relative;
}
#button-tablist.fixed {
    position: fixed;
    z-index: 99;
    background: #fff;
    width: 860px;
    margin-top: 0;
    border-left: 1px solid #ccc;
    top: 115px;
}
.tab-button-list ul {
    text-align: center;
    border-left: 1px solid #ccc;
}
.tab-button-list ul li {
    float: left;
    display: inline-block;
    width: 25%;
    margin: 0 !important;
}
.data-filup .tab-pane h1{
  margin-top: 0;
  font-size: 25px;
  letter-spacing: 2px;
}
.form-box-data h3 {
    font-size: 21px;
    font-weight: bold;
}
.form-box-data .select-boxes .select-box select, .form-box-data .select-boxes .select-box input[type="text"] {
    padding: 11px 15px;
    height: 40px;
}
.form-box-data .select-boxes select, .form-box-data .select-boxes input[type="text"] {
    border: 1px solid #ccc;
    background: none;
        padding: 11px 15px;
    height: 40px;
    font-size: 14px;
    width: 84px;
    font-family: "Amazon Ember", Arial, sans-serif;
}
.form-box-data .date-box .select-boxes input[type="text"]{
  width: 100%;
}
.form-box-data .switch-field label{
  padding: 10px 14px;
}
.form-box-data .switch-field label.error{
  outline: none !important;
}
.form-box-data .switch-field label.error:focus{
  outline: none !important;
}
.form-box-data .occupation ul{
  padding: 0;
  margin-bottom: 0;
}
.form-box-data .occupation label.input-control {
    font-size: 15px;
    font-weight: normal;
    letter-spacing: 1px;
    margin: 6px 0 !important;
}
.form-box-data .date-box .select-boxes input::placeholder {
    text-transform: lowercase !important;
}
.form-box-data .date-box .select-boxes input::-ms-input-placeholder {
  text-transform: lowercase !important;
}
.form-box-data .date-box .select-boxes input::-webkit-input-placeholder {
  text-transform: lowercase !important;
}
.form-box-data .date-box .select-boxes input::-moz-placeholder {
  text-transform: lowercase !important;
}
.right-bar select.error {
    color: #000000 !important;
}

.skin ul{
  float: left;
  width: 100%;
  margin: 0;
  padding: 0;
}
.skin ul li{
  display: inline-block;
  vertical-align: top;
  margin-right: 22px;
}
.skin ul li label{
  width: 100px;
  height: 100px;
  background: #e6e6e6;
  border-radius: 100%;
  display: inline-block;
  cursor: pointer;
  border:4px solid #fff;
}
.skin ul li:first-child label{
  background: #fdc8b9;
}
.skin ul li:nth-child(2) label{
  background: #f0b4a2;
}
.skin ul li:nth-child(3) label{
  background: #d0967e;
}
.skin ul li:nth-child(4) label{
  background: #c57456;
}
.skin ul li:nth-child(5) label{
  background: #78412a;
}
.skin ul li:last-child label{
    text-align: center;
    font-weight: bold;
    position: relative;
}
.skin ul li:last-child label span{
  display: inline-block;
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 34px 0;
  left: 0;
  top: 0;
}
.skin ul li input[type="radio"]:checked+label{
  border:4px solid #ff6c00;
}
.social-filed input[type=text]{ margin-bottom: 0; }
.social-filed{
  padding-bottom: 37px;
}
.type-box ul{
  margin: 0;
}
.type-box ul li h4{
  margin-top: 0;
}
.Color-prefer ul{
  float: left;
  width: 100%;
  padding: 0;
  margin: 0;
}
.Color-prefer ul li{
  display: inline-block;
  margin-right: 44px;
}
.Color-prefer ul li label {
    display: inline-block;
    height: 100px;
    width: 120px;
    border: 1px solid #ccc;
    cursor: pointer;
}
.Color-prefer ul li:first-child label{
  background: #000000;
}
.Color-prefer ul li:nth-child(2) label{
  background: #c2c2c2;
}
.Color-prefer ul li:nth-child(3) label{
  background: #ffffff;
}
.Color-prefer ul li:nth-child(4) label{
  background: #eed7c1;
}
.Color-prefer ul li:nth-child(5) label{
  background: #7f3a3e;
}
.Color-prefer ul li:nth-child(6) label{
  background: #88007c;
}
.Color-prefer ul li:nth-child(7) label{
  background: #008020;
}
.Color-prefer ul li:nth-child(8) label{
  background: #001bf8;
}
.Color-prefer ul li:nth-child(9) label{
  background: #ffa031;
}
.Color-prefer ul li:nth-child(10) label{
  background: #fffe45;
}
.Color-prefer ul li:nth-child(11) label{
  background: #ff001c;
}
.Color-prefer ul li:nth-child(12) label{
  background: #ffbdca;
}
.Color-prefer ul li input[type="radio"]:checked+label{
  border:4px solid #ff6c00;
}
.Color-prefer ul li h4{
  margin-top: 0;
}
.type-box2 ul li {
    width: 16%;
}
.note-label ul{
  float: left;
  width: 100%;
  padding: 0;
  margin: 0;
}
.note-label ul li {
    display: inline-block;
    width: auto;
    margin: 7px 5px;
}
.note-label ul li label{
  width: 100%;
  border:1px solid #ccc;
  padding: 7px 15px;
  font-size: 15px;
  text-align: center;
  margin: 0;
  cursor: pointer;
}
.note-label ul li input[type="checkbox"]:checked+label{
  background: #232f3e;
  color: #fff;
}
.textarea-box textarea {
    width: 100%;
    height: 100px;
}
.accessorise h4{
  margin-top: 0;
  text-transform: uppercase;
}
.accessorise .select-boxes select{
  width: 250px;
  margin-bottom: 10px;
}
.accessorise .select-boxes select:focus{
  outline: none;
}
#Section4 .type-box ul li{
  width: 21%;
}
.women-type-box ul li{
  width: 17%;
}
.women-type-box ul li label:before {
    height: 30px;
    width: 30px;
    right: -8px;
    top: -9px;
}
.women-type-box ul li input[type="radio"]:checked + label:after, .women-type-box ul li input[type="checkbox"]:checked + label:after{
    right: -20px;
    top: -5px;
}
.input-control.radio input:checked ~ .input-control__indicator:after{
    background: #ef6a04;
}
.checkboxes .select-boxes ul li input[type="checkbox"]:checked + label:before{
  font-family: FontAwesome;
}
.checkboxes .select-boxes ul {
    margin-bottom: 10px;
    margin-left: 0;
    padding: 0;
}
.date-box input[type=text]{
      height: 40px;
    color: #000;
}
.type-box-preference ul li input[type="radio"]:checked + label{
    background: none;
    border: 3px solid #ef6a04;
}
.data-filup .tab-pane h2 {
    font-weight: bold;
    color: #232e3e;
    font-family: "Amazon Ember", Arial, sans-serif;
    font-size: 22px;
}
.form-box-data-women2{
      padding-top: 10px !important;
}
.type-box ul li label{
  width: 100%;
}
.checkboxes .select-boxes ul li input[type="checkbox"]:checked + label:before {
    background: #ef6a04;
    border: 1px solid #ef6a04;

}
.denim-styles .select-boxes ul li .switch-field label{
  width:76px;
}
.catlog-product-img {
    object-fit: contain;
    display: inline-block;
    width: 100%;
}
.catlog-product-img ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    float: left;
    text-align: left;
}
.catlog-product-img ul li {
    width: 30%;
    padding: 0px 8px;
    overflow: hidden;
    display: inline-block;
    margin-right: 24px;
}
.catlog-product-img ul li img {
    width: 100%;
    object-fit: contain;
    vertical-align: middle;
}
.catlog-product-img ul li h4 {
    text-align: center;
    margin-top: 11px;
    float: left;
    width: 100%;
    margin-bottom: 0;
}
.upload-img {
    float: left;
    width: 100%;
    height: 200px;
    overflow: hidden;
    position: relative;
}
.upload-img span {
    position: absolute;
    top: 7px;
    right: 6px;
    z-index: 1;
    background: rgba(255, 255, 255, 0.42);;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    text-align: center;
    padding-top: 7px;
    font-size: 13px;
    color: #242f3f;
    cursor: pointer;
}
.upload-img span:hover{
  background:rgba(239, 106, 4, 0.77);
  color: #ffffff;
}
.body-men ul li label {
    text-align: center;
}
.body-men ul li label img {
    width: 70px;
}
.type-box ul li input[type="radio"]:checked + label, .type-box ul li input[type="checkbox"]:checked + label {
    border: 1px solid #ef6a04;
    background: none;
}
.type-box ul li label:before {
    content: "";
    position: absolute;
    display: block;
    height: 25px;
    width: 25px;
    right: 0;
    top: -19px;
    border-radius: 100%;
}
.type-box ul li input[type="radio"]:checked + label:after, .type-box ul li input[type="checkbox"]:checked + label:after {
    font-weight: 900;
    content: "\f00c";
    display: inline-block;
    position: absolute;
    display: block;
    height: 25px;
    width: 25px;
    right: 0;
    top: -18px;
    font-size: 15px;
    color: #fff;
    font-family: FontAwesome;
    text-align: center;
}
.form-box-data h4{margin-top: 15px;}
.checkboxes.mostly-wear .select-boxes ul li{
    width: 19%;
}
.type-box.body-women ul li label img {
    width: 65px;
}
.type-box.body-women ul li label {
    text-align: center;
}
.prefer-women ul li{
  width: 22%;
}
.prefer-women ul li label {
    width: 140px;
}
.prefer-women ul li span input[type="radio"] {
    position: relative;
    top: 3px;
    margin-right: 5px;
    cursor: pointer;
}
.women-wear-radio{
  float: left;
  width: 100%;
  margin-bottom: 20px;
}
.prefer-women ul li span {
    display: inline-block;
    font-size: 12px;
    color: #757575;
    width: 100%;
    margin: 4px 0;
}
.prefer-women .women-wear-radio span label {
    display: inline-block;
    width: 100%;
    padding: 0;
    margin: 0 !important;
    border: none;
    letter-spacing: inherit;
    padding-left: 22px;
    line-height: 14px;
    text-align: left;
    font-size: 13px;
    font-family: "Amazon Ember", Arial, sans-serif;
}
.prefer-women .women-wear-radio span label span.input-control__indicator {
    border-radius: 80%;
    display: block;
    height: 15px;
    position: absolute;
    top: -3px;
    left: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 15px;
    text-align: center;
    background-color: #c1c0c0;
    background-size: 50% 50%;
    background-position: center center;
    background-repeat: no-repeat;
}
.prefer-women ul li .women-wear-radio span input[type="radio"] {
  margin-right: 2px;
}
.prefer-women .type-box ul li{
  position: inherit;
}
.prefer-women .type-box ul li label.error {
    bottom: -11px;
    left: 25px;
}
/******************End Men Profile page*******************/

/******************Start Kids Profile page*******************/
.looking-main{
  padding-bottom: 35px
}
.looking .switch-field label{
  width: 145px;
}
.child-shape{
  float: left;
  width: 100%;
}
.child-shape label {
    display: inline-block;
    padding-left: 25px;
    margin-right: 15px !important;
    margin-top: 0 !important;
}
.child-shape .switch-field label{
  margin-right: 0 !important;
}
/*.child-shape .switch-field{
  display: none;
}
#radioc16a3:checked ~ #boy, #radioc16b3:checked ~ #Girls,#radioc16a:checked ~ #boy, #radioc16b:checked ~ #Girls,#radioc16a4:checked ~ #boy, #radioc16b5:checked ~ #Girls,#radioc16a4a:checked ~ #boy, #radioc16b5b:checked ~ #Girls{
  display: block !important;
}*/
.child-shape .radio-boxed-child{
      position: absolute;
    width: auto !important;
    z-index: 1;
    opacity: 0;
}
.child-shape input:checked + label .input-control__indicator{
  background: #232e3e;
}
.child-shape input:checked + label .input-control__indicator:after {
    border-radius: 80%;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    width: 100%;
    background: white;
    background: #ef6a04;
}
.style-kids .select-boxes ul {
    padding: 0;
}
.style-kids .select-boxes ul li .switch-field label {
    width: 80px;
    font-size: 13px;
    float: none;
    margin: 0 -3px;
}
.kids-form-bnox ul{ float: left; width: 100%; padding: 0; margin: 0;}
.kids-form-bnox ul li{
  display: inline-block;
  width: 49%;
}
.textarea-box textarea{
  float: left;
  width: 100%;
  margin-top: 30px;
  padding: 15px;
}
.switch-field{
  text-align: center;
}
.style-kids .select-boxes ul li .activities-img{
  width: 100%;
  float: left;
  border: 1px solid #ccc;
  padding: 15px;
  text-align: center;
  margin: 15px 0 10px;
}
.style-kids .select-boxes ul li .activities-img img {
    width: 130px;
}
.style-kids .select-boxes .switch-field{ display: inline-block; width: 100%; }
.child-price label[for="radioc16a3"],.child-price label[for="radioc16b3"]{ margin-bottom: 0 !important; }
.child-price .form-box-data .occupation label.input-control{ border: none; width: auto; padding: 0 0 0 28px;}
.form-box-data3 .switch-field label{
  width: 133px;
}
.switch-field .btn-group .btn.active,.switch-field .btn-group .btn:active {
    background-color: #fe6c00;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #232e3e;
}
.kids-radio{
  overflow: visible;
}
.switch-field .btn-group label.error{
    position: absolute;
    background: none;
    border: none;
    left: 0;
    top: -23px;
    padding: 0;
    outline: none !important;
}
.switch-field .btn-group label.error:focus{
  outline: none !important;
}
/******************End Kids Profile page*******************/
#dueDatePragent,#maternity_we,#Loose_we,#fig_pregnant{
  display: none;
}

@media only screen and (max-width: 1199px){
  #button-tablist.fixed{
    width: 704px;
  }
  .tab-button-list ul li {
    width: 25%;
}
.style-contain .tab .nav-tabs li a{
  font-size: 14px;
}
.style-contain .left-bar{
   width: 205px;
}
.style-contain .left-bar .profile-image {
    width: 100%;
    height: auto;
}
.style-contain .left-bar .profile-image span {
    width: 100%;
    height: auto;
    overflow: visible;
}
.style-contain .left-bar .profile-image img {
    width: 100%;
    height: auto;
}
.occupation ul li {
    width: 49%;
}
.catlog-product-img ul li {
    width: 29%;
}
.type-box ul li {
    margin: 10px 5px;
}
.form-box-data h4{
  font-size: 14px;
}
.skin ul li {
    margin-right: 5px;
}
/******************Start Women Profile page*******************/
.denim-styles .select-boxes ul li {
    width: 47%;
    text-align: center;
}
.form-box-data2 .col-md-3{width: 30%;}
.form-box-data .select-boxes .select-box select#dress,
.form-box-data .select-boxes .select-box select#shirt_blouse,
.form-box-data .select-boxes .select-box select#pantsr1{
    margin-bottom: 10px;
}
/******************End Women Profile page*******************/
}
@media only screen and (max-width: 1024px){
  .style-kids .select-boxes ul li {
    width: 47%;
}
#Section2 .switch-field label {
    width: 80px;
    padding: 10px 0;
    font-size: 13px;
}
.form-box-data3 .switch-field label {
    width: 100px;
    font-size: 14px;
    padding: 10px 0;
}

}
@media only screen and (max-width: 991px){
.tab-button-list {
    float: right;
    width: 100%;
    position: fixed;
    left: 0;
    z-index: 11;
    padding: 0 128px;
}
#button-tablist.fixed {
    width: 100%;
    position: relative;
    top:-1px;
}
#sidebar.fixed, #sidebar2.fixed, #sidebar3.fixed, #sidebar4.fixed, #button-tablist.fixed {
  position: relative;
  width: 100%;
}
#button-tablist.fixed {
    border-right: 1px solid #ccc;
}
.style-contain .right-bar{
  width: 100%;
  padding: 20px 20px 20px;
}
.style-contain .right-bar:after{
  display: none;
}
.style-contain {
    padding-top: 12.3%;
}
.style-contain .tab-content {
    padding-top: 30px;
}
.style-contain .left-bar .profile-image {
    width: 130px;
    height: auto;
    float: left;
    margin-top: -31px;
}
.data-filup .tab-pane h2 {
    float: right;
    width: 78%;
    text-align: left;
}
.style-contain .left-bar p {
    float: right;
    width: 78%;
    text-align: left;
}
.data-filup .tab-pane h1{
  display: none;
}
.occupation ul li {
    width: 32%;
}
.form-box-data.accessorise .col-md-4 {
    width: 50% !important;
    float: left;
}
/******************Start Women Profile page*******************/
.data-filup .tab-pane h1 {
    display: inline-block;
    text-align: left;
    float: right;
    width: 78%;
    margin-top: 20px;
}
/*.data-filup #Section1 h2,*/.data-filup .tab-pane h1{
  display: none;
}
.checkboxes .col-sm-8{
  width:100%;
}
.checkboxes .select-boxes ul li {
    width: 32%;
}
#Section2 .switch-field label {
    width: 94px;
    display: inline-block;
    float: none;
    margin: 0 -2px;
}
/******************End Women Profile page*******************/
.switch-field {
    text-align: left;
    overflow: visible;
}
.style-kids .select-boxes ul li .switch-field{
  text-align: center;
}
.inspiri{
  width: 100% !important;
  text-align: center !important;
}
}
@media only screen and (max-width: 990px){
  .tab-button-list {
    padding: 0 92px;
}
.style-contain {
    padding-top: 121px;
}
}
@media only screen and (max-width: 870px){
.style-contain .tab .nav-tabs li a {
    font-size: 14px;
    height: 55px;
    line-height: 17px;
    padding-top: 17px !important;
}
.style-contain .tab .nav-tabs li:last-child a{
  padding-top: 10px !important;
}
.tab-pane {
    margin-top: 25px;
}
.tab-button-list {
    padding: 0 75px;
}
}
@media only screen and (max-width: 825px){
  .tab-button-list {
    padding: 0 50px;
}
}
@media only screen and (max-width: 800px){
.tab-button-list {
    padding: 0 37px;
}
.style-contain .tab {
    margin-top: 0;
}
}
@media only screen and (max-width: 767px){
  .tab-button-list {
    width: 100%;
    padding: 0;
}
.occupation ul li {
    width: 49%;
}
.Color-prefer ul li {
    margin-right: 29px;
}
#sidebar.fixed, #sidebar2.fixed, #sidebar3.fixed, #sidebar4.fixed, #button-tablist.fixed {
    padding: 0;
}
.style-contain .right-bar {
    padding: 20px 0 20px;
}
.style-contain .tab .nav-tabs li:last-child a {
    padding-top: 17px !important;
}
/******************Start Women Profile page*******************/
.checkboxes .select-boxes ul li label{
  width: 100%;
}
/******************End Women Profile page*******************/
.switch-field {
    text-align: left;
    overflow: visible;
    float: left;
    width: 100%;
}
.looking-main h3{
  float: left;
  width: 100%;
}
.switch-field .btn-group label.error {
    left: 0 !important;
    top: -23px !important;
}
.women-type-box ul li {
    width: 27%;
}
}
@media only screen and (max-width: 690px){
.style-contain .tab .nav-tabs li:last-child a {
    padding-top: 10px !important;
}
}
@media only screen and (max-width: 640px){
  .style-contain .left-bar p {
    width: 73%;
}
.data-filup .tab-pane h2,.data-filup .tab-pane h1 {
    width: 73%;
}
.catlog-product-img ul li {
    width: 27%;
}
.upload-img {
    height: 140px;
}
#Section2 .type-box ul li label{
  text-align: center;
}
#Section2 .type-box ul li label img {
    width: 120px;
}
#Section2 .type-box2 ul li label img{
  width: 100%;
}
.Color-prefer ul li {
    margin-right: 15px;
}
/******************Start Women Profile page*******************/
.women-type-box ul li {
    width: 30%;
}
.form-box-data2 .col-md-3 {
    width: 100%;
}
.prefer-women ul li {
    width: 30%;
    text-align: left;
}
.prefer-women .women-wear-radio span label{
  text-align: left !important;
}
/******************End Women Profile page*******************/
#Section2 .switch-field label {
    width: 80px;
}
}

@media only screen and (max-width: 560px){
.Color-prefer ul li label {
    height: 85px;
    width: 105px;
}
.catlog-product-img ul li {
    width: 33%;
    margin-right: -3px;

}
#Section2 .switch-field label {
    width: 64px;
}
.style-kids .select-boxes ul li {
    width: 46%;
}
.form-box-data h3 {
    font-size: 18px;
}
.right-bar label.error {
    top: 17px !important;
}
.data-filup .tab-pane h2, .data-filup .tab-pane h1 {
    width: 70%;
}
.style-contain .left-bar p {
    width: 70%;
}
 .checkboxes.mostly-wear .select-boxes ul li {
    width: 29%;
}
.denim-styles .select-boxes ul li {
    width: 100%;
}
.denim-styles .select-boxes ul li .switch-field {
    text-align: center;
}
}
@media only screen and (max-width: 500px){
#Section4 .type-box ul li {
    width: 29%;
}
.style-contain .left-bar p {
    width: 65%;
}
.data-filup .tab-pane h2,.data-filup .tab-pane h1 {
    width: 65%;
}
.style-contain .tab .nav-tabs li:first-child a{
  padding-top: 10px !important;
}
.type-box2 ul li {
    width: 28%;
}
.Color-prefer ul li label {
    height: 100px;
    width: 130px;
}
.prefer-women ul li {
    width: 42%;
}
.checkboxes .select-boxes ul li {
    width: 46%;
}
.denim-styles .select-boxes ul li {
    width: 44%;
}
}
@media only screen and (max-width: 480px){
.tab-button-list{
  position: relative;
}
.tab-button-list ul li {
    width: 100%;
}
.style-contain .tab .nav-tabs li a {
    height: inherit;
    border-bottom: 1px solid #ccc;
    padding: 15px 0 !important;
    border-left: none !important;
}
.form-box-data h3 {
    font-size: 17px;
    font-weight: bold;
}
.upload-img {
    height: auto;
    float: none;
    display: inline-block;
    width: 69%;
}
.catlog-product-img ul li {
    width: 100%;
    margin-right: 0;
    text-align: center;
    margin-bottom: 17px;
}
.catlog-product-img ul li h4 {
    margin-top: 6px !important;
}
.button-box button{
  margin-top: 0;
  margin-right: 0 !important;
}
.form-box-data nav b font {
    font-size: 14px;
}
.occupation ul li {
    width: 100%;
}
.social-filed .form-control {
    width: 100% !important;
}
.style-contain .nav-tabs>li.active>a {
    color: #ff6c00 !important;
    border-bottom: 1px solid #ff6c00 !important;
    border-left: 1px solid #ddd !important;
    border-top: 1px solid #ff6c00 !important;
}
.style-contain .tab-content {
    padding-top: 0;
}
#Section4 .type-box ul li {
    width: 45%;
}
.form-box-data.accessorise .col-md-4 {
    width: 100% !important;
}
.denim-styles .select-boxes ul li {
    width: 100%;
    margin: 7px 0;
}
.kids-form-bnox ul li {
    width: 100%;
}
.style-kids .select-boxes ul li {
    width: 100%;
    margin: 0;
}
#Section2 .switch-field label {
    width: 90px;
}
.women-type-box ul li {
    width: 40%;
}
}
@media all and (max-width: 441px) {
.data-filup .tab-pane h2, .data-filup .tab-pane h1 {
    width: 61%;
}
.style-contain .left-bar p {
    width: 61%;
}
}
@media only screen and (max-width: 431px){
.prefer-women .type-box ul li label.error {
    top: 37px !important;
}
}
@media only screen and (max-width: 400px){
  .data-filup .tab-pane h2,.data-filup .tab-pane h1 {
    width: 100%;
}
.style-contain .left-bar p {
    width: 100%;
}
.style-contain .left-bar .profile-image{
  margin-top: 0;
}
#Section4 .type-box ul li {
    width: 44%;
    margin: 0 !important;
}
.catlog-product-img ul li:last-child{
  margin-bottom: 0; 
}
.women-type-box ul li {
    width: 42%;
}
.checkboxes.mostly-wear .select-boxes ul li {
    width: 47%;
}
.form-box-data .occupation label.input-control {
    font-size: 15px !important;
}
}
@media only screen and (max-width: 360px){
  .skin ul li label {
    width: 80px;
    height: 80px;
  }
  .type-box2 ul li {
    width: 44%;
}
.skin ul li:last-child label span {
    padding: 26px 0;
    font-size: 13px;
}
#Section2 .type-box ul li label img {
    width: 112px;
}
.form-box-data nav b {
    margin-top: 10px;
}
.form-box-data h4 {
    margin-top: 10px !important;
}
.checkboxes .select-boxes ul li {
    width: 100%;
}
.looking .switch-field label {
    width: 125px;
}
.form-box-data3 .switch-field label {
    width: 92px;
}
}
@media only screen and (max-width: 330px){
.Color-prefer ul li {
    margin-right: 10px;
    float: left;
    width: 46%;
}
.type-box2 ul li {
    width: 42%;
}
}

.Color-prefer ul li input[type="checkbox"]:checked + label {
    border: 4px solid #ff6c00;
}

