@import "_media-queries";
@import "_colors";

/* GENERAL */
html,body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    padding: 0;
    margin: 0;
    color: #424242;
    height: 100%;
    width: 100%;
}
a:hover { text-decoration: none;  }
img { max-width: 100%;  }

.overflow {
    background: url(../images/img.jpg) center center no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1px;
    overflow: hidden;
    &:after {
        content: '';
        background: rgba(0,0,0,0.3);
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
    }
}

.login-box {
    position: relative;
    z-index: 99;
    width: 450px;
    background: rgba(0,0,0,0.8);
    margin: 0 auto;
    margin-top: 100px;
    overflow: hidden;
    padding: 40px 60px;
    border-radius: 5px;
    form {
        legend {
            color: #FFF;
            font-weight: 700;
            font-size: 28px;
            margin-bottom: 30px;
        }
        .form-group.has-error {
            input[type="text"],input[type="email"],input[type="password"] {
                border-bottom: 2px solid #E87C03 !important;
            }
            .error-message {
                color: #E87C03;
                font-size: 13px;
                margin-top: 5px;
            }
        }
        label {
            float: left;
            color: #b3b3b3;
            font-size: 13px;
        }
        a {
            display: inline-block;
            float: right;
            color: #b3b3b3;
            font-size: 13px;
        }
        input[type="text"],input[type="email"],input[type="password"] {
            background-color: #333;
            border: 0;
            color: #ffffff !important;
            height: 50px;
            font-size: 15px;
            &:focus {
                background-color: #454545;
                outline: 0;
                box-shadow: none;
            }
            &::-webkit-input-placeholder { color: #8c8c8c; }
            &:-ms-input-placeholder { color: #8c8c8c; }
            &::placeholder { color: #8c8c8c; }
        }
        button {
            background-color: #E50914;
            color: #FFF;
            height: 50px;
            border-radius: 5px;
            border: 0;
            width: 100%;
            font-weight: 700;
            font-size: 16px;
            &:focus {
                outline: 0;
                box-shadow: none;
            }
        }
    }
    .form-bottom {
        margin-top: 150px;
        .fbbb {
            color: #737373;
            font-size: 13px;
            margin-bottom: 10px;
        }
        span {
            color: #737373;
            font-size: 15px;
            font-weight: 500;
        }
        a {
            color: #fff;
            font-size: 15px;
            font-weight: 500;
        }
    }
}

#footer {
    background: rgba(0,0,0,0.8);
    position: relative;
    z-index: 99;
    margin-top: 100px;
    padding-top: 50px;
    padding-bottom: 100px;
    ul {
        padding: 0;
        margin: 0;
        li {
            list-style-type: none;
            display: inline-block;
            margin-right: 50px;
            &:last-child { margin-right: 0; }
            a {
                color: #737373;
            }
        }
    }
    select {
        height: 50px;
        padding: 0 20px;
        background-color: #000;
        border: 1px solid #999;
        color: #737373;
    }
}

/* HEADER */
#header {
    background-color: #000;
    padding: 15px 50px;
    display: flex;
    .logo {
        img { max-width: 118px; }
    }
    ul {
        padding: 0;
        margin: 0;
        padding-left: 30px;
        display: flex;
        align-items: center;
        flex-grow: 1;
        li {
            list-style-type: none;
            color: #FFF;
            font-size: 18px;
            font-weight: 600;
            cursor: pointer;
            color: #CCC;
            transition: all 0.3s;
            display: inline-block;
            margin-right: 15px;
            &:last-child { margin-right: 0; }
            &:hover { color: #FFF; }
        }
    }
    .right {
    }
}

/* HEADER 2 */
#header2 {
    background-color: #fff;
    padding: 15px 50px;
    display: flex;
    border-bottom: 1px solid #e6e6e6;
    .logo {
        flex-grow: 1;
        img {
            max-width: 167px;
            @include respond-down(xs) { max-width: 100px; }
        }
    }
    p {
        display: flex;
        align-items: center;
        color: #000;
        font-weight: 700;
        font-size: 20px;
        margin-bottom: 0;
        color: #333333;
        cursor: pointer;
        &:hover { text-decoration: underline; }
        @include respond-down(xs) { font-size: 16px; }
    }
}

/* MAIN */
#main {
    padding: 30px 0;
    .page-title {
        color: #333;
        font-weight: 700;
        font-size: 22px;
        margin-bottom: 10px;
    }
    .page-text {
        font-size: 14px;
        color: #333;
        margin-bottom: 30px;
    }
    form {
        label {
            display: block;
            position: relative;
            margin-bottom: 10px;
            &.has-error {
                input {
                    border-color: #b92d2b;
                }
                .error-message {
                    font-size: 13px;
                    color: #b92d2b;
                }
            }
            .label-txt {
                position: absolute;
                top: 20px;
                left: 10px;
                transition: ease .3s;
                margin-bottom: 0;
                font-size: 16px;
                color: #8c8c8c;
                &.label-active {
                    top: 5px;
                    font-size: 13px;
                    font-weight: 700;
                }
            }
            input {
                width: 100%;
                padding-left: 10px;
                padding-right: 10px;
                padding-top: 30px;
                padding-bottom: 10px;
                border: 1px solid #8c8c8c;
                outline: none;
                height: 65px;
            }
        }
        button {
            border-radius: 2px;
            min-height: 48px;
            width: 100%;
            font-size: 17px;
            color: #fff;
            background-color: #e50914;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
            border: 0;
            margin-top: 30px;
            &:focus {
                outline: 0;
                box-shadow: none;
            }
        }
    }
    .success {
        text-align: center;
        svg {
            color: #e50914;
            font-size: 36px;
            margin-bottom: 20px;
        }
        p {
            font-size: 14px;
            color: #333;
            margin-bottom: 0;
        }
        h3 {
            color: #333;
            font-weight: 700;
            font-size: 18px;
        }
        button {
            border-radius: 2px;
            min-height: 48px;
            width: 100%;
            font-size: 17px;
            color: #fff;
            background-color: #e50914;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
            border: 0;
            font-weight: 600;
            &:focus {
                outline: 0;
                box-shadow: none;
            }
        }
    }
}

/* FOOTER 2 */
#footer2 {
    margin-top: 100px;
    border-top: 1px solid #e6e6e6;
    background-color: #f3f3f3;
    padding: 30px 50px;
    p {
        color: #a6a6a6;
        margin-bottom: 20px;
        font-size: 16px;
    }
    ul {
        padding: 0;
        margin: 0;
        li {
            list-style-type: none;
            color: #a6a6a6;
            margin-bottom: 10px;
            &:last-child { margin-bottom: 0; }
        }
    }
}

.loader {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
}

.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #E50915;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
