<section class="inner-banner inner-banner2"><img src="https://www.drapefit.com/images/banner-final1.jpg"></section>
<section class="how-it-work">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="it-work-top">
                        <div class="section-head" data-aos="fade-down">
                            <h2><span>FIT BOX</span> PRICING</h2>
                            <img src="<?= $this->Url->image('header-booten.png'); ?>">
                            <p>Our dedicated team of professional Stylists work within your budget to provide you fabulous new outfits  at the prices you set. Take a style quiz to tell us what your needs and budget , and your personal Stylist will connect with you.</p>
                        </div>
                        <div class="section-head" data-aos="fade-down">
                            <h2><span>How it</span> Works</h2>
                            <img src="<?= $this->Url->image('header-booten.png'); ?>">
                        </div>
<div class="section-head2">
                        <div class="row">
                            <div class="col-sm-12 col-lg-4 col-md-4">
                                <div class="how-it-item" data-aos="zoom-in">
                                    <div class="item-round-images">
                                        <span class="item0_no">
                                            01
                                        </span>
                                        <span class="round-img">
                                            <img src="<?= $this->Url->image('Men9b.jpg'); ?>">
                                        </span>
                                    </div>
                    <h3>Create A Style Profile</h3>
                    <p>Take a quiz at Drape Fit to tell about your shape, style, price, and other styling preferences with your personal Stylist.</p>
                                    
                                </div>
                            </div>

                            <div class="col-sm-12 col-lg-4 col-md-4">
                                <div class="how-it-item" data-aos="zoom-in">
                                    <div class="item-round-images">
                                        <span class="item0_no">
                                            02
                                        </span>
                                        <span class="round-img">
                                            <img src="<?= $this->Url->image('Women13.jpg'); ?>">
                                        </span>
                                    </div>
                                    <h3>Request A FIT Box Delivery</h3>
                    <p>Get hand-picked pieces of clothing by your Stylist delivered to your home, monthly or quarterly.</p>
                                    
                                </div>
                            </div>

                            <div class="col-sm-12 col-lg-4 col-md-4">
                                <div class="how-it-item" data-aos="zoom-in">
                                    <div class="item-round-images">
                                        <span class="item0_no">
                                            03
                                        </span>
                                        <span class="round-img">
                                        <img src="<?= $this->Url->image('what-l.jpg'); ?>">
                                        </span>
                                    </div>
                                    <h3>Keep What You Love</h3>
                    <p>Take 5 days to FIT, Choose, and think and connect with your personal Stylist for any queries. Try before and keep what you love.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                        <div class="text-center pb-40 mt-5">
                            <a href="javascript:void(0)" onclick="document.getElementById('id01').style.display = 'block'" class="sign-up-btn">Take your style quiz</a>
                            <br>
                            <span>
                            <a href="javascript:void(0)" class="sign-up-member">Already have an account?</a>
                            <a href="javascript:void(0)" class="sign-in" onclick="document.getElementById('id01').style.display = 'block'">Sign in</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>

<section class="expecting about-pricing">
    <div class="container">
        <div class="row">
        <div class="col-md-12"> 
        <div class="section-head" data-aos="fade-down">
        <h2><span>About Our </span> Pricing</h2>
        <img src="<?= $this->Url->image('header-booten.png'); ?>">
        <p>Pay for what you spend on each delivery</p>
        </div>
        </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="mens-fit-text" style="text-align: center;">
                    <h4>PERSONALIZED PRICING</h4>
                    <P>You pay on what you spend in each clothing category. Your personal Stylist will send you outfits only within the price ranges you set.</P>
                    <hr>
                        <h4>STYLING FEE</h4>
                        <p>Each FIT Box has a $20 styling fee is applied to your purchase, and you’re only billed for what you
                        keep. It’s Free Shipping! Prepaid return envelope included.</p>
                        <hr>
                        <h4>TRY BEFORE YOU BUY</h4>
                        <p>Try your apparels before you decide to keep them. Keep what you like and return what doesn’t FIT
                        you.</p>
                </div>
            </div> 
            <div class="col-md-6">
                <div class="mens-fit-image">
                    <img src="/img/about-pricing.png">
                </div>
            </div>
        </div>
      </div>
</section> 


<section class="expect-box">    
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12 col-md-12">
                <div class="section-head" data-aos="fade-down">
                    <h2><span>WHAT TO  </span> EXPECT FROM US</h2>
                    <img src="<?= $this->Url->image('header-booten.png'); ?>">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-lg-12 col-md-12">
                <ul>
                    <li>
                        <div class="expect-box-small">
                            <div class="boxes1" data-aos="zoom-in">
                                <h4>ORDER ON DEMAND</h4>
                                <p>You can order your FIT Box on your need.Schedule online and cancel any time.</p>
                                <span>01</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="expect-box-small">
                            <div class="boxes2" data-aos="zoom-in">
                            <h4>TRY IN HOME</h4>
                            <p>A FIT Box will be delivered in your door.Try at home and return if you don’t like.You have 5 days to buy or return.It’s that easy.</p>
                            <span>02</span>
                        </div>
                        </div>
                    </li>
                    <li>
                        <div class="expect-box-small">
                            <div class="boxes1" data-aos="zoom-in">
                            <h4>SAVE UP TO 25%</h4>
                            <p>Plenty options to save.If you keep all items you can save up to 25%.</p>
                            <span>03</span>
                        </div>
                        </div>
                    </li>
                    <li>
                        <div class="expect-box-small">
                            <div class="boxes2" data-aos="zoom-in">
                            <h4>FREE SHIPPING AND RETURNS</h4>
                            <p>Free shipping both the ways.Keep what you like.Return what doesn’t FIT you.</p>
                            <span>04</span>
                        </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>


<section class="cost box-price-cost">
    <div class="container">
        <div class="row">
      <div class="col-sm-12">
        <div class="section-head" data-aos="zoom-in">
          <h2><span>What you Pay</span> and When</h2>
          <p>The styling fee is the only charge you’ll see before the shipment arrives. There are no subscription costs and no obligation to buy.</p>
          <img src="<?= $this->Url->image('header-booten.png'); ?>">
        </div>
      </div>
    </div>
        <div class="row">
        <div class="col-md-6">
          <img src="<?= $this->Url->image('clothescost.jpg'); ?>">             
        </div>
            <div class="col-md-6">
                <div class="cost-details">
                    <ul>
                        <li>
                        <h4>1. SCHEDULE A FIT BOX DELIVERY</h4>
                        <p>Let us know what you like to receive and save your credit details. You won’t be charged till the Styling team gets into Styling.<p>
                        </li>
                        <li>
                        <h4>2. OUR PROFESSIONAL STYLING TEAM GETS TO WORK</h4>
                        <p>You’ll be charged $20 once we start styling you. We will apply it toward anything you keep.</p>
                        </li>
                        <li>
                        <h4>3. GET YOU DELIVERY &amp; BUY WHAT YOU WANT</h4>
                        <p>Check out online to buy what you want to keep. If you keep all the items, you can save up to 25% . </p>
                        </li>
                        <li>
                        <h4>4. FREE SHIPPING, RETURNS &amp; EXCHANGES</h4>
                        <p>If you’d like to exchange an item, let us know when you check out. Shipping is always on us both the ways.</p>
                        </li>
                      </ul>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="do-best-fit">
    <div class="container">
      <div class="row">
      <div class="col-sm-12">
        <div class="section-head" data-aos="zoom-in">
          <h2><span>What our </span> Clothes Cost</h2>
          <p>Our high-quality items range in price from $20 - $600, with an average cost of $55 per item. No matter what your budget is, with endless styles and more than 1,000 brands at our fingertips, we’ll always discover something special for you.</p>
          <img src="<?= $this->Url->image('header-booten.png'); ?>">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="do-best-fit-round-main">
          <div class="best-fit-round-left" data-aos="zoom-in">
            <img src="<?= $this->Url->image('clothescost.jpg'); ?>">
          </div>
          <div class="best-fit-round-left best-fit-round-right" data-aos="zoom-in">
            <h3>Finally Ready To Sign Up ?</h3>
            <p>We are the best online personal style provider.We do give our client with plenty of options to get a best FIT.Upgrade your style in easy steps.</p>
            <a href="javascript:void(0)" class="sign-up-btn" onclick="document.getElementById('id01').style.display = 'block'">COMPLETE YOUR FIT PROFILE</a>
            <br>
            <span>
                        <a href="javascript:void(0)" class="sign-up-member" onclick="document.getElementById('id01').style.display = 'block'">Already a member ?</a>
                        <a href="javascript:void(0)" class="sign-in" onclick="document.getElementById('id01').style.display = 'block'">Sign in</a>
                    </span>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>
