<?php /* ?><section class="page-sections">
    <?php echo $pageDetails->description ?>
</section><?php */ ?>

<section class="inner-banner inner-banner2"><img src="https://www.drapefit.com/images/banner-final1.jpg"></section>
<section class="how-it-work inner-b">
<div class="container">
<div class="row">
<div class="col-sm-12">
<div class="it-work-top">
<div class="section-head" data-aos="fade-down">
<ul>
  <li><a href="https://drapefittest.com/">Home</a></li>
  <li>&gt;</li>
  <li>Careers</li>
</ul>

<h2>Careers</h2>
<img src="/img/header-booten.png">
<p>Drape Fit is the best personal styling service that gives you an effortless styling experience. Our mission is to be the customer's go-to destination for head-to-toe styling by crating on-trend <a href="<?= HTTP_ROOT; ?>careers">fashion and styling amazing outfits for people</a> every day. With customers in over 90 countries and product assortment in clothing, bags, shoes, accessories and jewelry, we are experiencing amazing growth.At Drape Fit, we are always looking for passionate and talented people to join our team at our headquarters in Houston, Texas. We offer a creative and collaborative environment with opportunity to make a difference and contribute to building a global style.If you're enthusiastic about joining a growing start-up that values a true styling experience, exciting new technology, and constant innovation, check out our job listing below.</p>
</div>
</div>
</div>
</div>
</div>
</section>

<section class="page-sections">
    <div class="container">
        <div class="operations-assistant">
            <div class="container">
                <div class="row">
                    <?= $this->Flash->render() ?>
                    <div class="assistant-text" >
                        <div class="section-head" data-aos="fade-down">
                        <h2>Styling</h2>
                        <img src="<?= $this->Url->image('header-booten.png'); ?>">
                        <p>Our Styling team works remotely across the country and is committed to providing customers with handpicked looks they’ll love.</p>
                        <h3>See Team Openings -></h3>
                        <h3>Be A Drape Fit Stylist :</h3>
                        <div class="apply-box" style="text-align:center">
                        <a  href="#applyform" class="sign-up-btn">Apply Now</a>
                    </div>
                        </div>
                        
                        <p style="text-align:center">Help make our clients look & feel their best by joining a team of Stylists who are passionate about fashion & style!

                        <p style="text-align:center">We hire qualified Stylists</p>

                        <p style="text-align:center">In the following regions:</p>
                        <ul>
                            <li><strong>Houston</strong> </li>
                            <li><strong>Austin</strong></li>
                            <li><strong>SanAntonio</strong></li>
                            <li><strong>Dallas</strong></li>
                            <li><strong>Los Angeles</strong> </li>
                            <li><strong>SanFrancisco</strong></li>
                            <li><strong>Chicago</strong></li>
                            <li><strong>Newyork</strong></li>
                            <li><strong>Florida</strong></li>
                            <li><strong>Seattle</strong></li>
                            
                        </ul>
                        <!--<h3>What You'll Do</h3>-->
                        <!--<ul>-->
                        <!--    <li>Manage and ensure all customer service related activities are executed professionally (managing the fitting room floor, greeting customers/visitors, serving drinks, customer checkouts, etc.)</li>-->
                        <!--    <li>Maintain, measure, and enhance the Clubhouse Customer Experience standards</li>-->
                        <!--    <li>Coordinate processing and delivery of all customer owned goods</li>-->
                        <!--    <li>Assist with management of clubhouse events (communication, setup, breakdown, etc.)</li>-->
                        <!--    <li>Collaborate with Facilities and Loss Prevention managers to ensure building safety and employee/asset security</li>-->
                        <!--    <li>Assist with managing, developing, training and coaching of Clubhouse Operations associates</li>-->
                        <!--    <li>Cross-trained on all Clubhouse operational areas &amp; provide support when required</li>-->
                        <!--    <li>Conduct opening and closing responsibilities of the clubhouse</li>-->
                        <!--    <li>Provide remarkable service to customers and the sales team</li>-->
                        <!--    <li>Maintain inventory control best practices to ensure inventory accuracy and integrity across all activities, including: physical inventory counts, receiving, transfers, replenishment and return authorizations</li>-->
                        <!--    <li>Manage all clubhouse inventory movements (inbound/outbound)</li>-->
                        <!--    <li>Conduct associate inventory system training and continued education</li>-->
                        <!--    <li>Uphold Inventory merchandising and signage standards</li>-->
                        <!--    <li>Support sales team product meetings and vendor product knowledge sessions</li>-->
                        <!--    <li>Provide new product arrival communication and inventory updates to clubhouse team</li>-->
                        <!--</ul> -->
                        <!--<h3>What your background may look like</h3>-->
                        <!--<ul>-->
                        <!--    <li>3+ years of retail or customer service experience, being in a supervisory or managerial position</li>-->
                        <!--    <li>Proven ability to lead, coach, and build teammate relationships in an environment of fast change; must be able to direct, and motivate a diverse teammate population</li>-->
                        <!--    <li>Enjoys customer interaction and maintaining great relationships</li>-->
                        <!--    <li>Experience owning/developing multiple operational processes</li>-->
                        <!--    <li>Familiarity with inventory controls, receiving standards, and reporting</li>-->
                        <!--</ul> -->
                        <!--<h3>How we work</h3>-->
                        <!--<ul>-->
                        <!--    <li><strong>With open minds</strong>. We are committed to building a diverse team of people with unique perspectives. This encourages a healthy and inclusive environment that builds a more sustainable, successful company.</li>-->
                        <!--    <li><strong>With others</strong>. Work closely with our customers, sales team and cross-functional teams at Drape Fit.</li>-->
                        <!--    <li><strong>With transparency</strong>. We have an open team room. No cubicles, no private offices.</li>-->
                        <!--    <li><strong>With pride</strong>. We value our people most of all. We invest in ourselves by applying our own strengths and interests to company needs.</li>-->
                        <!--</ul> -->
                        <!--<h3>A few of our perks</h3>-->
                        <!--<ul>-->
                        <!--    <li>Drape Fit University - our growth program which allows for development opportunities</li>-->
                        <!--    <li>Free parking</li>-->
                        <!--    <li>Merchandise discount</li>-->
                        <!--    <li>Flexible work environment</li>-->
                        <!--    <li>Social environment with a built-in bar&nbsp;</li>-->
                        <!--</ul> -->
                        <P>*Email us your updated resume: <a href="mailto:support@drapefit.com">support@drapefit.com</a></P>
                        <h3>Digital Product</h3>
                        <p>A user-centered product team fueled by data, Digital Product aims to create experiences our customers will love, improving with every build.
                        <p><strong>See Team Openings -></strong></p>
                        <p>There are no Digital Product team role at the moment, but we're always looking for amazing talent. </p>
                        
                        <h3>Customer Experience</h3>
                        <p>Our Customer Care team loves to hear from our customers! They make connections with our community over the phone, via email, chat, and social channels.</p>
                        <p><strong>See Team Openings -></strong></p>
                        <p>There are no Customer Care role at the moment, but we're always looking for amazing talent.  </p>
                        
                        <h3>Merchandising</h3>
                        <p>The Merch team has a high acumen for trends, using data and consumer insights to design and source an assortment that surprises and delights.</p>
                        <p><strong>See Team Openings -></strong></p>
                        <p>There are no Merch team role at the moment, but we're always looking for amazing talent. </p>
                        
                        <h3>Operations</h3>
                        <p>Our Marketing teams use data-driven acquisition strategies and community-focused storytelling to share Drape Fit's mission with the world.</p>
                        <p><strong>See Team Openings -></strong></p>
                        <p>There are no Marketing team role at the moment, but we're always looking for amazing talent. </p>
                        
                        <h3>Growth & Marketing</h3>
                        <p>Our Marketing teams use data-driven acquisition strategies and community-focused storytelling to share Drape Fit's mission with the world.</p>
                        <p><strong>See Team Openings -></strong></p>
                        <p>There are no Marketing team role at the moment, but we're always looking for amazing talent. </p>
                        
                        <h3>Corporate</h3>
                        <p>Our People and Finance teams come under the Corporate umbrella, powering the business with best-in-class recruitment, HR, programming, and policy.</p>
                        <p><strong>See Team Openings -></strong></p>
                        <p>There are no Marketing team role at the moment, but we're always looking for amazing talent. </p>
                        
                        <h3>Engineering</h3>
                        <p>We power every part of the business with highly efficient, scalable, and modern software solutions. No off-the-shelf packages, just great code.</p>
                        <p><strong>See Team Openings -></strong></p>
                        <p>There are no Marketing team role at the moment, but we're always looking for amazing talent. </p>
                        
                         <h3>Data</h3>
                        <p>The Data team uses advanced machine learning techniques to enrich data and deliver on a truly personalized customer experience.</p>
                        <p><strong>See Team Openings -></strong></p>
                        <p>There are no Data analysis role at the moment, but we're always looking for amazing talent.</p>
                    </div>


                    <div class="apply-Job-form-box" id="applyform">
                        <?php echo $this->Form->create('', ['type' => 'file', 'data-toggle' => "validator", 'novalidate' => "true", 'id' => 'careerform']); ?>
                            <div class="main_fields">
                                <h2 class="heading">Apply for this Job</h2>
                                <h5>
                                    <span>*</span> Required
                                </h5>

                                <div class="row">
                                    <div class="col-sm-6 col-lg-6 col-md-6">
                                        <div class="field">
                                            <label for="first_name">First Name <span class="asterisk">*</span></label>
                                            <input type="text" id="first_name" name="first_name" aria-required="true" maxlength="255" autocomplete="given-name">
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-lg-6 col-md-6">
                                        <div class="field">
                                            <label for="last_name">Last Name <span class="asterisk">*</span></label>
                                            <input type="text" id="last_name" name="last_name" aria-required="true" maxlength="255" autocomplete="given-name">
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-lg-6 col-md-6">
                                        <div class="field">
                                            <label for="email">Email <span class="asterisk">*</span></label>
                                            <input type="text" id="email" name="email" aria-required="true" maxlength="255" autocomplete="email">
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-lg-6 col-md-6">
                                        <div class="field">
                                            <label for="phone">Phone <span class="asterisk">*</span></label>
                                            <input type="text" id="phone" name="phone" maxlength="255" autocomplete="tel" required="required" aria-required="true">
                                        </div>
                                    </div>

                                    <div class="col-sm-6 col-lg-6 col-md-6">
                                        <div class="field">
                                            <label for="location">Location(City)<span class="asterisk">*</span></label>
                                            <input type="text" id="location" name="location" maxlength="255" autocomplete="tel" required="required" aria-required="true">
                                        </div>
                                        <!--<a href="#" class="locate-me">Locate me</a>-->
                                    </div>

                                    <div class="col-sm-6 col-lg-6 col-md-12">
                                        <div class="field">
                                            <label>Resume/CV <span class="asterisk">*</span></label>
                                            <ul>
                                                <!--<li><a id="OpenDocUpload">Attach</a></li>-->
                                                <input type="file" onchange="ValidateSingleInput(this);"  id="attachfile" name="attachfile[]" style="display:block"/>
                                                <span style="color:red;">(1 MB .word, .pdf)</span>
                                                <!--<li><a href="#">Dropbox</a></li>
                                                <li><a href="#">Google Drive</a></li>-->
                                                <!--<li><a id="pasteone"> Paste</a></li>-->
                                                <textarea id="doctextarea" name="doctextarea" style="display:none"></textarea>
                                            </ul>
                                            
                                            <label>Cover Letter </label>
                                            <ul>
                                                <!--<li><a id="OpenDocUploadtwo">Attach</a></li>-->
                                                <input type="file" onchange="ValidateSingleInput(this);" id="attachfiletwo" name="attachfile[]" style="display:block"/>
                                                <span style="color:red;">(1 MB .word, .pdf)</span>
                                                <!--<li><a href="#">Dropbox</a></li>
                                                <li><a href="#">Google Drive</a></li>-->
                                                <!--<li><a id="pastetwo"> Paste</a></li>-->
                                                <textarea id="doctextareatwo" name="doctextareatwo" style="display:none"></textarea>
                                            </ul>
                                        </div>  
                                    </div>
                                </div>
                            </div>

                            <dir class="education">
                                <div class="row">
                                    <div class="col-sm-6 col-lg-6 col-md-6">
                                        <div class="field">
                                            <label for="school">School </label>
                                            <select name="school" id="school" class="selectpicker" data-live-search="true">
                                                <?php foreach ($careerSchool as $school) { ?>
                                                    <option value="<?php echo $school->school; ?>"><?php echo $school->school; ?></option>
                                                <?php } ?>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-lg-6 col-md-6">
                                        <div class="field">
                                            <label for="degree">Degree </label>
                                            <select name="degree" id="degree" class="selectpicker" data-live-search="true">
                                                <?php foreach ($careerDegree as $degree) { ?>
                                                    <option value="<?php echo $degree->degree; ?>"><?php echo $degree->degree; ?></option>
                                                <?php } ?>                                       
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-lg-6 col-md-6">
                                        <div class="field">
                                            <label for="discipline">Discipline </label>
                                            <select name="discipline" id="discipline" class="selectpicker" data-live-search="true">
                                                <?php foreach ($careerDiscipline as $discipline) { ?>
                                                    <option value="<?php echo $discipline->discipline; ?>"><?php echo $discipline->discipline; ?></option>
                                                <?php } ?>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </dir>

                            <div class="custom_fields">
                                <div class="row">
                                    <div class="col-sm-6 col-lg-6 col-md-6">
                                        <div class="field">
                                            <label for="linkedin">LinkedIn Profile </label>
                                            <input type="text" id="first_name" name="linkedin" id="linkedin" aria-required="true" maxlength="255" autocomplete="given-name">
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-lg-6 col-md-6">
                                        <div class="field">
                                            <label for="hearabt_job">How did you hear about this job? <span class="asterisk">*</span></label>
                                            <select name="hearabt_job" id="hearabt_job" class="selectpicker" data-live-search="true">
                                                <option value="">Please select</option>
                                                <?php foreach ($careerAboutjob as $about_this_job) { ?>
                                                    <option value="<?php echo $about_this_job->about_this_job; ?>"><?php echo $about_this_job->about_this_job; ?></option>
                                                <?php } ?>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-lg-6 col-md-6">
                                        <div class="field">
                                            <label for="employee_referral">If you selected employee referral, please indicate who referred you.</label>
                                            <input type="text" id="employee_referral" name="employee_referral" aria-required="true" maxlength="255" autocomplete="given-name">
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-lg-6 col-md-6">
                                        <div class="field">
                                            <label for="compensation">What are your compensation expectations?</label>
                                            <input type="text" id="compensation" name="compensation" aria-required="true" maxlength="255" autocomplete="given-name">
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-lg-6 col-md-6">
                                        <div class="field">
                                            <label for="authorized_usa">Are you legally authorized to work in the United States? <span class="asterisk">*</span></label>
                                            <select name="authorized_usa" id="authorized_usa">
                                                <option value="">--</option>
                                                <option value="Yes">Yes</option>
                                                <option value="No">No</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-lg-6 col-md-6">
                                        <div class="field">
                                            <label for="sponsorship_usa">Will you now or in the future require sponsorship to work in the United States?  <span class="asterisk">*</span></label>
                                            <select name="sponsorship_usa" id="sponsorship_usa">
                                                <option value="">--</option>
                                                <option value="Yes">Yes</option>
                                                <option value="No">No</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-lg-6 col-md-6">
                                        <div class="field">
                                            <label for="work_morning">Are you available to work mornings? Please list hours available <span class="asterisk">*</span></label>
                                            <input type="text" id="work_morning" name="work_morning" aria-required="true" maxlength="255" autocomplete="given-name">
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-lg-6 col-md-6">
                                        <div class="field">
                                            <label for="during_datetime">Are you available to work during the daytime? Please list hours available <span class="asterisk">*</span></label>
                                            <input type="text" id="during_datetime" name="during_datetime" aria-required="true" maxlength="255" autocomplete="given-name">
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-lg-6 col-md-6">
                                        <div class="field">
                                            <label for="work_evening">Are you available to work evenings? Please list hours available <span class="asterisk">*</span></label>
                                            <input type="text" id="work_evening" name="work_evening" aria-required="true" maxlength="255" autocomplete="given-name">
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-lg-6 col-md-6">
                                        <div class="field">
                                            <label for="work_weekend">Are you available to work weekends? Please list hours available <span class="asterisk">*</span></label>
                                            <input type="text" id="work_weekend" name="work_weekend" aria-required="true" maxlength="255" autocomplete="given-name">
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-lg-6 col-md-6">
                                        <div class="field">
                                            <label for="fulltime_capacity">Are you interested in this role in a full-time capacity?  <span class="asterisk">*</span></label>
                                            <select name="fulltime_capacity" id="fulltime_capacity">
                                                <option value="">--</option>
                                                <option value="Yes">Yes</option>
                                                <option value="No">No</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="eeoc_fields">
                                <h3>U.S. Equal Opportunity Employment Information (Completion is voluntary)</h3>
                                <p> Individuals seeking employment at Drape Fit are considered without regards to race, color, religion, national origin, age, sex, marital status, ancestry, physical or mental disability, veteran status, gender identity, or sexual orientation. You are being given the opportunity to provide the following information in order to help us comply with federal and state Equal Employment Opportunity/Affirmative Action record keeping, reporting, and other legal requirements. </p>
                                <p> Completion of the form is entirely <strong>voluntary</strong>. Whatever your decision, it will not be considered in the hiring process or thereafter. Any information that you do provide will be recorded and maintained in a confidential file. </p>
                                <div class="row">
                                    <div class="col-sm-6 col-lg-6 col-md-6">
                                        <div class="field">
                                            <label for="gender">Gender </label>
                                            <select name="gender" id="gender">
                                                <option value="">Please select</option>
                                                <option value="Male">Male</option>
                                                <option value="Female">Female</option>
                                                <option value="Decline To Self Identity">Decline To Self Identity</option>
                                            </select>
                                        </div>
                                    </div>


                                    <div class="col-sm-6 col-lg-6 col-md-6">
                                        <div class="field">
                                            <label for="hispanic_latino">Are you Hispanic/Latino?</label>
                                            <select name="hispanic_latino" id="hispanic_latino">
                                                <option value="volvo">Please select</option>
                                                <option value="Yes">Yes</option>
                                                <option value="No">No</option>
                                                <option value="Decline To Self Identity">Decline To Self Identity</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-lg-12 col-md-12">
                                    <a target="_blank" href="https://boards-usw2-cdn.greenhouse.io/docs/RaceEthnicityDefinitions.pdf">
                                        Race &amp; Ethnicity Definitions</a>
                                    <p>If you believe you belong to any of the categories of protected veterans listed below, please indicate by making the appropriate selection. As a government contractor subject to Vietnam Era Veterans Readjustment Assistance Act (VEVRAA), we request this information in order to measure the effectiveness of the outreach and positive recruitment efforts we undertake pursuant to VEVRAA. Classification of protected categories is as follows:</p>
                                    <p>A "disabled veteran" is one of the following: a veteran of the U.S. military, ground, naval or air service who is entitled to compensation (or who but for the receipt of military retired pay would be entitled to compensation) under laws administered by the Secretary of Veterans Affairs; or a person who was discharged or released from active duty because of a service-connected disability.</p>
                                    <p>A "recently separated veteran" means any veteran during the three-year period beginning on the date of such veteran's discharge or release from active duty in the U.S. military, ground, naval, or air service.</p>
                                    <p>An "active duty wartime or campaign badge veteran" means a veteran who served on active duty in the U.S. military, ground, naval or air service during a war, or in a campaign or expedition for which a campaign badge has been authorized under the laws administered by the Department of Defense.</p>
                                    <p>An "Armed forces service medal veteran" means a veteran who, while serving on active duty in the U.S. military, ground, naval or air service, participated in a United States military operation for which an Armed Forces service medal was awarded pursuant to Executive Order 12985.</p>
                                </div>
                                    <div class="col-sm-6 col-lg-6 col-md-6">
                                        <div class="field">
                                            <label for="veteran_status">Veteran Status </label>
                                            <select name="veteran_status" id="veteran_status">
                                                <option value="">Please select</option>
                                                <option value="I am not a protected veteran">I am not a protected veteran</option>
                                                <option value="I identify as one or more of the classifications of a protected veteran">I identify as one or more of the classifications of a protected veteran</option>
                                                <option value="I don't wish to answer">I don't wish to answer</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="eeoc-data">
                                <div class="eeoc_form_data"> 
                                    <p>Form CC-305</p>
                                    <p>OMB Control Number 1250-0005</p> 
                                    <p>Expires 1/31/2020</p>
                                </div>
                                <h3 >Voluntary Self-Identification of Disability</h3>
                                <strong>Why are you being asked to complete this form?</strong>
                                <p>Because we do business with the government, we must reach out to, hire, and provide equal opportunity to qualified people with disabilities1. To help us measure how well we are doing, we are asking you to tell us if you have a disability or if you ever had a disability. Completing this form is voluntary, but we hope that you will choose to fill it out. If you are applying for a job, any answer you give will be kept private and will not be used against you in any way.</p>
                                <p>If you already work for us, your answer will not be used against you in any way. Because a person may become disabled at any time, we are required to ask all of our employees to update their information every five years. You may voluntarily self-identify as having a disability on this form without fear of any punishment because you did not identify as having a disability earlier.</p>
                                <h4>How do I know if I have a disability?</h4>
                                <p>You are considered to have a disability if you have a physical or mental impairment or medical condition that substantially limits a major life activity, or if you have a history or record of such an impairment or medical condition.</p>
                                <p>Disabilities include, but are not limited to:</p>
                                <ul>
                                    <li>Blindness</li> 
                                    <li>Deafness</li>
                                    <li>Cancer</li>
                                    <li>Diabetes</li>
                                    <li>Epilepsy</li>
                                    <li>Autism</li>
                                    <li>Cerebral palsy</li> 
                                    <li>HIV/AIDS</li>
                                    <li>Schizophrenia</li>
                                    <li>Muscular dystrophy</li>
                                    <li>Bipolar disorder</li> 
                                    <li>Major depression</li>
                                    <li>Multiple sclerosis (MS)</li>
                                    <li>Missing limbs or partially missing limbs</li>
                                    <li>Post-traumatic stress disorder (PTSD)</li> 
                                    <li>Obsessive compulsive disorder</li>
                                    <li>Impairments requiring the use of a wheelchair</li> 
                                    <li>Intellectual disability (previously called mental retardation)</li>
                                </ul>
                                <div class="row">
                                    <div class="col-sm-6 col-lg-6 col-md-6">
                                        <div class="field">
                                            <label for="disability_status">Disability Status</label>
                                            <select name="disability_status" id="disability_status">
                                                <option value="">Please select</option>
                                                <option value="Yes, I have a disability (or previously had a disability)">Yes, I have a disability (or previously had a disability)</option>
                                                <option value="No, I don't have a disability">No, I don't have a disability</option>
                                                <option value="I don't wish to answer">I don't wish to answer</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <h4>Reasonable Accommodation Notice</h4>
                                <p>Federal law requires employers to provide reasonable accommodation to qualified individuals with disabilities. Please tell us if you require a reasonable accommodation to apply for a job or to perform your job. Examples of reasonable accommodation include making a change to the application process or work procedures, providing documents in an alternate format, using a sign language interpreter, or using specialized equipment.</p>
                                <p>1Section 503 of the Rehabilitation Act of 1973, as amended. For more information about this form or the equal employment obligations of Federal contractors, visit the U.S. Department of Labor's Office of Federal Contract Compliance Programs (OFCCP) website at </p>
                                <a href="#" target="_blank">www.dol.gov/ofccp</a>
                                <p> PUBLIC BURDEN STATEMENT:  According to the Paperwork Reduction Act of 1995 no persons are required to respond to a collection of information unless such collection displays a valid OMB control number. This survey should take about 5 minutes to complete. </p>
                            </div>
                            
                            <div class="submit_buttons">
                                <input type="submit" value="Submit Application"  class="button">
                            </div>
                        <?php echo $this->Form->end(); ?>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css" rel="stylesheet" />

<script>
    $(function() {
        $('.selectpicker').selectpicker();
    });
</script>
<script>
    var _validFileExtensions = [".doc", ".docx", ".txt", ".pdf", ".PDF"];    
function ValidateSingleInput(oInput) {
    if (oInput.type == "file") {
        var sFileName = oInput.value;
         if (sFileName.length > 0) {
            var blnValid = false;
            for (var j = 0; j < _validFileExtensions.length; j++) {
                var sCurExtension = _validFileExtensions[j];
                if (sFileName.substr(sFileName.length - sCurExtension.length, sCurExtension.length).toLowerCase() == sCurExtension.toLowerCase()) {
                    blnValid = true;
                    break;
                }
            }
             
            if (!blnValid) {
                alert("Sorry, " + sFileName + " is invalid, allowed extensions are: " + _validFileExtensions.join(", "));
                oInput.value = "";
                return false;
            }
        }
    }
    return true;
}
    $(function(){
        $("#careerform").validate({
            rules:{
                first_name:"required",
                last_name:"required",
                email:{
                    required:true,
                    email:true,
                },
                phone:"required",
                location:"required",
                hearabt_job:"required",
                sponsorship_usa:"required",
                authorized_usa:"required",
                work_morning:"required",
                during_datetime:"required",
                work_evening:"required",
                work_weekend:"required",
                fulltime_capacity:"required",
            },
            messages:{
                first_name:"Please enter your first name",
                last_name:"Please enter your last name",
                email:{
                    required:"Please enter your email address",
                    email:"Please enter your valid email address",
                },
                phone:"Please enter your pnone",
                location:"Please enter your location",
            },
        });
        $('#phone').keypress(function(event){
            var keycode=event.which;
            if(!(event.shiftKey==false&&(keycode==46||keycode==8||keycode==37||keycode==39||keycode==43||(keycode>=48&&keycode<=57)))){
                event.preventDefault();
            }
        });
    });
    
    $('#OpenDocUpload').click(function(){ 
        $('#attachfile').trigger('click'); 
        $("#doctextarea").hide();
    });
    $("#pasteone").click(function() {
        $("#doctextarea").toggle();
    });
    $('#OpenDocUploadtwo').click(function(){
        $('#attachfiletwo').trigger('click');
        $("#doctextareatwo").hide();
    });
    $("#pastetwo").click(function() {
        $("#doctextareatwo").toggle();
    });
</script>
