<p><?php echo @$billingAddress->full_name; ?> <?php echo @$billingAddress->address; ?> <?php echo @$billingAddress->address_line_2; ?> <?php echo @$billingAddress->zipcode; ?> </p>
<p><?php echo @$billingAddress->city; ?></p>
<p><?php echo @$billingAddress->state; ?></p>
<p><?php echo @$billingAddress->country; ?></p>
<p> <?php echo 'Phone' . @$billingAddress->phone; ?></p>