<section class="inner-banner inner-banner2"><img src="https://www.drapefit.com/images/banner-final1.jpg"></section>
<section class="how-it-work">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="it-work-top">
                        <div class="section-head" data-aos="fade-down">
                            <h2><span>HOW DRAPE FIT</span> Works</h2>
                            <img src="<?= $this->Url->image('header-booten.png'); ?>">
                            <p>Drape Fit  is the <a href="<?= HTTP_ROOT; ?>how-it-works">best leading online Personal Styling service</a> for Everyone. We blend  styles and needs together  to deliver outfits, shoes, and accessories personalized to our clients’ unique tastes, budgets, and fits .  We love to help all our clients to explore and discover new styles through our personal stylists .</p>
                        </div>
                        <div class="section-head" data-aos="fade-down">
                            <h2><span>How it</span> Works</h2>
                            <img src="<?= $this->Url->image('header-booten.png'); ?>">
                        </div>
<div class="section-head2">
                        <div class="row">
                            <div class="col-sm-12 col-lg-4 col-md-4">
                                <div class="how-it-item" data-aos="zoom-in">
                                    <div class="item-round-images">
                                        <span class="item0_no">
                                            01
                                        </span>
                                        <span class="round-img">
                                            <img src="<?= $this->Url->image('keep-icon3.png'); ?>">
                                        </span>
                                    </div>
                    <h3>Fill out your style quiz</h3>
                    <p>Share your style, price, size and style preferences with your personal stylist.</p>
                                    
                                </div>
                            </div>

                            <div class="col-sm-12 col-lg-4 col-md-4">
                                <div class="how-it-item" data-aos="zoom-in">
                                    <div class="item-round-images">
                                        <span class="item0_no">
                                            02
                                        </span>
                                        <span class="round-img">
                                            <img src="<?= $this->Url->image('keep-icon2.png'); ?>">
                                        </span>
                                    </div>
                                    <h3>Request A FIT Box</h3>
                    <p>Get up to 5 hand-picked  pieces
of clothing by your personal stylist  delivered to your
home, monthly or quarterly.Save money and time.</p>
                                    
                                </div>
                            </div>

                            <div class="col-sm-12 col-lg-4 col-md-4">
                                <div class="how-it-item" data-aos="zoom-in">
                                    <div class="item-round-images">
                                        <span class="item0_no">
                                            03
                                        </span>
                                        <span class="round-img">
                                        <img src="<?= $this->Url->image('keep-icon.png'); ?>">
                                        </span>
                                    </div>
                                    <h3>Keep What Love</h3>
                    <p>Keep which fit you. Send back rest.  You’re only billed for what you keep, and your styling fee is applied to your purchase. Shipping is free both ways.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                        <div class="text-center pb-40 mt-5">
                            <a href="javascript:void(0)" onclick="document.getElementById('id01').style.display = 'block'" class="sign-up-btn">Take your style quiz</a>
                            <br>
                            <span>
                            <a href="javascript:void(0)" class="sign-up-member">Already have an account?</a>
                            <a href="javascript:void(0)" class="sign-in" onclick="document.getElementById('id01').style.display = 'block'">Sign in</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<section class="expect-box">    
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12 col-md-12">
                <div class="section-head" data-aos="fade-down">
                    <h2><span>WHAT TO  </span> EXPECT FROM US</h2>
                    <img src="<?= $this->Url->image('header-booten.png'); ?>">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-lg-12 col-md-12">
                <ul>
                    <li>
                        <div class="expect-box-small">
                            <div class="boxes1" data-aos="zoom-in">
                                <h4>ORDER ON DEMAND</h4>
                                <p>You can order your FIT Box on your need.Schedule online and cancel any time.</p>
                                <span>01</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="expect-box-small">
                            <div class="boxes2" data-aos="zoom-in">
                            <h4>TRY IN HOME</h4>
                            <p>A FIT Box will be delivered in your door.Try at home and return if you don’t like.You have 5 days to buy or return.It’s that easy.</p>
                            <span>02</span>
                        </div>
                        </div>
                    </li>
                    <li>
                        <div class="expect-box-small">
                            <div class="boxes1" data-aos="zoom-in">
                            <h4>SAVE UP TO 25%</h4>
                            <p>Plenty options to save.If you keep all items you can save up to 25%.</p>
                            <span>03</span>
                        </div>
                        </div>
                    </li>
                    <li>
                        <div class="expect-box-small">
                            <div class="boxes2" data-aos="zoom-in">
                            <h4>FREE SHIPPING AND RETURNS</h4>
                            <p>Free shipping both the ways.Keep what you like.Return what doesn’t FIT you.</p>
                            <span>04</span>
                        </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="fit-box">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-7 col-md-7 fit-box-img" data-aos="zoom-in">
                <img src="<?= $this->Url->image('leady.jpg'); ?>">
            </div>
            <div class="col-sm-12 col-lg-5 col-md-5">
                <h3><span class="how-box">How</span>MUCH DOES FIT<span class="how-box2">COST?</span></h3>
                <div class="fit-right" data-aos="fade-left">
                    <ul>
                        <li>Each FIT Box has a <strong>$20 styling fee</strong> is applied to your purchase and you’re only billed for what you keep. <strong>It’s Free Shipping!</strong> Prepaid return envelope included.</li>
                        <li>Items in your box generally will cost depends as per you choose in your style profile.</li>
                        <li>Receive a FIT Box monthly or quarterly. Choose your frequency . <strong>skip or cancel anytime.</strong></li>
                        <li>Will share profit on every quarter towards the products you consume.</li>
                    </ul>
                </div>
                <div class="fit-img-box">
                    <div class="img-box-img" data-aos="zoom-in">
                        <img src="<?= $this->Url->image('box1.jpg'); ?>">
                    </div>
                    <div class="img-box-img" data-aos="zoom-in">
                        <img src="<?= $this->Url->image('box1.jpg'); ?>">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="maternity-box">
    <div class="container">
         <div class="row">
            <div class="col-sm-12 col-lg-12 col-md-12">
                <div class="section-head" data-aos="fade-down">
                    <h2>BILLING</h2>
                    <img src="<?= $this->Url->image('header-booten.png'); ?>">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-lg-12 col-md-12">
                <div aria-multiselectable="true" class="panel-group" id="accordion" role="tablist">
                    <div class="panel panel-default">
                        <div class="panel-heading active" id="headingOne" role="tab">
                            <h4 class="panel-title"><a aria-controls="collapseOne" aria-expanded="true" data-parent="#accordion" data-toggle="collapse" href="#collapseOne" role="button">When and how will you charge my card for my FIT Box?</a></h4>
                        </div>
                        <div aria-labelledby="headingOne" class="panel-collapse collapse in" id="collapseOne" role="tabpanel">
                            <div class="panel-body">
                                <p>For each order which we receive from the customer, then the initial $20 styling fee will be charged before our stylist start styling for you. The said styling fee will also be credited to your account for the things you purchase from the FIT Box you receive. After your FIT Box arrives, you can log in to your account with us and buy the items you would like to keep with you. And the rest of the things you can return with the prepaid shipping envelope sent with your FIT Box.</p>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" id="headingTwo" role="tab">
                            <h4 class="panel-title"><a aria-controls="collapseTwo" aria-expanded="false" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapseTwo" role="button">Why is it important to add the credit card details?</a></h4>
                        </div>

                        <div aria-labelledby="headingTwo" class="panel-collapse collapse" id="collapseTwo" role="tabpanel">
                            <div class="panel-body">
                                <p>We require substantial credit card details to send you your FIT Box. You won't be charged till you order your FIT request (a $20 styling fee will be charged when you order and when your FIT Box ships).</p>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" id="headingThree" role="tab">
                            <h4 class="panel-title"><a aria-controls="collapseThree" aria-expanded="false" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapseThree" role="button">What is the standard cost of the FIT Box sent?</a></h4>
                        </div>

                        <div aria-labelledby="headingThree" class="panel-collapse collapse" id="collapseThree" role="tabpanel">
                            <div class="panel-body">
                                <p>Well out standard FIT Box, our standard cost for the FIT Box is around $60, which is further adjusted in accordance with your budget preference by your personal stylist. Thus when you receive your FIT Box, you may find a very slight difference in the value of your Fit as most of the time, it will be under your budget preferences.</p>

                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" id="headingfour" role="tab">
                            <h4 class="panel-title"><a aria-controls="collapsefour" aria-expanded="false" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapsefour" role="button">Does the style charge turn over if I return all the items of my FIT  Box?</a></h4>
                        </div>

                        <div aria-labelledby="collapsefour" class="panel-collapse collapse" id="collapsefour" role="tabpanel">
                            <div class="panel-body">
                                <p>Your styling charge must be applied to your current purchase. Thus, it doesn't turn over to your next shipment. The styling fee is non-refundable and cannot be used by any other account. This applies whether you return all your things, or buy an item which is less the cost of the styling fee. </p>
                                <p>Thus, we aim to provide you the items which are in accordance with your styling needs and preferences in the specially customized FIT Box. Therefore, you will definitely find most of the items of your use. </p>
                                <p>But still, in any case, you return all the items from the FIT Box, then we would appreciate you leave feedback every time for each item. It will help us to know you better and to improve our picks in accordance to your need for future FIT Boxes.</p>
                                <p>Further, the credit of the styling fee is valid for 30 days from the date of your fit order (the date and time on which the styling fee is charged). Further, all the unused styling credits are entirely non-refundable. Whereas the same can be used on, the drape fit the online outlet.</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="maternity-box">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12 col-md-12">
                <div class="section-head" data-aos="fade-down">
                    <h2>SCHEDULING</h2>
                    <img src="<?= $this->Url->image('header-booten.png'); ?>">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-lg-12 col-md-12">
                <div aria-multiselectable="true" class="panel-group" id="accordion2" role="tablist">
                    <div class="panel panel-default">
                        <div class="panel-heading active" id="heading1" role="tab">
                            <h4 class="panel-title"><a aria-controls="collapse1" aria-expanded="true" data-parent="#accordion2" data-toggle="collapse" href="#collapse1" role="button">How can I schedule the automatic delivery option?</a></h4>
                        </div>
                        <div aria-labelledby="heading1" class="panel-collapse collapse in" id="collapse1" role="tabpanel">
                            <div class="panel-body">
                                <p>Automatic deliveries are the option available for you to set your schedule for receiving your FIT Box to receive at a regular interval. </p>

                                <p>You can choose among the following automatics delivery schedules we offer: For Men's, women, and kids-you have an option to select the automatic delivery- Monthly, bimonthly, and quarterly.
                                </p>
                                <p>You can manage your delivery schedule of your sign-in home page. The page will let you know about your next shipment arrival date. Thus you can easily cancel, reschedule your FIT Box as per your need.</p>
                                <p> In case you don't want to set the automatic scheduling for your orders, then you can schedule the manual schedule to order your fit from your sign-in home page only after signing in your account. </p>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" id="heading2" role="tab">
                            <h4 class="panel-title"><a aria-controls="collapse2" aria-expanded="false" class="collapsed" data-parent="#accordion2" data-toggle="collapse" href="#collapse2" role="button">What is the option available to change or cancel my subscription for automatic deliveries?</a></h4>
                        </div>

                        <div aria-labelledby="heading2" class="panel-collapse collapse" id="collapse2" role="tabpanel">
                            <div class="panel-body">
                                <p>You can refer to the point of "How can I schedule the automatic delivery option?" to sign for your scheduled deliveries. </p>
                                <p>After signing-in to your account, you will land to your sign-in home page, thus click on the automatic FIT options. It will further offer you the option of selecting the frequency of your schedules like monthly, bimonthly, and quarterly. </p>
                                <p>In case if you need to avoid your next shipment, you don't have to change your schedule. From your sign-in home page, click on "Skip this Fit." When you select this alternative, we won't send your next planned shipment, yet your scheduled calendar will continue as usual for the accompanying delivery. </p>
                                <p>In case, if we're already in the process of sending your next shipment, this option of skipping your FIT Box. Thus, in that case, you have to reach us by contacting our customer care team at <a href="tel:844-955-1723">844-955-1723</a> or by dropping mail <a href="mailto:support@drapefit.com">support@drapefit.com</a> to cancel your shipment Further, in case you need to cancel your automatic delivery schedule, then click on the "manage automatic fits" on your login page.
                                </p>
                                <p>At the point when you cancel your automatic schedule shipment, then you can also cancel your upcoming shipments. In case, if you don't cancel your upcoming shipment of the FIT Box, thus, the same will arrive at the already-scheduled time.</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="do-best-fit">
    <div class="container">
      <div class="row">
      <div class="col-sm-12">
        <div class="section-head" data-aos="zoom-in">
          <h2><span>we do </span> best fit  </h2>
          <!--<p>Each FIT Box has a $20 styling fee is applied to your purchase and you’re only billed for what you keep. It’s Free Shipping! Prepaid return envelope included.</p>-->
          <img src="<?= $this->Url->image('header-booten.png'); ?>">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="do-best-fit-round-main">
          <div class="best-fit-round-left" data-aos="zoom-in">
            <img src="<?= $this->Url->image('Women9.jpg'); ?>">
          </div>
          <div class="best-fit-round-left best-fit-round-right" data-aos="zoom-in">
            <h3>Finally Ready To Sign Up ?</h3>
            <p>We are the best online personal style provider.We do give our client with plenty of options to get a best FIT.Upgrade your style in easy steps.</p>
            <a href="javascript:void(0)" class="sign-up-btn" onclick="document.getElementById('id01').style.display = 'block'">COMPLETE YOUR FIT PROFILE</a>
            <br>
            <span>
                        <a href="javascript:void(0)" class="sign-up-member" onclick="document.getElementById('id01').style.display = 'block'">Already a member ?</a>
                        <a href="javascript:void(0)" class="sign-in" onclick="document.getElementById('id01').style.display = 'block'">Sign in</a>
                    </span>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>