<style>
    @font-face {
        font-family: 'Amazon Ember';
        src: url(https://m.media-amazon.com/151images/G/01/AUIClients/AmazonUIFont-amazonember_rg-cc7ebaa05a2cd3b02c0929ac0475a44ab30b7efa._V2_.woff2) format("woff2"), url(https://m.media-amazon.com/images/G/01/AUIClients/AmazonUIFont-amazonember_rg-8a9db402d8966ae93717c348b9ab0bd08703a7a7._V2_.woff) format("woff")
    }

    @font-face {
        font-family: 'Amazon Ember';
        font-style: italic;
        src: url(https://m.media-amazon.com/images/G/01/AUIClients/AmazonUIFont-amazonember_rgit-9cc1bb64eb270135f1adf3a4881c2ee5e7c37be5._V2_.woff2) format("woff2"), url(https://m.media-amazon.com/images/G/01/AUIClients/AmazonUIFont-amazonember_rgit-a4dc98d644ff2aedd41da3da462f09ffce86eafb._V2_.woff) format("woff")
    }

    @font-face {
        font-family: 'Amazon Ember';
        font-weight: 700;
        src: url(https://m.media-amazon.com/images/G/01/AUIClients/AmazonUIFont-amazonember_bd-46b91bda68161c14e554a779643ef4957431987b._V2_.woff2) format("woff2"), url(https://m.media-amazon.com/images/G/01/AUIClients/AmazonUIFont-amazonember_bd-b605252f87b8b3df5ae206596dac0938fc5888bc._V2_.woff) format("woff")
    }

    @font-face {
        font-family: 'Amazon Ember';
        font-style: italic;
        font-weight: 700;
        src: url(https://m.media-amazon.com/images/G/01/AUIClients/AmazonUIFont-amazonember_bdit-80ff7aba37dd1ff5a6b90233a19e3a780a96dc2f._V2_.woff2) format("woff2"), url(https://m.media-amazon.com/images/G/01/AUIClients/AmazonUIFont-amazonember_bdit-57598ce426a612be5a1d15eee08252668fca5e7a._V2_.woff) format("woff")
    }
    .payment-sucess {
        float: left;
        width: 100%;
        padding: 128px 0 10px;
    }
    .payment-sucess .jumbotron2 {
        text-align: center;
        width: 48%;
        /* display: inline-block; */
        background: #fff;
        margin: 49px auto;
        padding: 23px 0;
        border-radius: 7px;
        border: 1px solid #9ba4af;
    }

    .payment-sucess .jumbotron2 .display-3 {
        font-size: 28px;
        font-weight: bold;
        color: #ef6a0e;
        font-family: "Amazon Ember", Arial, sans-serif;
    }
    .payment-sucess .jumbotron2 .display-3 .fa-check-circle{
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        color: #ef6a04;
    }
    .payment-sucess .jumbotron2 .display-3 span{
        display: block;
        margin-bottom: 10px;
        font-size: 60px;
    }
    .payment-sucess .jumbotron2 p{
        text-align: center;
        font-family: "Amazon Ember", Arial, sans-serif;
        font-size: 16px;
    }
    .payment-sucess .jumbotron2 p a.btn-primary {
        display: inline-block;
        background: #d64ade;
        border: none;
        font-size: 19px;
        font-weight: bold;
        letter-spacing: 1px;
        padding: 8px 31px 10px;
        border-radius: 0;
        color:#fff;
    }
    .payment-sucess .jumbotron2 p a.btn-primary:hover{
        background: #d64ade;
        color:#fff;
    }
    .payment-sucess .jumbotron2 h5 {
        font-weight: bold;
    }
    .payment-sucess .jumbotron2 a {
        display: inline-block;
        background: #000;
        border: 1px solid #000;
        padding: 10px 25px;
        margin-bottom: 30px;
        font-weight: bold;
        letter-spacing: 1px;
    }
    .payment-sucess .jumbotron2 a:hover{
        background: none;
        color: #000;
    }
</style>
<div class="style-bar">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12 col-md-12">
                <?php
                echo $this->element('frontend/profile_menu_men');
                ?>
            </div>
        </div>
    </div>
</div>
<div class="payment-sucess">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12 col-md-12">
                <p><?= $this->Flash->render(); ?></p>
                <div class="jumbotron2" style="margin-bottom: 0;">
                    <h1 class="display-3"><span><i class="far fa-check-circle"></i></span>
                        <?php
                        if (!empty($procutsExchange)) {
                            echo $procutsExchange;
                            ?>

                        <?php } ?>
                        products

                        not yet shipped</h1>
                    <p class="lead">We are working hard to complete your  <?php echo $paymentCount . $status; ?> FIT </p>

                </div>
            </div>
        </div>
    </div>
</div>


<?php if ($this->request->session()->read('PROFILE') == "WOMEN") { ?>
    <div class="extra-main-box" style="padding-top: 0;">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-sm-12 col-md-12">
                    <div class="browse-all-box">
                        <h2>How Extra Work</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever to make a type specimen book.</p>
                        <div class="extar-boxes">
                            <?php
                            $women_extra_dr_list = $this->Custom->womenExtraList();
                            if (!empty($women_extra_dr_list)) {
                                foreach ($women_extra_dr_list as $pdetails) {
                                    ?>
                                    <div class="extar-box">
                                        <a href="<?= HTTP_ROOT; ?>extras/extras_recommendations?t=<?= $this->request->session()->read('PROFILE') . '&prd=' . $pdetails->prod_id . '&k=' . $pdetails->id . '&pn=' . $this->Custom->makeSeoUrl($pdetails->product_name_one); ?>">
                                            <div class="extra-img">
                                                <?php
                                                if (empty($pdetails->prodcut_id)) {
                                                    ?>
                                                    <img src="<?php echo HTTP_ROOT_INV . PRODUCT_IMAGES; ?><?php echo $pdetails->product_image; ?>" />
                                                <?php } else { ?>
                                                    <img src="<?php echo HTTP_ROOT . PRODUCT_IMAGES; ?><?php echo $pdetails->product_image; ?>" />
                                                <?php } ?>
                                            </div>
                                            <h4><?= $pdetails->product_name_one; ?></h4>
                                            <h5> <?php
//                                    if (!empty($pdetails->color)) {
//                                        echo $color_arr[$pdetails->color];
//                                    }
                                                if (!empty($pdetails->sale_price)) {
                                                    echo '$' . number_format($pdetails->sale_price, 2);
                                                }
                                                ?>
                                            </h5>
                                            <!--                                <ul>
                                                                                <li><span>01</span></li>
                                                                                <li><span>02</span></li>
                                                                                <li><span>03</span></li>
                                                                                <li><span>04</span></li>
                                                                                <li class="two">+2</li>
                                                                            </ul>-->
                                        </a>
                                    </div>    
                                    <?php
                                }
                            }
                            ?>

                        </div>
                         <div class="row">
        <div class="col-sm-12">
            <h5>Now’s the time to add Extras</h5>           
        </div>
        <div class="col-sm-12">
            <a  class="btn btn-info" href="<?= HTTP_ROOT; ?>extras?t=WOMEN">Browse all Extras</a>          
        </div>
    </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
   
<?php } ?>
               

