<section class="inner-banner inner-banner2"><img src="https://www.drapefit.com/images/banner-final1.jpg"></section>
<section class="how-it-work">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="it-work-top">
                        <div class="section-head" data-aos="fade-down">
                            <h2><span>PERSONAL </span> STYLIST</h2>
                            <h3>Get Your Celebrity Look With A Personal Stylist</h3>
                            <img src="<?= $this->Url->image('header-booten.png'); ?>">
                            <p>DRAPE FIT is a <a href="<?= HTTP_ROOT; ?>personal-stylist" style=" text-decoration: none;">personal styling service</a> that sends you a FIT  box of hand-picked styles right to your door every month. Discover your trendy style with the help of our professional Stylists!</p>
                        </div>
                        <div class="section-head" data-aos="fade-down">
                            <h2><span>How it</span> Works</h2>
                            <img src="<?= $this->Url->image('header-booten.png'); ?>">
                        </div>
<div class="section-head2">
                        <div class="row">
                            <div class="col-sm-12 col-lg-4 col-md-4">
                                <div class="how-it-item" data-aos="zoom-in">
                                    <div class="item-round-images">
                                        <span class="item0_no">
                                            01
                                        </span>
                                        <span class="round-img">
                                            <img src="<?= $this->Url->image('Men9c.jpg'); ?>">
                                        </span>
                                    </div>
                    <h3>Fill out your style quiz</h3>
                    <p>Take a quiz at drape Fit to tell about your shape, style, price, and other styling preferences with your personal stylist.</p>
                                    
                                </div>
                            </div>

                            <div class="col-sm-12 col-lg-4 col-md-4">
                                <div class="how-it-item" data-aos="zoom-in">
                                    <div class="item-round-images">
                                        <span class="item0_no">
                                            02
                                        </span>
                                        <span class="round-img">
                                            <img src="<?= $this->Url->image('Women13.jpg'); ?>">
                                        </span>
                                    </div>
                                    <h3>Request A FIT Box Delivery</h3>
                    <p>Get up to 5 hand-picked pieces of clothing by our Stylist delivered to your home, monthly or quarterly.</p>
                                    
                                </div>
                            </div>

                            <div class="col-sm-12 col-lg-4 col-md-4">
                                <div class="how-it-item" data-aos="zoom-in">
                                    <div class="item-round-images">
                                        <span class="item0_no">
                                            03
                                        </span>
                                        <span class="round-img">
                                        <img src="<?= $this->Url->image('what-love-personal.jpg'); ?>">
                                        </span>
                                    </div>
                                    <h3>Keep What You Love</h3>
                    <p>Try before at home, keep your favorites and send back the rest. Free delivery and returns.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                        <div class="text-center pb-40 mt-5">
                            <a href="javascript:void(0)" onclick="document.getElementById('id01').style.display = 'block'" class="sign-up-btn">Take your style quiz</a>
                            <br>
                            <span>
                            <a href="javascript:void(0)" class="sign-up-member">Already have an account?</a>
                            <a href="javascript:void(0)" class="sign-in" onclick="document.getElementById('id01').style.display = 'block'">Sign in</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>





<section class="expecting about-pricing style-learn">
    <div class="container"> 
        <div class="row">
             <div class="row">
        <div class="col-md-12"> 
        <div class="section-head" data-aos="fade-down">
        <h2><span>Here’s how Drape Fit Stylists learn </span> about you and pick your items</h2>
        <img src="<?= $this->Url->image('header-booten.png'); ?>">
        <!--<p>Pay for what you spend on each delivery</p>-->
        </div>
        </div>
        </div>

            <div class="col-md-8">
                <div class="mens-fit-text">
                    <ul>
                    <li>Your celebrity look and style starts with the perfect FIT . We collect microdata from our million-plus clients and use the latest and exclusive technology to narrow down clothing options to FIT  your body.</li>
                    <hr>
                    <li>Our dedicated team of professional Stylist experts read your Style profile and choose items that perfectly FIT  your size, as well as your look and budget.</li>
                     <hr>
                    <li>When you check out, we ask for feedback on the items you received. This helps your stylist get to know you even best over time.</li>
                </ul>
                </div>
            </div> 
            <div class="col-md-4">
                <div class="mens-fit-image">
                    <img src="/img/pick-item.jpg">
                </div>
            </div>
        </div>
      </div>
</section> 

<!-- <section class="expecting">
    <div class="container"> 
        <div class="row">

            <div class="col-md-6">
                <div class="mens-fit-image">
                    <img src="/img/petite-women5.jpg">
                </div>
            </div>
             

            <div class="col-md-6">
                <div class="mens-fit-text">
                    <h2>About The Drape Fit Stylists</h2>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p>We have a massive array of a dedicated team of experienced fashion experts across the U.S. They are the best part of our Drape Fit Family. They are very passionate and fashion experts to motivated to learn about your tests, needs, and Fits, in order to find the best outfits for you. Once you fill out your style quiz to tell us what you like. Our personal Stylist will start putting together the perfect FIT box for your budget. You can consult your personal Stylist as per your needs.</p>
                </div>
            </div> 
            
        </div>
      </div>
</section> --> 
<div class="clearfix"></div>

<section class="stylists1" style="    margin-top: -74px;
    float: left;
    width: 100%;
    height: 500px;
    overflow: hidden;
    position: relative;">
    <img src="/img/fit-style.jpg" style="width:100%;">
     <div class="contentuponimg" style="position: absolute; left: 0; top: 19%; width: 100%;">
    <div class="container" style="
  position: relative;

"> 
       
            <div class="text-block1" style="
    position: absolute;
    top: 14%;
    background-color: #fff;
    color: #171717;
    padding: 20px;
    left: 606px;
    font-family: 'HVDFontsBrandonTextRegular';
    text-align: center;
    margin-right: 30px;
">
                <div class="bg-white">
                    <h3 style="font-family: 'HVDFontsBrandonTextRegular';color: #ff6c00; font-size:30px;">About The Drape Fit Stylists</h3>
                    <p style="font-family: 'HVDFontsBrandonTextRegular';font-size: 17px;">We have a massive array of a dedicated team of experienced fashion experts across the U.S. They are the best part of our Drape Fit Family. They are very passionate and fashion experts to motivated to learn about your tests, needs, and Fits, in order to find the best outfits for you. Once you fill out your style quiz to tell us what you like. Our personal Stylist will start putting together the perfect FIT box for your budget. You can consult your personal Stylist as per your needs.</p>
                </div>   
    </div>
</div>
    </div>
</section>

<section class="how-it-work">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="it-work-top2">
                        <div class="section-head" data-aos="fade-down">
                            <h2><span>Reasons to Try a Personal</span> Stylist from Drape Fit</h2>
                            <img src="<?= $this->Url->image('header-booten.png'); ?>">
                        </div>
<div class="section-head2">
                        <div class="row">
                            <div class="col-sm-12 col-lg-4 col-md-4">
                                <div class="how-it-item" data-aos="zoom-in">
                                    <div class="item-round-images">
                                        <span class="item0_no">
                                            01
                                        </span>
                                        <span class="round-img">
                                            <img src="<?= $this->Url->image('reasons1.jpg'); ?>">
                                        </span>
                                    </div>
                    <h3>Find your personal stylist</h3>
                    <p>If you’re wondering to find your style then, discover your style with the help of Drape Fit Styling experts.</p>
                                    
                                </div>
                            </div>

                            <div class="col-sm-12 col-lg-4 col-md-4">
                                <div class="how-it-item" data-aos="zoom-in">
                                    <div class="item-round-images">
                                        <span class="item0_no">
                                            02
                                        </span>
                                        <span class="round-img">
                                            <img src="<?= $this->Url->image('reasons2.jpg'); ?>">
                                        </span>
                                    </div>
                                    <h3>Enjoy trying new things</h3>
                    <p>Have fun trying new things with the help of Drape Fit Stylists rather than buying the same apparel and same style .</p>
                                    
                                </div>
                            </div>

                            <div class="col-sm-12 col-lg-4 col-md-4">
                                <div class="how-it-item" data-aos="zoom-in">
                                    <div class="item-round-images">
                                        <span class="item0_no">
                                            03
                                        </span>
                                        <span class="round-img">
                                        <img src="<?= $this->Url->image('reasons3.jpg'); ?>">
                                        </span>
                                    </div>
                                    <h3>Save your valuable time and money</h3>
                    <p>Each second counts, and when you want to save shopping time, then Drape Fit is a one-stop place for your excellent online shopping experience within your budget.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                        
                    </div>
                </div>
            </div>
        </div>
</section>


<div class="clearfix"></div>
<section class="exclusivestylist p-50">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-12 col-xs-12">
                <div class="text-center">
                    <img src="/img/include1.jpg" class="img-responsive width-90-percent" alt="">
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="presentationcontentmiddle">
                    <h2>What Your Exclusive Stylist Includes in a FIT BOX</h2>
                    <div class="presentationcontentcenter">
                        <p>Get up to 5 handpicked pieces of clothing by your personal stylist. In a Drape Fit box, there are five types of items fabulously packed with:</p>
                        <ul class="exclusive-style-ul">
                            <li>T-shirt</li>
                            <li>Jacket</li>
                            <li>Party Wear Clothes</li>
                            <li>Accessory (Handbag/Shoes)</li>
                            <li>Jeans/Lower</li>

                        </ul>
                        <p class="text-center"><strong>A personal note</strong> is written by your Stylist especially for you</p>
                        <p class="text-center"><strong>Style Suggestion</strong> on how to wear and pair you new apparels</p>
                        <p class="text-center"><strong>A prepaid return envelope</strong> (shipping & return are always on us)</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12">
                <div class="text-center">
                <img src="/img/include2.jpg" class="img-responsive width-90-percent" alt="">
                </div>
            </div>
        </div>

    </div>
    </div>
</section>


<section class="do-best-fit">
    <div class="container">
      <div class="row">
      <div class="col-sm-12">
        <div class="section-head" data-aos="zoom-in">
          <h2><span>We do </span> best Fit</h2>
          <p>We are the best online personal style provider.We do give our client with plenty of options to get a best FIT.Upgrade your style in  easy  steps.</p>
          <img src="<?= $this->Url->image('header-booten.png'); ?>">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="do-best-fit-round-main">
          <div class="best-fit-round-left" data-aos="zoom-in">
            <img src="<?= $this->Url->image('wedobest-fit.jpg'); ?>">
          </div>
          <div class="best-fit-round-left best-fit-round-right" data-aos="zoom-in">
            <h3>Finally Ready To Sign Up ?</h3>
            <p>We are the best online personal style provider.We do give our client with plenty of options to get a best FIT.Upgrade your style in easy steps.</p>
            <a href="javascript:void(0)" class="sign-up-btn" onclick="document.getElementById('id01').style.display = 'block'">COMPLETE YOUR FIT PROFILE</a>
            <br>
            <span>
                        <a href="javascript:void(0)" class="sign-up-member" onclick="document.getElementById('id01').style.display = 'block'">Already a member ?</a>
                        <a href="javascript:void(0)" class="sign-in" onclick="document.getElementById('id01').style.display = 'block'">Sign in</a>
                    </span>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>