@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap");
@font-face {
  font-family: "HVDFontsBrandonTextBold";
  src: url("../fonts/HVDFontsBrandonTextBold.eot");
  src: url("../fonts/HVDFontsBrandonTextBold.eot") format("embedded-opentype"),
    url("../fonts/HVDFontsBrandonTextBold.woff2") format("woff2"),
    url("../fonts/HVDFontsBrandonTextBold.woff") format("woff"),
    url("../fonts/HVDFontsBrandonTextBold.ttf") format("truetype"),
    url("../fonts/HVDFontsBrandonTextBold.svg#HVDFontsBrandonTextBold")
      format("svg");
}
@font-face {
  font-family: "HVDFontsBrandonTextRegular";
  src: url("../fonts/HVDFontsBrandonTextRegular.eot");
  src: url("../fonts/HVDFontsBrandonTextRegular.eot")
      format("embedded-opentype"),
    url("../fonts/HVDFontsBrandonTextRegular.woff2") format("woff2"),
    url("../fonts/HVDFontsBrandonTextRegular.woff") format("woff"),
    url("../fonts/HVDFontsBrandonTextRegular.ttf") format("truetype"),
    url("../fonts/HVDFontsBrandonTextRegular.svg#HVDFontsBrandonTextRegular")
      format("svg");
}
@font-face {
  font-family: "HVDFontsBrandonTextThin";
  src: url("../fonts/HVDFontsBrandonTextThin.eot");
  src: url("../fonts/HVDFontsBrandonTextThin.eot") format("embedded-opentype"),
    url("../fonts/HVDFontsBrandonTextThin.woff2") format("woff2"),
    url("../fonts/HVDFontsBrandonTextThin.woff") format("woff"),
    url("../fonts/HVDFontsBrandonTextThin.ttf") format("truetype"),
    url("../fonts/HVDFontsBrandonTextThin.svg#HVDFontsBrandonTextThin")
      format("svg");
}
@font-face {
  font-family: "HVDFontsBrandonTextLight";
  src: url("../fonts/HVDFontsBrandonTextLight.eot");
  src: url("../fonts/HVDFontsBrandonTextLight.eot") format("embedded-opentype"),
    url("../fonts/HVDFontsBrandonTextLight.woff2") format("woff2"),
    url("../fonts/HVDFontsBrandonTextLight.woff") format("woff"),
    url("../fonts/HVDFontsBrandonTextLight.ttf") format("truetype"),
    url("../fonts/HVDFontsBrandonTextLight.svg#HVDFontsBrandonTextLight")
      format("svg");
}
@font-face {
  font-family: "Positype - Scotch Text Bold";
  src: url("../fonts/Positype - Scotch Text Bold.woff2") format("woff2"),
    url("../fonts/Positype - Scotch Text Bold.woff") format("woff"),
    url("../fonts/Positype - Scotch Text Bold.ttf") format("truetype");
}
.a-ember body {
  font-family: "Amazon Ember", Arial, sans-serif;
}
.a-ember .a-text-quote {
  font-family: "Amazon Ember", Arial, sans-serif;
}
/*suprakash added */
.pb-40 {
  padding-bottom: 40px;
}
.pt-40 {
  padding-top: 40px;
}
.mb-25 {
  margin-bottom: 25px;
}
.bg-gray {
  background-color: #eaeded;
  float: left;
  width: 100%;
  text-align: center;
}
.pt-15 {
  padding-top: 15px;
}
/*suprakash end */

.main-title {
  margin: 0 0 27px 0;
  padding: 0;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
  color: #000;
}
.payment {
    margin-top: 0;
    padding: 30px 0;
}
.panel-heading {
  position: relative;
}
.panel-heading input[type="radio"] {
  position: absolute;
  top: 14px;
  left: 10px;
}
.card-list {
  border-bottom: 1px solid #0000004a;
  margin: 0 0;
  padding: 6px 0;
}
.card-list ul {
  margin: 0;
  padding: 0 10px 0 35px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.card-list ul li:first-child {
  width: 50px;
}

.card-list ul li:first-child img {
  width: 100%;
}
.card-list ul li:nth-child(2) {
  width: fit-content;
  padding: 0 0 0 10px;
}
.card-list ul li:nth-child(3) {
  width: 20%;
  margin: 0 0 0 auto;
}
.card-list ul li:nth-child(4) {
  width: 20%;
  text-align: right;
}
.card-details-heading ul {
  margin: 0 !important;
  padding: 0 !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-details-heading ul li {
  width: 57% !important;
}

@media only screen and (max-width: 768px) {
  .panel-faq .panel-heading input[type="radio"] {
    top: 24px !important;
  }
  .card-details-heading ul li {
    width: 100% !important;
    text-align: center;
  }
  .card-details-heading ul {
    flex-direction: column;
  }
}
@media only screen and (max-width: 480px) {
  .card-list ul li:nth-child(2) {
    width: fit-content;
    padding: 0 0 0 10px;
  }
  .card-list ul li:nth-child(3) {
    width: 50%;
  }
  .card-list ul li:nth-child(3) p,
  .card-list ul li:nth-child(4) p {
    margin: 0;
  }
  .card-list ul li:nth-child(4) {
    width: 50%;
    text-align: right;
  }
}
@media only screen and (max-width: 400px) {
  .card-list ul {
    padding: 0px 10px 5px 35px;
  }
  .card-details-heading ul {
    flex-wrap: wrap;
  }
  .card-details-heading ul li {
    width: 100% !important;
  }
  .card-list ul li:nth-child(2) {
    width: fit-content;
    padding: 0 0 0 10px;
  }
  .card-list ul li span {
    margin: 0;
    display: block;
  }
}
