/*@charset "utf-8";*/
/* CSS Document */
/*@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');*/
/*@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');*/
/*@import url('https://fonts.googleapis.com/css?family=Fjalla+One');*/
/*@import url('https://fonts.googleapis.com/css?family=Dancing+Script:400,700');*/
@font-face {
	font-family: 'Amazon Ember';
	src: url(https://m.media-amazon.com/151images/G/01/AUIClients/AmazonUIFont-amazonember_rg-cc7ebaa05a2cd3b02c0929ac0475a44ab30b7efa._V2_.woff2) format("woff2"), url(https://m.media-amazon.com/images/G/01/AUIClients/AmazonUIFont-amazonember_rg-8a9db402d8966ae93717c348b9ab0bd08703a7a7._V2_.woff) format("woff")
}

@font-face {
	font-family: 'Amazon Ember';
	font-style: italic;
	src: url(https://m.media-amazon.com/images/G/01/AUIClients/AmazonUIFont-amazonember_rgit-9cc1bb64eb270135f1adf3a4881c2ee5e7c37be5._V2_.woff2) format("woff2"), url(https://m.media-amazon.com/images/G/01/AUIClients/AmazonUIFont-amazonember_rgit-a4dc98d644ff2aedd41da3da462f09ffce86eafb._V2_.woff) format("woff")
}

@font-face {
	font-family: 'Amazon Ember';
	font-weight: 700;
	src: url(https://m.media-amazon.com/images/G/01/AUIClients/AmazonUIFont-amazonember_bd-46b91bda68161c14e554a779643ef4957431987b._V2_.woff2) format("woff2"), url(https://m.media-amazon.com/images/G/01/AUIClients/AmazonUIFont-amazonember_bd-b605252f87b8b3df5ae206596dac0938fc5888bc._V2_.woff) format("woff")
}

@font-face {
	font-family: 'Amazon Ember';
	font-style: italic;
	font-weight: 700;
	src: url(https://m.media-amazon.com/images/G/01/AUIClients/AmazonUIFont-amazonember_bdit-80ff7aba37dd1ff5a6b90233a19e3a780a96dc2f._V2_.woff2) format("woff2"), url(https://m.media-amazon.com/images/G/01/AUIClients/AmazonUIFont-amazonember_bdit-57598ce426a612be5a1d15eee08252668fca5e7a._V2_.woff) format("woff")
}



.icon-box {
    float: left;
    margin-right: 22px;
    padding-top: 4px;
}
.text-box {
    float: left;
    width: 75%;
}

.contain-section{ float: left; width: 100%;}
.cat-box{ float: left; width: 100%; position: relative; text-align: center;}
.cat-box img{ width: 100%;}
.cat-box h4 {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background: #000000a6;
    margin: 0;
    padding: 18px 14px;
    color: #fff;
    letter-spacing: 2px;
    line-height: 26px;
}
.cat-box a {
    display: inline-block;
    background: #fff;
    color: #000;
    padding: 8px 20px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    margin-top: -10px;
    margin-bottom: -10px;
    position: relative;
    top: -55px;
    width: 100px;
    box-shadow: 3px 2px 8px -4px #000000;
}
.cat-box a:hover{
    background: #d64ade;
    color: #fff;
    box-shadow: none;
}
.woks{ text-align: center;}
/*.woks h2 {*/
/*    font-size: 34px;*/
/*    color: #000;*/
/*    font-weight: 900;*/
/*    letter-spacing: 3px;*/
/*font-family: 'Dancing Script', cursive;*/
/*}*/
.woks img{ margin-top: 12px;}
.box {
    float: left;
    width: 100%;
    text-align: center;
    border: 1px solid #ccc;
    padding: 0 18px;
    margin-top: 80px;
}
/*.box h4{*/
/*	font-size: 16px;*/
/*	color: #d64ade;*/
/*	font-weight: 900;*/
/*	 font-family: 'Dancing Script', cursive;*/
/*}*/
.tickimg-box {
    display: inline-block;
    height: 85px;
    width: 85px;
    background: url(../images/arms-4.png) center center no-repeat;
    background-size: 100%;
    margin-top: -12px;
    margin-bottom: -25px;
    position: relative;
    top: -34px;
    text-align: center;
    padding-top: 26px;
}
.step-box{
    float: left;
    width: 100%;
    text-align: left;
    margin-top: 40px;
    margin-bottom: 20px;
    position: relative;
}

.step-box-last:after{ display: none;}
.step-number {
    display: inline-block;
    height: 80px;
    width: 80px;
    border: 1px solid #d64ade;
    text-align: center;
    padding-top: 14px;
}
.step-number span {
    font-size: 32px;
    font-weight: 900;
    color: #d64ade;
    font-family: 'Dancing Script', cursive;
    padding-top: 4px;
    display: inline-block;
}
.step-box h4 {
    font-size: 16px;
    color: #000;
    font-weight: 900;
    letter-spacing: 2px;
    position: relative;
    margin-bottom: 16px;
    margin-top: 15px;
    font-family: 'Dancing Script', cursive;
}
.step-box h4:after{
    position: absolute;
    height: 1px;
    background: #373737;
    width: 50px;
    content: "";
    bottom: -8px;
    left: 0;
}
.step-box p{
    font-size: 16px;
    text-align: left;
}

.form-box {
    float: left;
    width: 35%;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(53, 53, 53, 0.59);
    height: 100%;
    padding: 20px 33px;
    border-top: 6px solid #d64ade;
    border-bottom: 6px solid #d64ade;
}
.form-box h3{
    font-size: 25px;
    color: #d64ade;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0 0 25px;
    font-weight:900;
}
.form-box .fb {
    display: inline-block;
    background: #355a94;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 13px;
    letter-spacing: 2px;
    color: #fff;
    border-radius: 4px;
    padding-right: 33px;
}
.form-box .fb span {
    display: inline-block;
    height: 47px;
    width: 47px;
    background: #274168;
    font-size: 21px;
    padding-top: 6px;
    margin-right: 20px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.form-box .fb span i{ padding-top: 2px;}
.form-box h6{
    margin: 35px 0;
}
.form-box h6 span {
    position: relative;
    display: inline-block;
    height: 45px;
    width: 45px;
    background: #d64ade;
    border-radius: 100%;
    font-family: 'Fjalla One', sans-serif;
    font-size: 13px;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    padding-top: 13px;
    z-index: 111;
}
.form-box h6 span:after {
    content: "";
    position: absolute;
    height: 95px;
    width: 2px;
    left: 21px;
    top: -22px;
    background: url(../images/border2.png) left top no-repeat;
}
.form-box form ul{
    float: left;
    width: 100%;
}
.form-box form ul li{
    float: left;
    width: 100%;
}
.form-box form ul li input {
    background: none;
    border: none;
    color: #fff;
    text-transform: uppercase;
    width: 100%;
    border-bottom: 1px solid #fff;
    padding: 12px 9px 11px;
    font-weight: 200;
    font-size: 13px;
    margin-top: 4px;
    margin-bottom: 5px;
    letter-spacing: 2px;
}
.form-box form ul li input:focus{outline: none;}
.form-box form ul li:first-child{ float: left; width: 48%;}
.form-box form ul li:nth-child(2){ float: right; width: 48%;}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #fff;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #fff;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #fff;
}
:-moz-placeholder { /* Firefox 18- */
    color: #fff;
}
.form-box form input[type="submit"] {
    background: #d64ade;
    font-family: 'Dancing Script', cursive;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    border: none;
    letter-spacing: 2px;
    padding: 14px 26px 11px;
    margin-top: 24px;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-bottom: 10px;

}
.form-box form input[type="submit"]:hover{
    background: #ffffff;
    color: #d64ade;
}
.form-box p {
    font-size: 13px;
    font-weight: 200;
    color: #fff;
    letter-spacing: 2px;
    text-align: left;
}
.form-box p a {
    display: inline-block;
    font-weight: bold;
    color: #d64ade;
}

/*.footer {*/
/*    float: left;*/
/*    width: 100%;*/
/*    padding: 55px 0 45px;*/
/*    background: #101010;*/
/*    margin-top: 40px;*/
/*}*/
/*.footer-first h1 {*/
/*    font-weight: bold;*/
/*    font-size: 37px;*/
/*    color: #fff;*/
/*    margin: 7px 0 22px;*/
/*}*/

/*.footer-first p {*/
/*    text-align: left;*/
/*    font-size: 14px;*/
/*    color: #ffffff;*/
/*    padding-right: 8px;*/
/*    letter-spacing: 2px;*/
/*}*/
/*.footer-menu-box{ float: left; width: 33%;}*/
/*.footer-first ul{ float:left; width:100%;}*/
/*.footer-first li {*/
/*    display: inline-block;*/
/*    width: 100%;*/
/*    color: #8e8e8e;*/
/*    font-size: 15px;*/
/*    border-bottom: 1px solid #373737;*/
/*    padding: 8px 0;*/
/*}*/
/*.ser {*/
/*    padding: 0 !important;*/
/*}*/
/*.footer-first li span{ float:right;}*/
/*.footer h4 {*/
/*    font-size: 15px;*/
/*    color: #d64ade;*/
/*    text-transform: uppercase;*/
/*    font-weight: 900;*/
/*    background: url(../images/border3.jpg) left bottom no-repeat;*/
/*    padding-bottom: 17px;*/
/*    margin-bottom: 5px;*/
/*    letter-spacing: 2px;*/
/*    margin-top: 0;*/
/*    font-family: 'Dancing Script', cursive;*/
/*}*/
/*.ser ul {*/
/*    float: left;*/
/*    width: 100%;*/
/*    padding-right: 30px;*/
/*}*/
/*.ser ul li {*/
/*    display: inline-block;*/
/*    width: 100%;*/
/*    padding: 8px 0;*/
/*    border-bottom: 1px solid #424242;*/
/*}*/
/*.ser ul li:last-child{ border:none;}*/
/*.ser ul li a {*/
/*    color: #ffffff;*/
/*    font-size: 15px;*/
/*    letter-spacing: 1px;*/
/*    font-weight: 400;*/
/*}*/
/*.ser ul li a:hover{*/
/*    color: #d64ade;*/
/*}*/
/*.footer-social ul{ float:left; width:100%;}*/
/*.footer-social ul li{ display:inline-block;}*/
/*.footer-social ul li a {*/
/*    display: inline-block;*/
/*    height: 31px;*/
/*    width: 31px;*/
/*    color: #fff;*/
/*    text-align: center;*/
/*    padding-top: 5px;*/
/*    background: #598dca;*/
/*    border-radius: 100%;*/
/*    border:1px solid #598dca;*/
/*    margin: 0 4px;*/
/*}*/
/*.footer-social ul li a:hover{*/
/*	background: none;*/
/*	color: #598dca;*/
/*}*/
/*.footer-social ul li:first-child a{*/
/*	border:1px solid #3a589b;*/
/*	background: #3a589b;*/
/*}*/
/*.footer-social ul li:first-child a:hover{*/
/*	color:#3a589b;*/
/*	background: none;*/
/*}*/
/*.footer-social ul li a:nth-child(2) a{*/
/*	border:1px solid #007ab9;*/
/*	background: #007ab9;*/
/*}*/
/*.footer-social ul li:nth-child(2) a:hover{*/
/*	color:#007ab9;*/
/*	background: none;*/
/*}*/
/*.footer-social ul li:last-child a{*/
/*	border:1px solid #517fa6;*/
/*	background: #517fa6;*/
/*}*/
/*.footer-social ul li:last-child a:hover{*/
/*	color:#517fa6;*/
/*	background: none;*/
/*}*/

/*.footer-last {*/
/*    float: left;*/
/*    width: 100%;*/
/*    text-align: center;*/
/*    padding: 20px 0;*/
/*    background: #ffffff;*/
/*}*/
/*.footer-last p {*/
/*    text-align: center;*/
/*    font-size: 15px;*/
/*    color: #101010;*/
/*    margin: 0;*/
/*    letter-spacing: 2px;*/
/*}*/
/*.footer-first img{ margin-bottom: 23px;}*/
/*.footer-last ul{ margin-top: 20px;}*/
/*.footer-last li{ display: inline-block; background: url(../images/border-3.png) right center no-repeat; padding: 0 15px 0 13px;}*/
/*.footer-last li:last-child{ background:none;}*/
/*.footer-last li a {*/
/*    display: inline-block;*/
/*    color: #101010;*/
/*    font-size: 15px;*/
/*    letter-spacing: 2px;*/
/*}*/
/*.footer-last li a:hover{ color: #e329e4;}*/
/*.menu-box{ float:left; width:100%; background:#3b3e4e;}*/
/*.menu-box ul{ float:left; width:100%;}*/
/*.menu-box ul li {*/
/*    display: inline-block;*/
/*    margin: 0 3px;*/
/*}*/
/*.menu-box ul li a {*/
/*    color: #f4f4f4;*/
/*    font-size: 15px;*/
/*    text-transform: uppercase;*/
/*    font-weight: 600;*/
/*    padding: 20px 16px 17px;*/
/*    display: inline-block;*/
/*	border-bottom:4px solid #3b3e4e;*/
/*}*/
/*.menu-box ul li a:hover{ color:#15bba4; border-bottom:4px solid #646777; background: url(../images/arr.png) bottom center no-repeat;}*/
/*.appo {*/
/*    position: absolute;*/
/*    background: #646776 !important;*/
/*    font-size: 15px;*/
/*    font-weight: bold;*/
/*    color: #fff;*/
/*    transform: rotate(-90deg);*/
/*    text-transform: uppercase;*/
/*    padding: 9px 14px;*/
/*    right: -43px;*/
/*    z-index: 111;*/
/*    top: 70px;*/
/*}*/

/**********************Start Women*********************/

/* -------------------------------- 

Patterns - reusable parts of our design

-------------------------------- */
/*@media only screen and (min-width: 1170px) {*/
/*  .cd-is-hidden {*/
/*    visibility: hidden;*/
/*  }*/
/*}*/

/* -------------------------------- 

Vertical Timeline - by CodyHouse.co

-------------------------------- */

/*.cd-timeline {*/
/*  overflow: hidden;*/
/*  margin: 2em auto;*/
/*}*/

/*.cd-timeline__container {*/
/*  position: relative;*/
/*  width: 90%;*/
/*  max-width: 1170px;*/
/*  margin: 0 auto;*/
/*  padding: 2em 0;*/
/*}*/

/*.cd-timeline__container::before {*/
/* this is the vertical line */
/*  content: '';*/
/*  position: absolute;*/
/*  top: 0;*/
/*  left: 18px;*/
/*  height: 100%;*/
/*  width: 4px;*/
/*  background: #d7e4ed;*/
/*}*/

/*@media only screen and (min-width: 1170px) {*/
/*  .cd-timeline {*/
/*    margin-top: 3em;*/
/*    margin-bottom: 3em;*/
/*  }*/
/*  .cd-timeline__container::before {*/
/*    left: 50%;*/
/*    margin-left: -2px;*/
/*  }*/
/*}*/

/*.cd-timeline__block {*/
/*  position: relative;*/
/*  margin: 2em 0;*/
/*}*/

/*.cd-timeline__block:after {*/
/* clearfix */
/*  content: "";*/
/*  display: table;*/
/*  clear: both;*/
/*}*/

/*.cd-timeline__block:first-child {*/
/*  margin-top: 0;*/
/*}*/

/*.cd-timeline__block:last-child {*/
/*  margin-bottom: 0;*/
/*}*/

/*@media only screen and (min-width: 1170px) {*/
/*  .cd-timeline__block {*/
/*    margin: 4em 0;*/
/*  }*/
/*}*/

/*.cd-timeline__img {*/
/*  position: absolute;*/
/*  top: 0;*/
/*  left: 0;*/
/*  width: 40px;*/
/*  height: 40px;*/
/*  border-radius: 50%;*/
/*  -webkit-box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);*/
/*          box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);*/
/*}*/

/*.cd-timeline__img img {*/
/*  display: block;*/
/*  width: 24px;*/
/*  height: 24px;*/
/*  position: relative;*/
/*  left: 50%;*/
/*  top: 50%;*/
/*  margin-left: -12px;*/
/*  margin-top: -12px;*/
/*}*/

/*.cd-timeline__img.cd-timeline__img--picture {*/
/*  background: #922993;*/
/*}*/

/*.cd-timeline__img.cd-timeline__img--movie {*/
/*  background: #3c3c3c;*/
/*}*/

/*.cd-timeline__img.cd-timeline__img--location {*/
/*  background: #3c3c3c;*/
/*}*/

/*@media only screen and (min-width: 1170px) {*/
/*  .cd-timeline__img {*/
/*    width: 60px;*/
/*    height: 60px;*/
/*    left: 50%;*/
/*    margin-left: -30px;*/
/*    -webkit-transform: translateZ(0);*/
/*    transform: translateZ(0);*/
/*    font-size: 32px;*/
/*    font-weight: 900;*/
/*    color: #fff;*/
/*    text-align: center;*/
/*    padding-top: 7px;*/
/*  }*/
/*  .cd-timeline__img.cd-timeline__img--bounce-in {*/
/*    visibility: visible;*/
/*    -webkit-animation: cd-bounce-1 0.6s;*/
/*            animation: cd-bounce-1 0.6s;*/
/*  }*/
/*}*/

/*@-webkit-keyframes cd-bounce-1 {*/
/*  0% {*/
/*    opacity: 0;*/
/*    -webkit-transform: scale(0.5);*/
/*            transform: scale(0.5);*/
/*  }*/
/*  60% {*/
/*    opacity: 1;*/
/*    -webkit-transform: scale(1.2);*/
/*            transform: scale(1.2);*/
/*  }*/
/*  100% {*/
/*    -webkit-transform: scale(1);*/
/*            transform: scale(1);*/
/*  }*/
/*}*/

/*@keyframes cd-bounce-1 {*/
/*  0% {*/
/*    opacity: 0;*/
/*    -webkit-transform: scale(0.5);*/
/*            transform: scale(0.5);*/
/*  }*/
/*  60% {*/
/*    opacity: 1;*/
/*    -webkit-transform: scale(1.2);*/
/*            transform: scale(1.2);*/
/*  }*/
/*  100% {*/
/*    -webkit-transform: scale(1);*/
/*            transform: scale(1);*/
/*  }*/
/*}*/

/*.cd-timeline__content {*/
/*  position: relative;*/
/*  margin-left: 60px;*/
/*  background: white;*/
/*  border-radius: 0.25em;*/
/*  padding: 1em;*/
/*  -webkit-box-shadow: 0 3px 0 #d7e4ed;*/
/*          box-shadow: 0 3px 0 #d7e4ed;*/
/*}*/

/*.cd-timeline__content:after {*/
/* clearfix */
/*  content: "";*/
/*  display: table;*/
/*  clear: both;*/
/*}*/

/*.cd-timeline__content::before {*/
/* triangle next to content block */
/*  content: '';*/
/*  position: absolute;*/
/*  top: 16px;*/
/*  right: 100%;*/
/*  height: 0;*/
/*  width: 0;*/
/*  border: 7px solid transparent;*/
/*  border-right: 7px solid white;*/
/*}*/

/*.cd-timeline__content h2 {*/
/*  color: #303e49;*/
/*}*/

/*.cd-timeline__content p,*/
/*.cd-timeline__read-more,*/
/*.cd-timeline__date {*/
/*  font-size: 1.3rem;*/
/*}*/

/*.cd-timeline__content p {*/
/*  margin: 1em 0;*/
/*  line-height: 1.6;*/
/*}*/

/*.cd-timeline__read-more,*/
/*.cd-timeline__date {*/
/*  display: inline-block;*/
/*}*/

/*.cd-timeline__read-more {*/
/*  float: right;*/
/*  padding: .8em 1em;*/
/*  background: #acb7c0;*/
/*  color: white;*/
/*  border-radius: 0.25em;*/
/*}*/

/*.cd-timeline__read-more:hover {*/
/*  background-color: #bac4cb;*/
/*}*/

/*.cd-timeline__date {*/
/*  float: left;*/
/*  padding: .8em 0;*/
/*  opacity: .7;*/
/*}*/

/*@media only screen and (min-width: 768px) {*/
/*  .cd-timeline__content h2 {*/
/*    font-size: 2rem;*/
/*  }*/
/*  .cd-timeline__content p {*/
/*    font-size: 1.6rem;*/
/*  }*/
/*  .cd-timeline__read-more,*/
/*  .cd-timeline__date {*/
/*    font-size: 1.4rem;*/
/*  }*/
/*}*/

/*@media only screen and (min-width: 1170px) {*/
/*  .cd-timeline__content {*/
/*    margin-left: 0;*/
/*    padding: 1.6em;*/
/*    width: 45%;*/
/* Force Hardware Acceleration */
/*    -webkit-transform: translateZ(0);*/
/*            transform: translateZ(0);*/
/*  }*/
/*  .cd-timeline__content::before {*/
/*    top: 24px;*/
/*    left: 100%;*/
/*    border-color: transparent;*/
/*    border-left-color: white;*/
/*  }*/
/*  .cd-timeline__read-more {*/
/*    float: left;*/
/*  }*/
/*.cd-timeline__date {*/
/*    position: absolute;*/
/*    width: 100%;*/
/*    left: 122%;*/
/*    top: 6px;*/
/*    font-size: 1.6rem;*/
/*    box-shadow: 2px 6px 9px 0 #dcdcdc;*/
/*    top: 25px;*/
/*    width: 145px;*/
/*        padding-bottom: 0;*/
/*}*/
/*.cd-timeline__date img{ width: 100%; float: left;}*/
/*  .cd-timeline__block:nth-child(even) .cd-timeline__content {*/
/*    float: right;*/
/*  }*/
/*  .cd-timeline__block:nth-child(even) .cd-timeline__content::before {*/
/*    top: 24px;*/
/*    left: auto;*/
/*    right: 100%;*/
/*    border-color: transparent;*/
/*    border-right-color: white;*/
/*  }*/
/*  .cd-timeline__block:nth-child(even) .cd-timeline__read-more {*/
/*    float: right;*/
/*  }*/
/*  .cd-timeline__block:nth-child(even) .cd-timeline__date {*/
/*    left: auto;*/
/*    right: 122%;*/
/*    text-align: right;*/
/*  }*/
/*  .cd-timeline__content.cd-timeline__content--bounce-in {*/
/*    visibility: visible;*/
/*    -webkit-animation: cd-bounce-2 0.6s;*/
/*            animation: cd-bounce-2 0.6s;*/
/*  }*/
/*}*/

/*@media only screen and (min-width: 1170px) {*/
/* inverse bounce effect on even content blocks */
/*  .cd-timeline__block:nth-child(even) .cd-timeline__content.cd-timeline__content--bounce-in {*/
/*    -webkit-animation: cd-bounce-2-inverse 0.6s;*/
/*            animation: cd-bounce-2-inverse 0.6s;*/
/*  }*/
/*}*/

/*@-webkit-keyframes cd-bounce-2 {*/
/*  0% {*/
/*    opacity: 0;*/
/*    -webkit-transform: translateX(-100px);*/
/*            transform: translateX(-100px);*/
/*  }*/
/*  60% {*/
/*    opacity: 1;*/
/*    -webkit-transform: translateX(20px);*/
/*            transform: translateX(20px);*/
/*  }*/
/*  100% {*/
/*    -webkit-transform: translateX(0);*/
/*            transform: translateX(0);*/
/*  }*/
/*}*/

/*@keyframes cd-bounce-2 {*/
/*  0% {*/
/*    opacity: 0;*/
/*    -webkit-transform: translateX(-100px);*/
/*            transform: translateX(-100px);*/
/*  }*/
/*  60% {*/
/*    opacity: 1;*/
/*    -webkit-transform: translateX(20px);*/
/*            transform: translateX(20px);*/
/*  }*/
/*  100% {*/
/*    -webkit-transform: translateX(0);*/
/*            transform: translateX(0);*/
/*  }*/
/*}*/

/*@-webkit-keyframes cd-bounce-2-inverse {*/
/*  0% {*/
/*    opacity: 0;*/
/*    -webkit-transform: translateX(100px);*/
/*            transform: translateX(100px);*/
/*  }*/
/*  60% {*/
/*    opacity: 1;*/
/*    -webkit-transform: translateX(-20px);*/
/*            transform: translateX(-20px);*/
/*  }*/
/*  100% {*/
/*    -webkit-transform: translateX(0);*/
/*            transform: translateX(0);*/
/*  }*/
/*}*/

/*@keyframes cd-bounce-2-inverse {*/
/*  0% {*/
/*    opacity: 0;*/
/*    -webkit-transform: translateX(100px);*/
/*            transform: translateX(100px);*/
/*  }*/
/*  60% {*/
/*    opacity: 1;*/
/*    -webkit-transform: translateX(-20px);*/
/*            transform: translateX(-20px);*/
/*  }*/
/*  100% {*/
/*    -webkit-transform: translateX(0);*/
/*            transform: translateX(0);*/
/*  }*/
/*}*/
/*.fix-banner-section {*/
/*    float: left;*/
/*    width: 100%;*/
/*    background: url(../images/banner2.jpg) left top no-repeat;*/
/*    background-size: 100%;*/
/*    padding: 36px 0;*/
/*    margin: 55px 0;*/
/*}*/
/*.fixed-box {*/
/*    float: left;*/
/*    width: 34%;*/
/*    background: #fff;*/
/*    padding: 30px;*/
/*    text-align: center;*/
/*    box-shadow: 0px 27px 50px -21px #000;*/
/*}*/
/*.fixed-box h3{ */
/*	margin: 0 0 5px;*/
/*	    font-size: 29px;*/
/*    color: #2b2e34;*/
/*    font-weight: 900;*/
/*    letter-spacing: 3px;*/
/*}*/
/*.fixed-box ul{ float: left; width: 100%;}*/
/*.fixed-box ul li {*/
/*    display: inline-block;*/
/*    font-size: 16px;*/
/*    letter-spacing: 2px;*/
/*    padding: 11px 0;*/
/*    line-height: 23px;*/
/*    border-bottom: 1px solid #ccc;*/
/*}*/
/*.fixed-box ul li:last-child{ padding-bottom: 0; border-bottom:none;}*/
/**********************End Women*********************/
.model-content .modal-lg{
    z-index: 111111;
    width: 450px;
    text-align: center;
}
.model-content .modal-lg p{ text-align: center;}
.model-content .modal-lg h2 {
    color: #d64ade;
    font-weight: bold;
    font-size: 32px;
    margin-top: 0;
    font-family: 'Dancing Script', cursive;
    border-bottom: 2px solid #d64ade;
    padding-bottom: 20px;
}
.model-content .modal-lg a {
    display: inline-block;
    background: #d64ade;
    color: #fff;
    padding: 8px 20px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    width: 150px;
    margin-top: 17px;
    margin-bottom: 10px;
    font-size: 17px;
}
.model-content .modal-lg a:hover {
    background: #000;
}
button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    font-size: 37px;
    position: absolute;
    color: #d64ade;
    opacity: 1;
    right: 10px;
    top: 0;
}



/**********************Start Login*********************/
/*---------------------------------------------*/
.limiter input {
    outline: none;
    border: none;
    font-family: 'Amazon Ember';
}

.limiter textarea {
    outline: none;
    border: none;
}

.limiter textarea:focus, .limiter input:focus {
    border-color: transparent !important;
}

.limiter input:focus::-webkit-input-placeholder { color:transparent; }
.limiter input:focus:-moz-placeholder { color:transparent; }
.limiter input:focus::-moz-placeholder { color:transparent; }
.limiter input:focus:-ms-input-placeholder { color:transparent; }

.limiter textarea:focus::-webkit-input-placeholder { color:transparent; }
.limiter textarea:focus:-moz-placeholder { color:transparent; }
.limiter textarea:focus::-moz-placeholder { color:transparent; }
.limiter textarea:focus:-ms-input-placeholder { color:transparent; }

.limiter input::-webkit-input-placeholder { color: #999999; }
.limiter input:-moz-placeholder { color: #999999; }
.limiter input::-moz-placeholder { color: #999999; }
.limiter input:-ms-input-placeholder { color: #999999; }

.limiter textarea::-webkit-input-placeholder { color: #999999; }
.limiter textarea:-moz-placeholder { color: #999999; }
.limiter textarea::-moz-placeholder { color: #999999; }
.limiter textarea:-ms-input-placeholder { color: #999999; }

/*---------------------------------------------*/
button {
    outline: none !important;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}

iframe {
    border: none !important;
}


/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
    font-size: 13px;
    line-height: 1.5;
    color: #999999;
}

.txt2 {
    font-size: 13px;
    line-height: 1.5;
    color: #666666;
}


/*//////////////////////////////////////////////////////////////////
[ login ]*/
.p-t-12{ margin: 15px 0;}
.limiter {
    width: 100%;
    float: left;
    background: url(../../images/banner-final1.jpg);
    background-size: 100%;
}

.container-login100 {
    width: 100%; 
    float: left;
}

.wrap-login100 {
    width: 80%;
    background: none;
    border-radius: 10px;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 45px 110px 45px 110px;
    margin: 37px auto 20px;
}
.wrap-login100 .email .input100{
    padding-left: 44px !important;
}

/*------------------------------------------------------------------
[  ]*/
.login100-pic {
    width: 45%;
}

.login100-pic img {
    max-width: 100%;
    width: 100%;
}

/*------------------------------------------------------------------
[  ]*/
#loading{
    display: none;
}
.login100-form {
width: 55%;
background:#fff;
padding: 0 0 32px;
margin: 43px auto 0;
border-radius: 10px;
box-shadow: 0px 0px 27px 0px #464343;
overflow: hidden;
}
.login100-form input[type="text"], .login100-form input[type="password"],.login100-form input[type="email"] {

    width: 100%;
    height: 35px;
    padding: 5px 15px 5px 45px;
    margin: 5px 0 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    background: #ededed;
    border: 1px solid #ccc !important;

}
.focus-input100{ display: none !important; }

.login100-form-title {
font-family: 'Amazon Ember';
font-size: 24px;
color:#ff6c00;
line-height: 1.2;
text-align: center;
width: 100%;
display: block;
margin-bottom: 15px;
font-weight: 900;
background:#232f3e;
margin-top: 0;
padding: 13px 0px;
text-transform: uppercase;
}

/*---------------------------------------------*/
.wrap-input100 {
    position: relative;
    width: 100%;
    z-index: 1;
    margin-bottom: 10px;
}

/*.input100 {
    font-size: 15px;
    line-height: 1.5;
    color: #666666;
    display: block;
    width: 100%;
    background: #f5f5f5;
    height: 50px;
    border-radius: 25px;
    padding: 0 30px 0 68px;
    box-shadow: 0px 0px 18px -4px #adabab;
}*/


/*------------------------------------------------------------------
[ Focus ]*/
.focus-input100 {
    display: block;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 0px 0px;
    color:rgb(214, 74, 222);
}

.input100:focus + .focus-input100 {
    -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
    animation: anim-shadow 0.5s ease-in-out forwards;
}

@-webkit-keyframes anim-shadow {
    to {
        box-shadow: 0px 0px 70px 25px;
        opacity: 0;
    }
}

@keyframes anim-shadow {
    to {
        box-shadow: 0px 0px 70px 25px;
        opacity: 0;
    }
}

.symbol-input100 {
    font-size: 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    left: 20px;
    width: 100%;
    height: 100%;
    padding-left: 18px;
    pointer-events: none;
    color: #666666;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.input100:focus + .focus-input100 + .symbol-input100 {
    color: #d64ade;
    padding-left: 28px;
}

/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 19px 0;
}
.container-login100-form-btn .submit{
    width:100%;
}





/*------------------------------------------------------------------
[ Responsive ]*/



@media (max-width: 992px) {
    .wrap-login100 {
        padding: 177px 90px 33px 85px;
    }

    .login100-pic {
        width: 35%;
    }

    .login100-form {
        width: 50%;
    }
}

@media (max-width: 768px) {
    .wrap-login100 {
        padding: 100px 80px 33px 80px;
    }

    .login100-pic {
        display: none;
    }

    .login100-form {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .wrap-login100 {
        padding: 100px 15px 33px 15px;
    }
}


/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
    position: relative;
    padding: 0 19px;
}

.alert-validate::before {
    content: attr(data-validate);
    position: absolute;
    max-width: 70%;
    background-color: white;
    border: 1px solid #c80000;
    border-radius: 13px;
    padding: 4px 25px 4px 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 8px;
    pointer-events: none;

    font-family: Poppins-Medium;
    color: #c80000;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;

    visibility: hidden;
    opacity: 0;

    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

.alert-validate::after {
    content: "\f06a";
    font-family: FontAwesome;
    display: block;
    position: absolute;
    color: #c80000;
    font-size: 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 13px;
}

.alert-validate:hover:before {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 992px) {
    .alert-validate::before {
        visibility: visible;
        opacity: 1;
    }
}
/**********************End Login*********************/


/*.style-bar {*/
/*    float: left;*/
/*    width: 100%;*/
/*    background: #d64ade;*/
/*    text-align: center;*/
/*}*/
/*.style-bar ul{ float: left; width: 100%; margin: 0;}*/
/*.style-bar ul li{ display: inline-block;}*/
/*.style-bar ul li a {*/
/*    color: #fff;*/
/*    font-weight: bold;*/
/*    font-family: 'Dancing Script', cursive;*/
/*    padding: 16px 18px;*/
/*    display: inline-block;*/
/*}*/
/*.style-bar ul li a:hover{*/
/*	background: #fff;*/
/*	color: #d64ade;*/
/*}*/
/*.style-contain{ float: left; width: 100%; text-align: center;}*/
/*.tab{*/
/*    margin-top: 30px;*/
/*}*/
/*.tab .nav-tabs{*/
/*    border:none;*/
/*    border-bottom: 1px solid #d64ade;*/
/*}*/
/*.style-contain .nav-tabs>li {*/
/*    float: none;*/
/*    display: inline-block;*/
/*    vertical-align: bottom;*/
/*}*/
/*.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{*/
/*    color: #fff !important;*/
/*    cursor: default !important;*/
/*    background-color: #d64ade !important;*/
/*    border: 3px solid #d64ade !important;*/
/*    border-bottom-color: #ad05b7 !important;*/
/*}*/
/*.nav>li>a:hover, .nav>li>a:focus {*/
/*    color: #fff !important;*/
/*    background-color: #d64ade !important;*/
/*    border: 3px solid #d64ade !important;*/
/*    border-bottom-color: #ad05b7 !important;*/
/*}*/
/*.nav-tabs li a{*/
/*    padding: 15px 40px !important;*/
/*    border:1px solid #ededed;*/
/*    border-top: 2px solid #ededed;*/
/*    border-right: 0px none;*/
/*    background: #525252;*/
/*    color:#fff;*/
/*    border-radius: 0px;*/
/*    margin-right: 0px;*/
/*    font-weight: bold;*/
/*    transition: all 0.3s ease-in 0s;*/
/*    cursor: pointer;*/
/*}*/
/*.nav-tabs li a:hover{*/
/*    border-bottom-color: #ededed;*/
/*    border-right: 0px none;*/
/*    background: #00b0ad;*/
/*    color: #fff;*/
/*}*/
/*.nav-tabs li a i{*/
/*    display: inline-block;*/
/*    text-align: center;*/
/*    margin-right:10px;*/
/*}*/
/*.nav-tabs li:last-child{*/
/*    border-right:1px solid #ededed;*/
/*}*/
/*.nav-tabs li.active a,*/
/*.nav-tabs li.active a:focus,*/
/*.nav-tabs li.active a:hover{*/
/*    border-top: 3px solid #00b0ad;*/
/*    border-right: 1px solid #d3d3d3;*/
/*    margin-top: -15px;*/
/*    color: #444;*/
/*    padding: 22px 40px !important;*/
/*}*/
/*.style-contain .tab .tab-content {*/
/*    padding: 20px;*/
/*    line-height: 22px;*/
/*    width: 80%;*/
/*    display: inline-block;*/
/*}*/
/*.tab .tab-content h3{*/
/*    margin-top: 0;*/
/*    float: left;*/
/*    width: 100%;*/
/*}*/
@media only screen and (max-width: 767px){
    .nav-tabs li{
        width:100%;
        margin-bottom: 10px;
    }
    .nav-tabs li a{
        padding: 15px;
    }
    .nav-tabs li.active a,
    .nav-tabs li.active a:focus,
    .nav-tabs li.active a:hover{
        padding: 15px;
        margin-top: 0;
    }
}
/*.data-filup{ text-align: left;}*/
/*.data-filup .tab-pane h1{*/
/*	font-weight: bold;*/
/*	color: #d64ade;*/
/*	font-family: 'Dancing Script', cursive;*/
/*	font-size: 38px;*/
/*	letter-spacing: 3px;*/
/*}*/
/*.data-filup .tab-pane p {*/
/*    font-weight: bold;*/
/*    color: #000;*/
/*    font-family: 'Dancing Script', cursive;*/
/*    font-size: 17px;*/
/*    letter-spacing: 3px;*/
/*    float: left;*/
/*    width: 100%;*/
/*}*/
/*.data-filup .tab-pane p span {*/
/*    font-family: 'Lato', sans-serif;*/
/*    font-style: italic;*/
/*    font-size: 12px;*/
/*    color: #565656;*/
/*    letter-spacing: 2px;*/
/*    font-weight: normal;*/
/*}*/
/*.form-box-data {*/
/*    float: left;*/
/*    width: 100%;*/
/*    margin-top: 15px;*/
/*    border-bottom: 1px solid #ccc;*/
/*    padding-bottom: 28px;*/
/*    margin-bottom: 10px;*/
/*}*/
/*.form-box-data h3 {*/
/*    font-weight: bold;*/
/*    color: #d64ade;*/
/*    font-family: 'Dancing Script', cursive;*/
/*    font-size: 27px;*/
/*    letter-spacing: 3px;*/
/*    margin-bottom: 18px;*/
/*}*/
/*.form-box-data .select-boxes .select-box{ display: inline-block;}*/
/*.form-box-data .select-boxes .select-box select ,.form-box-data .select-boxes .select-box input[type="text"]{*/
/*    border: 1px solid #ccc;*/
/*    background: none;*/
/*    padding: 10px 15px;*/
/*    font-size: 14px;*/
/*    width: 84px;*/
/*}*/
/*.form-box-data .select-boxes .select-box label {*/
/*    font-size: 18px;*/
/*    font-weight: normal;*/
/*    padding: 0 10px;*/
/*}*/
/*.form-box-data h4 {*/
/*    font-size: 15px;*/
/*    font-weight: bold;*/
/*    letter-spacing: 2px;*/
/*    color: #000;*/
/*    margin-top: 25px;*/
/*}*/
/*.form-box-data .select-boxes .select-box2 select{*/
/*	width: 150px*/
/*}*/
/*.switch-field {*/
/*  font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;*/
/*  padding: 1px;*/
/*	overflow: hidden;*/
/*}*/

/*.switch-title {*/
/*  margin-bottom: 6px;*/
/*}*/

/*.switch-field input {*/
/*    position: absolute !important;*/
/*    clip: rect(0, 0, 0, 0);*/
/*    height: 1px;*/
/*    width: 1px;*/
/*    border: 0;*/
/*    overflow: hidden;*/
/*}*/

/*.switch-field label {*/
/*    float: left;*/
/*    margin: 0;*/
/*}*/

/*.switch-field label {*/
/*    display: inline-block;*/
/*    width: 100px;*/
/*    background-color: #ffffff;*/
/*    color: rgb(214, 74, 222);*/
/*    font-size: 14px;*/
/*    font-weight: normal;*/
/*    text-align: center;*/
/*    text-shadow: none;*/
/*    padding: 6px 14px;*/
/*    border: 1px solid rgba(0, 0, 0, 0.2);*/
/* -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1); */
/* box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1); */
/* -webkit-transition: all 0.1s ease-in-out; */
/*    -moz-transition: all 0.1s ease-in-out;*/
/*    -ms-transition: all 0.1s ease-in-out;*/
/*    -o-transition: all 0.1s ease-in-out;*/
/*    transition: all 0.1s ease-in-out;*/
/*    font-weight: bold;*/
/*}*/

/*.switch-field label:hover {*/
/*	cursor: pointer;*/
/*}*/

/*.switch-field input:checked + label {*/
/*    background-color: #d64ade;*/
/*    -webkit-box-shadow: none;*/
/*    box-shadow: none;*/
/*    color: #fff;*/
/*}*/

/*.switch-field label:first-of-type {*/
/*  border-radius: 4px 0 0 4px;*/
/*}*/

/*.switch-field label:last-of-type {*/
/*  border-radius: 0 4px 4px 0;*/
/*}*/



/**************Start Radio Button Style*********************/

.input-control {
    cursor: pointer;
    display: inline-block;
    padding-left: 33.75px;
    position: relative;
    font-size: 15px;
    font-weight: 100;
    line-height: 27px;
    color: #000000;
    font-weight: normal;
    letter-spacing: 2px;
    margin: 15px 0 !important;
font-family: "Amazon Ember", Arial, sans-serif;
}
.input-control input {
    position: absolute;
    width: auto !important;
    z-index: 1;
    opacity: 0;
}
.input-control__indicator {
    border-radius: 80%;
    display: block;
    height: 20px;
    position: absolute;
    top: 5px;
    left: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 20px;
    text-align: center;
    background-color: #c1c0c0;
    background-size: 50% 50%;
    background-position: center center;
    background-repeat: no-repeat;
}

.input-control.radio input:focus ~ .input-control__indicator,
.input-control.radio input:active ~ .input-control__indicator {
    background: #d64ade;
}
.input-control.radio input:checked ~ .input-control__indicator:after {
    border-radius: 80%;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    width: 100%;
    background: #fd750f;
}

/**************End Radio Button Style*********************/
/*.button-box button {*/
/*    background: none;*/
/*    border: 1px solid #d64ade;*/
/*    text-transform: uppercase;*/
/*    font-weight: bold;*/
/*    text-transform: uppercase;*/
/*    color: #d64ade;*/
/*    padding: 12px 37px;*/
/*    display: block;*/
/*    margin-bottom: 12px;*/
/*    margin-top: 17px;*/
/*}*/
/*.button-box button:hover{ background: #d64ade; color: #fff;}*/
/*.button-box a{ color: #d64ade;}*/
/*.checkbox input[type=checkbox]{ opacity: 0;}*/
/*.checkbox .checkbox label {*/
/*    min-height: 20px;*/
/*    padding-left: 20px;*/
/*    margin-bottom: 0;*/
/*    font-weight: 400;*/
/*    cursor: pointer;*/
/*    position: relative;*/
/*}*/

/*.checkbox input[type=checkbox]:checked+label:before{*/
/*	background-color: #d64ade;*/
/*    border-color: #d64ade*/
/*}*/
/*.checkbox label::before {*/
/*    content: "";*/
/*    display: inline-block;*/
/*    position: absolute;*/
/*    width: 25px;*/
/*    height: 25px;*/
/*    left: 0;*/
/*    margin-left: 0px;*/
/*    border: 1px solid #ccc;*/
/*    border-radius: 3px;*/
/*    background-color: #fff;*/
/*    -webkit-transition: border .15s ease-in-out,color .15s ease-in-out;*/
/*    -o-transition: border .15s ease-in-out,color .15s ease-in-out;*/
/*    transition: border .15s ease-in-out,color .15s ease-in-out;*/

/*}*/
/*.checkbox input[type=checkbox]:checked+label:after {*/
/*    font-family: Font Awesome\ 5 Free;*/
/*    font-weight: 900;*/
/*    content: "\f00c";*/
/*    display: inline-block;*/
/*    position: absolute;*/
/*    width: 25px;*/
/*    height: 25px;*/
/*    left: 0;*/
/*    top: 0;*/
/*    margin-left: 2px;*/
/*    padding-left: 3px;*/
/*    padding-top: 1px;*/
/*    font-size: 16px;*/
/*    color: #fff;*/
/*}*/
/*.checkbox label{*/
/*	    font-size: 19px;*/
/*    font-weight: normal;*/
/*    letter-spacing: 1px;*/
/*    color: #5a5a5a;*/
/*        padding-left: 40px !important;*/
/*}*/

/*.schedule{*/
/*	float: left; width: 100%;*/
/*}*/
/*.schedule h1{*/
/*	font-family:'Dancing Script', cursive;*/
/*	font-weight: bold;*/
/*	font-size: 37px;*/
/*	color: #d64ade;*/
/*	letter-spacing: 2px;*/
/*	text-align: left;	*/
/*}*/
/*.receive-box{ float: left; width:100%;}*/
/*.receive-box h2 {*/
/*    font-size: 22px;*/
/*    font-weight: normal;*/
/*    color: #000;*/
/*    letter-spacing: 2px;*/
/*    margin: 16px 0 25px;*/
/*}*/
/*.receive-box ul {*/
/*    float: left;*/
/*    width: 100%;*/
/*    margin:30px 0 15px 0;*/
/*    padding: 0;*/
/*}*/
/*.receive-box ul li {*/
/*    display: inline-block;*/
/*    width: 22.7%;*/
/*    margin: 0 16px;*/
/*}*/
/*.receive-box ul li:first-child{*/
/*	margin-left: 0;*/
/*}*/
/*.receive-box ul li:last-child{*/
/*	margin-right: 0;*/
/*}*/
/*.radio-box{*/
/*	opacity: 0;*/
/*	position: absolute;*/
/*}*/
/*.receive-box ul li label {*/
/*    position: relative;*/
/*    border: 1px solid #e0e0e0;*/
/*    padding: 15px;*/
/*    cursor: pointer;*/
/*}*/
/*.receive-box ul li input[type="radio"]:checked + label:before{*/
/*	 background: #d64ade;*/
/*    border: 1px solid #d64ad*/
/*}*/
/*.receive-box ul li input[type="radio"]:checked + label{*/
/*	background: #d64ade;*/
/*}*/
/*.receive-box ul li label:before{*/
/*content: "";*/
/*    position: absolute;*/
/*    display: block;*/
/*    height: 35px;*/
/*    width: 35px;*/
/*    right: 0;*/
/*    top: -24px;*/
/*    border-radius: 100%;*/
/*    border: 2px solid #fff;*/
/*}*/
/*.receive-box ul li input[type="radio"]:checked + label:after{*/
/*    font-family: Font Awesome\ 5 Free;*/
/*    font-weight: 900;*/
/*    content: "\f00c";*/
/*    display: inline-block;*/
/*    position: absolute;*/
/*    display: block;*/
/*    height: 35px;*/
/*    width: 35px;*/
/*    right: -7px;*/
/*    top: -20px;*/
/*    font-size: 20px;*/
/*    color: #fff;;*/
/*}*/
/*.receive-box ul li label h5{*/
/*	text-transform: uppercase;*/
/*    font-weight: bold;*/
/*    letter-spacing: 2px;*/
/*    font-family: 'Dancing Script', cursive;*/
/*}*/
/*.receive-box ul li label p{*/
/*	 font-weight: normal;*/
/*    font-size: 16px;*/
/*    text-align: left;*/
/*    letter-spacing: 1px;*/
/*}*/
/*.receive-box ul li input[type="radio"]:checked + label h5{ color: #fff;}*/
/*.receive-box ul li input[type="radio"]:checked + label p{ color: #fff;}*/
/*.receive-box p{*/
/*	float: left;*/
/*	width: 100%;*/
/*		 font-weight: normal;*/
/*    font-size: 16px;*/
/*    text-align: left;*/
/*    letter-spacing: 1px;*/
/*}*/
/*.receive-box button{*/
/*	    display: inline-block;*/
/*    background: #d64ade;*/
/*    text-transform: uppercase;*/
/*    font-weight: bold;*/
/*    letter-spacing: 2px;*/
/*    color: #fff;*/
/*    font-size: 17px;*/
/*    padding: 11px 43px;*/
/*    border-radius: 25px;*/
/*    margin-top: 20px;*/
/*    transition: 500ms all ease-in-out 0s;*/
/*}*/
/*.receive-box button:hover{*/
/*	background: #000;*/
/*	transition: 500ms all ease-in-out 0s;*/
/*}*/
/*.reservation{ text-align: center;;}*/
/*.reserv-box{*/
/*	display: inline-block;*/
/*	width: 70%;*/
/*}*/
/*.date-fix-box {*/
/*    float: left;*/
/*    width: 100%;*/
/*    border: 1px solid #ccc;*/
/*    padding: 30px;*/
/*    margin: 20px 0;*/
/*}*/
/*.date-fix-box a{*/
/*	font-family: 'Dancing Script', cursive;*/
/*    font-weight: bold;*/
/*    font-size: 30px;*/
/*    color: #d64ade;*/
/*    letter-spacing: 2px;*/
/*    text-align: left;*/
/*}*/
/*.date-fix-box p{*/
/*    font-weight: normal;*/
/*    font-size: 16px;*/
/*    letter-spacing: 1px;*/
/*    text-align: center;*/
/*    margin-top: 20px;*/
/*    line-height: 30px;*/
/*}*/
/*.reserv-box button,.shipping-box button{*/
/*	    display: inline-block;*/
/*    background: #d64ade;*/
/*    text-transform: uppercase;*/
/*    font-weight: bold;*/
/*    letter-spacing: 2px;*/
/*    color: #fff;*/
/*    font-size: 17px;*/
/*    padding: 11px 43px;*/
/*    border-radius: 25px;*/
/*    margin-top: 10px;*/
/*    transition: 500ms all ease-in-out 0s;*/
/*}*/
/*.reserv-box button:hover,.shipping-box button:hover{*/
/*	background: #000;*/
/*	transition: 500ms all ease-in-out 0s;*/
/*}*/
/*.shipping-box{*/
/*	display: inline-block;*/
/*	width: 70%;*/
/*}*/
/*.shipping-box label {*/
/*    width: 100%;*/
/*    text-align: left;*/
/*    text-transform: uppercase;*/
/*    letter-spacing: 1px;*/
/*    color: #656363;*/
/*    margin: 15px 0 9px;*/
/*}*/
/*.shipping-box input[type="text"], .shipping-box select {*/
/*    width: 100%;*/
/*    text-align: left;*/
/*    border: 1px solid #ccc;*/
/*    background: no-repeat;*/
/*    height: 45px;*/
/*    padding: 10px 11px;*/
/*}*/
/*.shipping-box button{ margin-top: 30px;}*/

/*.price-box,.payment-detail{*/
/*	float: left;*/
/*	width: 65%;*/
/*	text-align: left;*/
/*}*/
/*.price-box h5{*/
/*	    font-size: 17px;*/
/*    letter-spacing: 1px;*/
/*}*/
/*.price-box h5 span{ float: right;}*/
/*.price-box ul {*/
/*    float: left;*/
/*    width: 100%;*/
/*    text-align: left;*/
/*    border-bottom: 1px solid #ccc;*/
/*    padding-bottom: 15px;*/
/*    margin-bottom: 21px;*/
/*}*/
/*.price-box ul li {*/
/*    font-size: 16px;*/
/*    letter-spacing: 1px;*/
/*    padding: 6px 0;*/
/*}*/
/*.shipping-box h6 {*/
/*    width: 100%;*/
/*    float: left;*/
/*    text-align: left;*/
/*}*/
/*.payment-detail h3{*/
/*	    margin-bottom: 0;*/
/*    font-weight: bold;*/
/*    font-size: 22px;*/
/*    letter-spacing: 1px;*/
/*}*/
/*.button2{ float: left;}*/

/*****************Start Kids******************************/
.tab ul
    {
        padding-top: 30px;
    }
.tab ul li a
    {
        color: #232f3e;
        font-size: 18px;
        padding: 10px;
        font-family: "Amazon Ember", Arial, sans-serif;
        font-weight: bold;
    }
.style-kids .tab .tab-content {
    padding: 20px;
    float: none;
    line-height: 22px;
    width: 100%;
    display: inline-block;
}
.style-kids{ float:left; width: 100%; text-align: center;margin-top: 0;background: #fff;}
.style-kids .form-box-data .radio {
    display: inline-block;
    margin-right: 20px !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
.style-kids .form-box-data .switch-field label{
    width: 145px;
}
.style-kids .nav-tabs>li {
    float: left;
    display: inline-block;
    vertical-align: bottom;
}
.style-kids .select-boxes input[type="text"]{
    width: 70%;
    height: 35px;
    padding: 5px;
}
.style-kids .select-boxes ul{ float: left; width: 100%;}
.style-kids .select-boxes ul li {
    display: inline-block;
    width: 31%;
    margin: 0 7px;
}
.style-kids .select-boxes ul li img{
    width: 100%;
}
.style-kids .select-boxes ul li .switch-field label {
    width: 89px;
    font-size: 14px;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
}
.style-kids h4 
    {
        font-size: 15px;
        font-weight: bold;
        letter-spacing: 2px;
        color: #000;
        margin-top: 10px !important;
        margin-bottom: 7px;
    }
.checkboxes .select-boxes ul{
    float: left;
    width: 100%;
}
.checkboxes .select-boxes ul li {
    display: inline-block;
    width: 24%;
    position: relative;
    margin: 10px 0;
    vertical-align: top;
}
.checkboxes .select-boxes ul li input[type="checkbox"]{
    position: absolute;
    opacity: 0;
}
.checkboxes .select-boxes ul li label {
    padding-left: 40px;
    font-size: 16px;
    letter-spacing: 1px;
    padding-top: 0;
    margin: 0;
    font-weight: normal;
}
.checkboxes .select-boxes ul li input[type="checkbox"]:checked + label:before {
    width: 25px;
    height: 25px;
    content: "\f00c";
    position: absolute;
    left: 0;
    top: 0;
    background: #fe6c00;
    border: 1px solid #fe6c00;
    font: normal normal normal 14px/1 FontAwesome;
    font-weight: 900;
    color: #fff;
    text-align: center;
    padding: 4px 5px;
}
.checkboxes .select-boxes ul li label:after{
    width: 25px;
    height: 25px;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    border:1px solid #ccc;
}
.style-kids .form-box-data{
	text-align: left;
}
/*****************End Kids******************************/

/*****************Start men style******************************/
/*.describ ul,.occupation ul{ display: inline-block; width: 100%;}*/
/*.describ ul li{*/
/*	display: inline-block;*/
/*	width: 49%;*/
/*}*/
/*.style-men .select-boxes input[type="text"] {*/
/*    width: 70%;*/
/*    height: 48px;*/
/*    padding: 10px;*/
/*}*/
/*.occupation ul li{*/
/*	display: inline-block;*/
/*	width: 33%;*/
/*}*/
/*.type-box ul {*/
/*    float: left;*/
/*    width: 100%;*/
/*    margin:10px 0 15px 0;*/
/*    padding: 0;*/
/*}*/
/*.type-box ul li {*/
/*    display: inline-block;*/
/*    width: 22.7%;*/
/*    margin: 0 12px;*/
/*}*/
/*.type-box ul li:first-child{*/
/*	margin-left: 0;*/
/*}*/
/*.type-box ul li:last-child{*/
/*	margin-right: 0;*/
/*}*/
/*.type-box .radio-box{*/
/*	opacity: 0;*/
/*	position: absolute;*/
/*}*/
/*.type-box ul li label {*/
/*    position: relative;*/
/*    border: 1px solid #e0e0e0;*/
/*    padding: 5px;*/
/*    cursor: pointer;*/
/*}*/
/*.type-box ul li label img{*/
/*	width: 100%;*/
/*}*/
/*.type-box ul li input[type="radio"]:checked + label:before{*/
/*	 background: #d64ade;*/
/*    border: 1px solid #d64ad*/
/*}*/
/*.type-box ul li input[type="radio"]:checked + label{*/
/*	background: #d64ade;*/
/*}*/
/*.type-box ul li label:before{*/
/*content: "";*/
/*    position: absolute;*/
/*    display: block;*/
/*    height: 35px;*/
/*    width: 35px;*/
/*    right: 0;*/
/*    top: -24px;*/
/*    border-radius: 100%;*/
/*    border: 2px solid #fff;*/
/*}*/
/*.type-box ul li input[type="radio"]:checked + label:after{*/
/*    font-family: Font Awesome\ 5 Free;*/
/*    font-weight: 900;*/
/*    content: "\f00c";*/
/*    display: inline-block;*/
/*    position: absolute;*/
/*    display: block;*/
/*    height: 35px;*/
/*    width: 35px;*/
/*    right: -7px;*/
/*    top: -20px;*/
/*    font-size: 20px;*/
/*    color: #fff;;*/
/*}*/
/*****************End men style******************************/

/*****************Start Kid style******************************/
.kids-banner h1{ font-size: 40px;}
.kids-banner h1 span{ display: block;}
.kids-banner .drapefit-box p {
    font-size: 17px;
    color: #ffffff;
    text-align: center;
    background: #585555;
    padding: 9px 7px;
    font-weight: bold;
    margin: 23px 0 22px;
}
.kids-banner .drapefit-box {
    padding: 41px 35px 35px;
    border-radius: 100%;
    height: 339px;
}
.kid-content .box {
    border: 5px solid #fff;
    background: #c03bc7;
    box-shadow: 14px 19px 0px -3px #000;
}
.kid-content .box h4 {
    color: #ffffff;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.kid-content .box p {
    color: #ffffff;
    text-align: center;
}
.quiz {
    text-align: center;
    padding-top: 50px;
}
.quiz a {
    display: inline-block;
    background: #c03bc7;
    text-align: center;
    padding: 10px 28px;
    color: #fff;
    font-weight: bold;
    letter-spacing: 2px;
    border-radius: 22px;
    box-shadow: 1px 5px 0px 0px #000;
    border: 3px solid #fff;
}
.woks p{
    text-align: center;
}
.kid-product-box{
    float: left;
    width: 100%;
}
.kid-product-box .product-box {
    float: left;
    width: 100%;
    margin-top: 35px;
}
.kid-product-box .product-box .product-img{
    float: left;
    width: 100%;
    position: relative;
}

.kid-product-box .product-box .product-img h3 {
    position: absolute;
    width: 100%;
    top: 40%;
    left: 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.53);
    padding: 5px 5px 12px;
    border-top: 3px solid #c03bc7;
    border-bottom: 3px solid #c03bc7;
}
.kid-product-box .product-box .product-img h3 span{
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 2px;
}
.kid-product-box .product-box img{
    width: 100%;
}
.kid-product-box .product-box a{
    background: #c03bc7;
    width: 100%;
    text-align: center;
    display: inline-block;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 2px;
    padding: 8px 0;
    border-top: 5px solid #000;
}
.get-box{
    float: left;
    width: 100%;
}
.get-box {
    float: left;
    width: 100%;
    padding: 40px 0 40px;
    background:#eaeaea;
    margin-top: 55px;
    text-align: center;
}
.get-small-box {
    display: inline-block;
    width: 40%;
    margin-top: 30px;
}
.get-small-box p{
    text-align: center;
}
.copy-text {
    float: none;
    width: 100%;
    border: 1px solid #a5a5a5;
    margin: 7px 0 30px;
    position: relative;
    display: inline-block;
}
.credit-right-main .credit-right .copy-text{
    width: 60%;
}

.copy-text p {
    float: left;
    width: 88%;
    text-align: left;
    padding: 10px 5px;
    font-size: 9px;
    color: #000;
    font-style: italic;
    letter-spacing: 2px;
    margin: 0;
}
.copy-text a{
    display: inline-block;
    background: #fe6c00;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 12px 23px;
    float: right;
    position: absolute;
    right: 0;
    text-align: center;
}
.copied {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding-top: 12px;
    opacity: 0;
    background: #232f3e
}
.copied:hover{
    color: #fff;
}
.socila-box{
    float: left; width: 100%;
}
.socila-box ul{
    float: left; width: 100%;
}
.socila-box ul li{
    display: inline-block;
    width: 48%;
    float: left;
    margin-top: 20px;
}
.socila-box ul li:nth-child(2n+2){
    float: right;
}
.socila-box ul li a {
    height: 48px;
    margin: 0;
    padding: 13px 17px;
    font-size: 16px;
    line-height: 21px;
    font-weight: bold;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    display: inline-block;
    width: 100%;
    color: #fff;
    letter-spacing: 2px;
}

.socila-box ul li a i {
    padding-right: 27px;
    font-size: 21px;
    line-height: 21px;
    vertical-align: top;
    position: relative;
    float: left;
}
.socila-box ul li a i:after {
    content: "";
    position: absolute;
    top: -8px;
    left: 70%;
    width: 1px;
    height: 36px;
    background: #ccc;
    background: rgba(255, 255, 255, 0.3);
}
.socila-box ul li:first-child a{
    border-bottom: 4px solid rgba(0, 0, 0, 0.1);
    background: #4862a3;
}
.socila-box ul li:nth-child(2) a{
    border-bottom: 4px solid rgba(0, 0, 0, 0.1);
    background: #0177b5;
}
.socila-box ul li:nth-child(3) a{
    border-bottom: 4px solid rgba(0, 0, 0, 0.1);
    background: #55acee;
}
.socila-box ul li:nth-child(4) a{
    border-bottom: 4px solid rgba(0, 0, 0, 0.1);
    background: #3d6b92;
}
.socila-box ul li a:hover{
    opacity: 0.8;
}
.socila-box p{ margin-bottom: 0;}
/*****************End Kid style******************************/

/*****************Start Find Size Style******************************/
.fixsize-banner {
    float: left;
    width: 100%;
    background: #ce47d6;
    text-align: center;
    padding: 50px 0;
}
.fixsize-banner .search-box{
    display: inline-block;
    width: 60%;
}
.fixsize-banner .search-box form{
    float: left;
    width: 100%;
    position: relative;
}
.fixsize-banner .search-box form input[type="text"] {
    width: 100%;
    background: #fff;
    border: none;
    padding: 15px;
    font-size: 16px;
    letter-spacing: 2px;
    border-left: 4px solid #000;
}

.fixsize-banner .search-box form input[type="submit"] {
    position: absolute;
    top: 0;
    right: 0;
    background: #000;
    border: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    height: 100%;
    width: 114px;
}
.fixsize-banner .search-box form input[type="text"]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #000;
}
.fixsize-banner .search-box form input[type="text"]::-moz-placeholder { /* Firefox 19+ */
    color: #000;
}
.fixsize-banner .search-box form input[type="text"]:-ms-input-placeholder { /* IE 10+ */
    color: #000;
}
.fixsize-banner .search-box form input[type="text"]:-moz-placeholder { /* Firefox 18- */
    color: #000;
}
.fixsize-banner .search-box h5{
    float: left;
    width: 100%;
    font-size: 17px;
    font-weight: bold;
    color: #fff;
    letter-spacing: 2px;
    margin: 20px 0;
}
.fixsize-banner .search-box ul{
    float: left;
    width: 100%;
}
.fixsize-banner .search-box ul li{
    display: inline-block;
    margin: 0 10px;
}
.fixsize-banner .search-box ul li a {
    display: inline-block;
    color: #000;
    /* text-decoration: underline; */
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;
}
.fixsize-contain {
    float: left;
    width: 100%;
    padding: 50px 0;
}
 /*.panel-group .panel {
    border-radius: 0;
    box-shadow: none;
    border-color: #EEEEEE;
}

.panel-default > .panel-heading {
    padding: 0;
    border-radius: 0;
    color: #212121;
    background-color: #FAFAFA;
    border-color: #EEEEEE;
}

.panel-title {
    font-size: 14px;
}

.panel-title > a {
    display: block;
    padding: 15px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #ce47d6 !important;
}*/

 .more-less {
    float: right;
    color: #ce47d6;
}

/*.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #EEEEEE;
}
.panel-title {
    border-bottom: 1px solid #d6d6d6;
}
.panel-collapse ul li a{
    font-size: 15px;
    color: #000;
}
.panel-collapse ul li{
    display: inline-block;
    width: 100%;
    margin: 7px 0px;
}
.panel-collapse ul li a:hover{
    color: #ce47d6;
}*/
.breadcrumbs{
    float: left;
    width: 100%;
}
.breadcrumbs li{
    display: inline-block;
}
.breadcrumbs li + li:before {
    content: ">";
    margin: 0 4px;
}

.breadcrumbs li a {
    color: #0085C4;
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: bold;
}

.breadcrumbs li a:hover{
    color: #ce47d6;
}
.right-fixsize h1 {
    font-size: 34px;
    color: #000;
    font-weight: 900;
    letter-spacing: 3px;
    font-family: 'Dancing Script', cursive;
    float: left;
    width: 100%;
    text-align: center;
    margin: 20px 0 15px;
}
.right-fixsize p{
    text-align: left;
    font-size: 15px;
    color: #444;
    letter-spacing: 1px;
}
.list-size{
    float: left; width: 100%;
    margin-top: 20px;
}
.list-size ul{
    float: left;
    width: 100%;
    text-align: center;
    margin-bottom: 25px;
}
.list-size ul li{
    display: inline-block;
}
.list-size ul li a {
    display: inline-block;
    font-size: 17px;
    color: #ce47d6;
    margin: 0 12px;
    border-bottom: 1px solid #ce47d6;
    padding: 3px 4px;
    letter-spacing: 2px;
    font-weight: bold;
}
.list-size ul li a:hover{
    color: #000;
    border-bottom: 1px solid #000;
}
.list-size h2 {
    float: left;
    width: 100%;
    color: #000;
    font-size: 23px;
    letter-spacing: 2px;
    text-align: center;
}
.list-size img{
    width: 100%;
}
.article{
    float: left;
    width: 100%;
    padding: 40px 0 40px;
    background: #eaeaea;
    margin-top: 55px;
    text-align: center;
}
.article ul{
    float: left;
    width: 100%;
    text-align: left;
    margin-top: 25px;
}
.article ul li {
    display: inline-block;
    width: 33%;
    text-align: left;
    vertical-align: top;
    margin: 15px 0px;
    padding: 0 31px;
}
.article ul li a{
    display: inline-block;
    color: #000;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 2px;
}
.article ul li a:hover{
    color: #d64ade;
}
@media all and (max-width: 991px) {
.style-kids .select-boxes ul li {
    display: inline-block;
    width: 46%;
    margin: 10px 7px;
}
.style-kids .tab ul li a {
    font-size: 16px;
    padding: 10px 12px !important;
    font-family: "Amazon Ember", Arial, sans-serif;
}
}
@media all and (max-width: 767px) {
.style-kids .select-boxes ul li {
    display: inline-block;
    width: 49%;
    margin: 10px 7px;
}
.style-kids .checkboxes ul li{
	display: inline-block;
	width: 100%;
}
.style-kids .checkboxes .select-boxes ul li label {
    float: left;
}
.style-kids .select-boxes ul li .switch-field label {
    width: 85px;
}
.style-kids .tab ul li a {
    border-bottom: 1px solid #ccc;
}
.style-kids .nav-tabs>li {
    margin-bottom: 0;
}
}
@media all and (max-width: 600px) {
.style-kids .select-boxes ul li {
    width: 60%;
}
}
@media all and (max-width: 500px) {
.style-kids .select-boxes ul li {
    width: 100%;
    text-align: left;
}
.style-kids .select-boxes ul li .switch-field label {
    width: 85px;
    float: none;
    margin: 0 -2px;
}
.form-box-data h3{
	font-size: 17px;
}
.style-kids .checkboxes .select-boxes ul li {
    width: 100%;
    text-align: left;
}
}
@media all and (max-width: 360px) {
.style-kids .form-box-data .switch-field label {
    width: 100%;
}
.style-kids .select-boxes ul li .switch-field label {
    width: 100%;
    float: none;
    margin: 0 -2px;
}
}
/*****************End Find Size Style******************************/

/*@media all and (max-width: 1280px) {*/

/*}*/
/*@media all and (max-width: 1199px) {*/

/*}*/
/*@media all and (max-width: 991px) {*/

/*}*/
/*@media all and (max-width: 767px) {*/

/*}*/
/*@media all and (max-width: 420px) {*/


/*}*/
/*@media all and (max-width: 370px) {*/

/*}*/
/*****************Search******************************/
