/*	Responsive Accordion v1.3, Copyright 2014, Joe Mottershaw, https://github.com/joemottershaw/
//	============================================================================================ */

/*	Table of Contents
//	==================================================
//		#Reset
//		#Themes


/*	#Reset
//	================================================== */

	.responsive-accordion {
	margin: 0 0 20px 0;
	padding: 0;
	list-style-type: none;
}
.responsive-accordion li {
	margin: 0 0 10px 0;
	padding: 0;
}
.responsive-accordion li:last-child {
	margin-bottom: 0;
}
.responsive-accordion li .responsive-accordion-head {
	cursor: pointer;
}
/*	#Themes
//	================================================== */

.responsive-accordion-default.responsive-accordion li .responsive-accordion-head {
    border: 1px solid #011c45;
    padding: 18px 30px 17px 16px;
    background: #FFF;
    color: #011c45;
    line-height: normal;
    position: relative;
    font-weight: bold;
    font-size: 16px;
}
.responsive-accordion-default.responsive-accordion li .responsive-accordion-head i {
    position: absolute;
    top: 12px;
    right: 10px;
    font-size: 30px;
}
.responsive-accordion-default.responsive-accordion li .responsive-accordion-panel {
	border: 1px solid #DDD;
	border-top: 0;
	padding: 20px;
	background: #FFF;
}
/*	Backbone v1.7, Copyright 2014, Joe Mottershaw, https://github.com/joemottershaw/
//	================================================================================ */

*, :after, :before {
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box
}

#no-script {
	border:1px solid #ffed7d;
	border-width:1px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	padding:20px;
	background:#fff6bf;
	color:#7b7b7b
}
#no-script a {
	color:#0b8593
}
#no-script a:hover {
	color:#0fb0c2
}
::-webkit-scrollbar {
width:7px;
height:7px
}
::-webkit-scrollbar-track {
background:#828282
}
::-webkit-scrollbar-thumb {
background:#353535;
border-radius:0
}
::-webkit-scrollbar-thumb:hover {
background:#424242;
cursor:pointer
}
::-webkit-scrollbar-thumb:active {
background:#292929
}
::-moz-selection {
background:#0b8593;
color:#FFF;
text-shadow:1px 1px 0 #000
}
::selection {
background:#0b8593;
color:#FFF;
text-shadow:1px 1px 0 #000
}
.clear, .clearfix:after {
	display:block;
	width:0;
	height:0;
	/*overflow:hidden;*/
	clear:both;
	/*visibility:hidden;*/
	content:" "
}

.container .one-half.last, .container .one-quarter.last, .container .one-third.last, .container .one-whole, .container .three-quarter.last, .container .two-quarter.last, .container .two-third.last {
	margin-right:0
}
.container .one-half.last:after, .container .one-quarter.last:after, .container .one-third.last:after, .container .one-whole:after, .container .three-quarter.last:after, .container .two-quarter.last:after, .container .two-third.last:after {
	display:block;
	width:0;
	height:0;
	overflow:hidden;
	visibility:hidden;
	clear:both;
	content:" "
}
.one-half-percent, .one-quarter-percent, .one-third-percent, .one-whole-percent, .three-quarter-percent, .two-quarter-percent, .two-third-percent {
	min-height:1px;
	margin-bottom:20px;
	position:relative;
	float:left;
-webkit-transition:all .2s ease-in-out;
-moz-transition:all .2s ease-in-out;
-o-transition:all .2s ease-in-out;
-ms-transition:all .2s ease-in-out;
transition:all .2s ease-in-out
}
.one-half-percent.alpha, .one-quarter-percent.alpha, .one-third-percent.alpha, .one-whole-percent.alpha, .three-quarter-percent.alpha, .two-quarter-percent.alpha, .two-third-percent.alpha {
	padding-left:10px
}
.one-half-percent.omega, .one-quarter-percent.omega, .one-third-percent.omega, .one-whole-percent.omega, .three-quarter-percent.omega, .two-quarter-percent.omega, .two-third-percent.omega {
	padding-right:10px
}
.one-half-percent.boxed, .one-quarter-percent.boxed, .one-third-percent.boxed, .one-whole-percent.boxed, .three-quarter-percent.boxed, .two-quarter-percent.boxed, .two-third-percent.boxed {
	border:1px solid #ddd;
	border-top-width:1px;
	border-bottom-width:1px;
	border-left-width:1px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	border-right:0;
	padding:20px;
	background:#fff
}
.one-half-percent.boxed.p-remove, .one-quarter-percent.boxed.p-remove, .one-third-percent.boxed.p-remove, .one-whole-percent.boxed.p-remove, .three-quarter-percent.boxed.p-remove, .two-quarter-percent.boxed.p-remove, .two-third-percent.boxed.p-remove {
	padding:0
}
.one-half-percent.boxed.p-ten, .one-quarter-percent.boxed.p-ten, .one-third-percent.boxed.p-ten, .one-whole-percent.boxed.p-ten, .three-quarter-percent.boxed.p-ten, .two-quarter-percent.boxed.p-ten, .two-third-percent.boxed.p-ten {
	padding:10px
}
.one-half-percent.boxed.p-twenty, .one-quarter-percent.boxed.p-twenty, .one-third-percent.boxed.p-twenty, .one-whole-percent.boxed.p-twenty, .three-quarter-percent.boxed.p-twenty, .two-quarter-percent.boxed.p-twenty, .two-third-percent.boxed.p-twenty {
	padding:20px
}
.one-half-percent.boxed.p-thirty, .one-quarter-percent.boxed.p-thirty, .one-third-percent.boxed.p-thirty, .one-whole-percent.boxed.p-thirty, .three-quarter-percent.boxed.p-thirty, .two-quarter-percent.boxed.p-thirty, .two-third-percent.boxed.p-thirty {
	padding:30px
}
.one-half-percent.boxed.p-fourty, .one-quarter-percent.boxed.p-fourty, .one-third-percent.boxed.p-fourty, .one-whole-percent.boxed.p-fourty, .three-quarter-percent.boxed.p-fourty, .two-quarter-percent.boxed.p-fourty, .two-third-percent.boxed.p-fourty {
	padding:40px
}
.one-half-percent.boxed.p-fifty, .one-quarter-percent.boxed.p-fifty, .one-third-percent.boxed.p-fifty, .one-whole-percent.boxed.p-fifty, .three-quarter-percent.boxed.p-fifty, .two-quarter-percent.boxed.p-fifty, .two-third-percent.boxed.p-fifty {
	padding:50px
}
.one-whole-percent {
	width:100%
}
.one-half-percent {
	width:50%
}
.one-third-percent {
	width:33.33%
}
.two-third-percent {
	width:66.66%
}
.one-quarter-percent {
	width:25%
}
.two-quarter-percent {
	width:50%
}
.three-quarter-percent {
	width:75%
}
.one-half-percent.last:after, .one-quarter-percent.last:after, .one-third-percent.last:after, .one-whole-percent:after, .three-quarter-percent.last:after, .two-quarter-percent.last:after, .two-third-percent.last:after {
	display:block;
	width:0;
	height:0;
	overflow:hidden;
	visibility:hidden;
	clear:both;
	content:" "
}
.one-half-percent.last.boxed, .one-quarter-percent.last.boxed, .one-third-percent.last.boxed, .one-whole-percent.boxed, .three-quarter-percent.last.boxed, .two-quarter-percent.last.boxed, .two-third-percent.last.boxed {
	border:1px solid #ddd;
	border-width:1px
}
@media only screen and (min-width:1200px) {

.container .one-half {
width:580px
}
.container .one-third {
width:380px
}
.container .two-third {
width:780px
}
.container .one-quarter {
width:280px
}
.container .two-quarter {
width:580px
}
.container .three-quarter {
width:880px
}
}
@media only screen and (max-width:979px) {
.container {
width:748px
}
.container .one-half {
width:364px
}
.container .one-third {
width:236px
}
.container .two-third {
width:492px
}
.container .one-quarter {
width:172px
}
.container .two-quarter {
width:364px
}
.container .three-quarter {
width:556px
}
.one-half-percent.desktop-tablet, .one-quarter-percent.desktop-tablet, .one-third-percent.desktop-tablet, .three-quarter-percent.desktop-tablet, .two-quarter-percent.desktop-tablet, .two-third-percent.desktop-tablet {
width:100%
}
.one-half-percent.desktop-tablet.alpha, .one-quarter-percent.desktop-tablet.alpha, .one-third-percent.desktop-tablet.alpha, .three-quarter-percent.desktop-tablet.alpha, .two-quarter-percent.desktop-tablet.alpha, .two-third-percent.desktop-tablet.alpha {
padding-left:0
}
.one-half-percent.desktop-tablet.omega, .one-quarter-percent.desktop-tablet.omega, .one-third-percent.desktop-tablet.omega, .three-quarter-percent.desktop-tablet.omega, .two-quarter-percent.desktop-tablet.omega, .two-third-percent.desktop-tablet.omega {
padding-right:0
}
.one-half-percent.desktop-tablet.boxed, .one-quarter-percent.desktop-tablet.boxed, .one-third-percent.desktop-tablet.boxed, .three-quarter-percent.desktop-tablet.boxed, .two-quarter-percent.desktop-tablet.boxed, .two-third-percent.desktop-tablet.boxed {
border:1px solid #ddd;
border-width:1px
}
}
@media only screen and (max-width:767px) {
.container {
width:100%;
padding:0 20px
}
.container .one-half, .container .one-quarter, .container .one-third, .container .three-quarter, .container .two-quarter, .container .two-third {
width:100%;
margin-right:0
}
.one-half-percent.tablet-mobile, .one-quarter-percent.tablet-mobile, .one-third-percent.tablet-mobile, .three-quarter-percent.tablet-mobile, .two-quarter-percent.tablet-mobile, .two-third-percent.tablet-mobile {
width:100%
}
.one-half-percent.tablet-mobile.alpha, .one-quarter-percent.tablet-mobile.alpha, .one-third-percent.tablet-mobile.alpha, .three-quarter-percent.tablet-mobile.alpha, .two-quarter-percent.tablet-mobile.alpha, .two-third-percent.tablet-mobile.alpha {
padding-left:0
}
.one-half-percent.tablet-mobile.omega, .one-quarter-percent.tablet-mobile.omega, .one-third-percent.tablet-mobile.omega, .three-quarter-percent.tablet-mobile.omega, .two-quarter-percent.tablet-mobile.omega, .two-third-percent.tablet-mobile.omega {
padding-right:0
}
.one-half-percent.tablet-mobile.boxed, .one-quarter-percent.tablet-mobile.boxed, .one-third-percent.tablet-mobile.boxed, .three-quarter-percent.tablet-mobile.boxed, .two-quarter-percent.tablet-mobile.boxed, .two-third-percent.tablet-mobile.boxed {
border:1px solid #ddd;
border-width:1px
}
}
@media only screen and (max-width:479px) {
.one-half-percent, .one-quarter-percent, .one-third-percent, .three-quarter-percent, .two-quarter-percent, .two-third-percent {
width:100%
}
.one-half-percent.alpha, .one-quarter-percent.alpha, .one-third-percent.alpha, .three-quarter-percent.alpha, .two-quarter-percent.alpha, .two-third-percent.alpha {
padding-left:0
}
.one-half-percent.omega, .one-quarter-percent.omega, .one-third-percent.omega, .three-quarter-percent.omega, .two-quarter-percent.omega, .two-third-percent.omega {
padding-right:0
}
.one-half-percent.boxed, .one-quarter-percent.boxed, .one-third-percent.boxed, .three-quarter-percent.boxed, .two-quarter-percent.boxed, .two-third-percent.boxed {
border:1px solid #ddd;
border-width:1px
}
}

blockquote {
	outline:0;
	margin:0 0 20px;
	border-left:5px solid #e2e2e2;
	padding: 20px 20px 20px 164px;
	background:#fff;
	color:#7b7b7b;
-webkit-transition:border-color .2s ease-in-out;
-moz-transition:border-color .2s ease-in-out;
-o-transition:border-color .2s ease-in-out;
-ms-transition:border-color .2s ease-in-out;
transition:border-color .2s ease-in-out
}
blockquote:after, blockquote:before {
	content:'';
	content:none
}
blockquote:hover {
	border-color:#0b8593
}
blockquote cite {
	display:block;
	margin-bottom:15px;
	font-size:80%;
	color:#888
}
blockquote cite:before {
	content:"\2014 \2009"
}
abbr {
	border-bottom:1px dotted #e2e2e2;
	cursor:help
}
ol, ul {
	margin:0;
	padding:0;
}

ol:after, ul:after {
	display:block;
	width:0;
	height:0;
	overflow:hidden;
	clear:both;
	visibility:hidden;
	content:" "
}
ol.unstyled, ul.unstyled {
	margin:0 0 20px;
	padding:0;
	color:inherit;
	list-style-type:none
}
ol.inline>li, ul.inline>li {
	display:inline-block;
	padding:0;
	float:left
}
ol.inline>li:after, ul.inline>li:after {
	content:"\0020";
	display:block;
	height:0;
	clear:both;
	visibility:hidden
}
ol.circle, ul.circle {
	list-style:circle
}
ol.disc, ul.disc {
	list-style:disc
}
ol.square, ul.square {
	list-style:square
}
code {
	border:1px solid #DDD;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	padding:2px 5px;
	background:#FFF;
	color:#D14;
	white-space:nowrap;
-webkit-transition:all .2s ease-in-out;
-moz-transition:all .2s ease-in-out;
-o-transition:all .2s ease-in-out;
-ms-transition:all .2s ease-in-out;
transition:all .2s ease-in-out
}
code:hover {
	border-color:#d0d0d0
}
pre {
	margin:0 auto 20px;
	border:1px solid #DDD;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	background:#FFF;
	padding:20px;
	line-height:normal;
-webkit-transition:all .2s ease-in-out;
-moz-transition:all .2s ease-in-out;
-o-transition:all .2s ease-in-out;
-ms-transition:all .2s ease-in-out;
transition:all .2s ease-in-out
}
pre:hover {
	border-color:#d0d0d0
}
pre code {
	border:0;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	padding:0;
	background:inherit;
	color:inherit
}
label {
	display:inline-block;
	margin:0 0 5px
}
label:hover {
	cursor:pointer
}


@media only screen and (max-width:767px) {
input.w-large, input.w-medium, input.w-small, input[type=email], input[type=file], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=url], select, select.w-large, select.w-medium, select.w-small, textarea, textarea.w-large, textarea.w-medium, textarea.w-small {
width:100%;
max-width:100%;
float:none
}
}
@media only screen and (max-width:479px) {
.button, .button.w-large, .button.w-medium, .button.w-small, a.button, a.button.w-large, a.button.w-medium, a.button.w-small, button, button.w-large, button.w-medium, button.w-small, input[type=button], input[type=button].w-large, input[type=button].w-medium, input[type=button].w-small, input[type=reset], input[type=reset].w-large, input[type=reset].w-medium, input[type=reset].w-small, input[type=submit], input[type=submit].w-large, input[type=submit].w-medium, input[type=submit].w-small {
width:100%;
max-width:100%;
float:none
}
}
span.font-xx-small {
	font-size:70%
}
span.font-x-small {
	font-size:80%
}
span.font-small {
	font-size:90%
}
span.font-large {
	font-size:110%
}
span.font-x-large {
	font-size:120%
}
span.font-xx-large {
	font-size:130%
}
.remove-margin {
	margin:0!important
}
.remove-top-margin {
	margin-top:0!important
}
.remove-right-margin {
	margin-right:0!important
}
.remove-bottom-margin {
	margin-bottom:0!important
}
.remove-left-margin {
	margin-left:0!important
}
.bm-remove {
	margin-bottom:0!important
}
.bm-smaller {
	margin-bottom:5px!important
}
.bm-small {
	margin-bottom:10px!important
}
.bm-medium {
	margin-bottom:20px!important
}
.bm-large {
	margin-bottom:30px!important
}
.bm-larger {
	margin-bottom:40px!important
}
.tm-remove {
	margin-top:0!important
}
.tm-smaller {
	margin-top:5px!important
}
.tm-small {
	margin-top:10px!important
}
.tm-medium {
	margin-top:20px!important
}
.tm-large {
	margin-top:30px!important
}
.tm-larger {
	margin-top:40px!important
}
.remove-padding {
	padding:0!important
}
.remove-top-padding {
	padding-top:0!important
}
.remove-right-padding {
	padding-right:0!important
}
.remove-bottom-padding {
	padding-bottom:0!important
}
.remove-left-padding {
	padding-left:0!important
}
.text-left {
	text-align:left!important
}
.text-center {
	text-align:center!important
}
.text-right {
	text-align:right!important
}
.text-justify {
	text-align:justify!important
}
.element-center {
	margin-left:auto;
	margin-right:auto;
	float:none
}
.text-capitalize {
	text-transform:capitalize
}
.text-uppercase {
	text-transform:uppercase
}
.text-lowercase {
	text-transform:lowercase
}
.text-small-caps {
	font-variant:small-caps
}
.no-text-overflow {
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis
}
.no-decoration {
	text-decoration:none!important
}
.indent-10 {
	padding-left:10px;
	padding-right:10px
}
.indent-20 {
	padding-left:20px;
	padding-right:20px
}
.indent-30 {
	padding-left:30px;
	padding-right:30px
}
.indent-40 {
	padding-left:40px;
	padding-right:40px
}
.indent-50 {
	padding-left:50px;
	padding-right:50px
}
.indent-60 {
	padding-left:60px;
	padding-right:60px
}
.indent-70 {
	padding-left:70px;
	padding-right:70px
}
.indent-80 {
	padding-left:80px;
	padding-right:80px
}
.indent-90 {
	padding-left:90px;
	padding-right:90px
}
.indent-100 {
	padding-left:100px;
	padding-right:100px
}
.remove-left-indent {
	padding-left:0
}
.remove-right-indent {
	padding-right:0
}
.float-left {
	float:left
}
.float-right {
	float:right
}
.no-display {
	display:none!important
}
.no-visibility {
	visibility:hidden!important
}
.block {
	display:block
}
.inline-block {
	display:inline-block
}
.cursor-auto {
	cursor:auto
}
.cursor-default {
	cursor:default
}
.cursor-none {
	cursor:none
}
.cursor-context-menu {
	cursor:context-menu
}
.cursor-help {
	cursor:help
}
.cursor-pointer {
	cursor:pointer
}
.cursor-progress {
	cursor:progress
}
.cursor-wait {
	cursor:wait
}
.cursor-cel {
	cursor:cell
}
.cursor-crosshair {
	cursor:crosshair
}
.cursor-text {
	cursor:text
}
.cursor-vertical-text {
	cursor:vertical-text
}
.cursor-alias {
	cursor:alias
}
.cursor-copy {
	cursor:copy
}
.cursor-move {
	cursor:move
}
.cursor-no-drop {
	cursor:no-drop
}
.cursor-not-allowed {
	cursor:not-allowed
}
.cursor-all-scroll {
	cursor:all-scroll
}
.cursor-col-resize {
	cursor:col-resize
}
.cursor-row-resize {
	cursor:row-resize
}
.cursor-n-resize {
	cursor:n-resize
}
.cursor-e-resize {
	cursor:e-resize
}
.cursor-s-resize {
	cursor:s-resize
}
.cursor-w-resize {
	cursor:w-resize
}
.cursor-ns-resize {
	cursor:ns-resize
}
.cursor-ew-resize {
	cursor:ew-resize
}
.cursor-ne-resize {
	cursor:ne-resize
}
.cursor-nw-resize {
	cursor:nw-resize
}
.cursor-se-resize {
	cursor:se-resize
}
.cursor-sw-resize {
	cursor:sw-resize
}
.cursor-nesw-resize {
	cursor:nesw-resize
}
.cursor-nwse-resize {
	cursor:nwse-resize
}
@media only screen and (max-width:522px){

.bm-larger {
    margin-bottom: 9px!important;
}
}