@font-face {
	font-family: 'Amazon Ember';
	src: url(https://m.media-amazon.com/151images/G/01/AUIClients/AmazonUIFont-amazonember_rg-cc7ebaa05a2cd3b02c0929ac0475a44ab30b7efa._V2_.woff2) format("woff2"), url(https://m.media-amazon.com/images/G/01/AUIClients/AmazonUIFont-amazonember_rg-8a9db402d8966ae93717c348b9ab0bd08703a7a7._V2_.woff) format("woff")
}

@font-face {
	font-family: 'Amazon Ember';
	font-style: italic;
	src: url(https://m.media-amazon.com/images/G/01/AUIClients/AmazonUIFont-amazonember_rgit-9cc1bb64eb270135f1adf3a4881c2ee5e7c37be5._V2_.woff2) format("woff2"), url(https://m.media-amazon.com/images/G/01/AUIClients/AmazonUIFont-amazonember_rgit-a4dc98d644ff2aedd41da3da462f09ffce86eafb._V2_.woff) format("woff")
}

@font-face {
	font-family: 'Amazon Ember';
	font-weight: 700;
	src: url(https://m.media-amazon.com/images/G/01/AUIClients/AmazonUIFont-amazonember_bd-46b91bda68161c14e554a779643ef4957431987b._V2_.woff2) format("woff2"), url(https://m.media-amazon.com/images/G/01/AUIClients/AmazonUIFont-amazonember_bd-b605252f87b8b3df5ae206596dac0938fc5888bc._V2_.woff) format("woff")
}

@font-face {
	font-family: 'Amazon Ember';
	font-style: italic;
	font-weight: 700;
	src: url(https://m.media-amazon.com/images/G/01/AUIClients/AmazonUIFont-amazonember_bdit-80ff7aba37dd1ff5a6b90233a19e3a780a96dc2f._V2_.woff2) format("woff2"), url(https://m.media-amazon.com/images/G/01/AUIClients/AmazonUIFont-amazonember_bdit-57598ce426a612be5a1d15eee08252668fca5e7a._V2_.woff) format("woff")
}
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');
.drapefit-box h1{     
    color: #d64ade;
    font-weight: bold;
    font-size: 37px;
    margin-top: 0;
    /*font-family: 'Dancing Script', cursive;*/
}
.drapefit-box h3 {
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #252931;
    margin: 20px 0;
    color: #d64ade;
    /*font-family: 'Dancing Script', cursive;*/
    font-weight: bold;
}
.drapefit-box p {
    font-size: 17px;
    color: #252931;
    font-weight: 400;
    letter-spacing: 3px;
    line-height: 26px;
}
.drapefit-box ul {
    float: left;
    width: 100%;
    margin-top: 11px;
}
.drapefit-box ul li{
    display: inline-block;
    position: relative;
    padding: 0 15px;
}
.drapefit-box ul li::after {
    content: "";
    width: 16px;
    height: 13px;
    position: absolute;
    right: -10px;
    top: 13px;
    background: url(../images/arrow.png) center center no-repeat;
}
.drapefit-box ul li:last-child::after{ display: none;}
.drapefit-box ul li a {
    display: inline-block;
    background: #d64ade;
    color: #fff;
    padding: 8px 20px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
}
.drapefit-box ul li a:hover{
    background: #000;
}
.drapefit-box .fa-arrow-circle-down {
    font-size: 38px;
    color: #8c8c8c6b;
    position: relative;
    bottom: -60px;
}
.contain-section{ float: left; width: 100%;}
.cat-box{ float: left; width: 100%; position: relative; text-align: center;}
.cat-box img{ width: 100%;}
.cat-box h4 {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background: #000000a6;
    margin: 0;
    padding: 18px 14px;
    color: #fff;
    letter-spacing: 2px;
    line-height: 26px;
}
.cat-box a {
    display: inline-block;
    background: #d64ade;
    color: #fff;
    padding: 8px 20px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    margin-top: -10px;
    margin-bottom: -10px;
    position: relative;
    top: -55px;
    width: 100px;
    box-shadow: 3px 2px 8px -4px #000000;
}
.cat-box a:hover{
    background: #000;
    color: #fff;
    box-shadow: none;
}
.button-box button#ship {
    float: left;
    margin-right: 20px;
}
.woks{ text-align: center;}
.woks h2 {
    font-size: 34px;
    color: #000;
    font-weight: 900;
    letter-spacing: 3px;
    /*font-family: 'Dancing Script', cursive;*/
}
.woks img{ margin-top: 12px;}
.box {
    float: left;
    width: 100%;
    text-align: center;
    border: 1px solid #ccc;
    padding: 0 18px;
    margin-top: 80px;
}
.box h4{
    font-size: 16px;
    color: #d64ade;
    font-weight: 900;
    /*font-family: 'Dancing Script', cursive;*/
}
.tickimg-box {
    display: inline-block;
    height: 85px;
    width: 85px;
    background: url(../images/arms-4.png) center center no-repeat;
    background-size: 100%;
    margin-top: -12px;
    margin-bottom: -25px;
    position: relative;
    top: -34px;
    text-align: center;
    padding-top: 26px;
}
.step-box{
    float: left;
    width: 100%;
    text-align: left;
    margin-top: 40px;
    margin-bottom: 20px;
    position: relative;
}

.step-box-last:after{ display: none;}
.step-number {
    display: inline-block;
    height: 80px;
    width: 80px;
    border: 1px solid #d64ade;
    text-align: center;
    padding-top: 14px;
}
.step-number span {
    font-size: 32px;
    font-weight: 900;
    color: #d64ade;
    font-family: 'Dancing Script', cursive;
    padding-top: 4px;
    display: inline-block;
}
.step-box h4 {
    font-size: 16px;
    color: #000;
    font-weight: 900;
    letter-spacing: 2px;
    position: relative;
    margin-bottom: 16px;
    margin-top: 15px;
    /*font-family: 'Dancing Script', cursive;*/
}
.step-box h4:after{
    position: absolute;
    height: 1px;
    background: #373737;
    width: 50px;
    content: "";
    bottom: -8px;
    left: 0;
}
.step-box p{
    font-size: 16px;
    text-align: left;
}

.form-box {
    float: left;
    width: 35%;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(53, 53, 53, 0.59);
    height: 100%;
    padding: 20px 33px;
    border-top: 6px solid #d64ade;
    border-bottom: 6px solid #d64ade;
}
.form-box h3{
    font-size: 25px;
    color: #d64ade;
    /*font-family: 'Dancing Script', cursive;*/
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0 0 20px;
    font-weight:900;
}
.form-box .fb {
    display: inline-block;
    background: #355a94;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 13px;
    letter-spacing: 2px;
    color: #fff;
    border-radius: 4px;
    padding-right: 33px;
}
.form-box .fb span {
    display: inline-block;
    height: 47px;
    width: 47px;
    background: #274168;
    font-size: 21px;
    padding-top: 6px;
    margin-right: 20px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.form-box .fb span i{ padding-top: 2px;}
.form-box h6{
    margin: 35px 0;
}
.form-box h6 span {
    position: relative;
    display: inline-block;
    height: 45px;
    width: 45px;
    background: #d64ade;
    border-radius: 100%;
    /*font-family: 'Dancing Script', cursive;*/
    font-size: 13px;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    padding-top: 13px;
    z-index: 111;
}
.form-box h6 span:after {
    content: "";
    position: absolute;
    height: 95px;
    width: 2px;
    left: 21px;
    top: -22px;
    background: url(../images/border2.png) left top no-repeat;
    z-index: -1;
}
.form-box form ul{
    float: left;
    width: 100%;
}
.form-box form ul li{
    float: left;
    width: 100%;
}
.form-box form ul li input {
    background: none;
    border: none;
    color: #fff;
    width: 100%;
    border-bottom: 1px solid #fff;
    padding: 12px 9px 11px;
    font-weight: 200;
    font-size: 13px;
    margin-top: 4px;
    margin-bottom: 5px;
    letter-spacing: 2px;
}
.form-box form ul li input:focus{outline: none;}
.form-box form ul li:first-child{ float: left; width: 48%;}
.form-box form ul li:nth-child(2){ float: right; width: 48%;}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #fff;
    text-transform: uppercase;
}
::-moz-placeholder { /* Firefox 19~ */
    color: #fff;
    text-transform: uppercase;
}
:-ms-input-placeholder { /* IE 10~ */
    color: #fff;
    text-transform: uppercase;
}
:-moz-placeholder { /* Firefox 18- */
    color: #fff;
    text-transform: uppercase;
}
.form-box form input[type="submit"] {
    background: #d64ade;
    /*font-family: 'Dancing Script', cursive;*/
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    border: none;
    letter-spacing: 2px;
    padding: 14px 26px 11px;
    margin-top: 24px;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-bottom: 10px;

}
.form-box form input[type="submit"]:hover
{
    background: #000 !important;
    color: #fff !important;
}

.form-box p {
    font-size: 13px;
    font-weight: 200;
    color: #fff;
    letter-spacing: 2px;
    text-align: left;
}
.form-box p a {
    display: inline-block;
    font-weight: bold;
    color: #d64ade;
}
.form-box p a:hover{
    color: #fff;
}

.ser ul {
    float: left;
    width: 100%;
    padding-right: 30px;
}
.ser ul li {
    display: inline-block;
    width: 100%;
    padding: 8px 0;
    border-bottom: 1px solid #424242;
}
.ser ul li:last-child{ border:none;}
.ser ul li a {
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 400;
}
.ser ul li a:hover{
    color: #d64ade;
}
.menu-box{ float:left; width:100%; background:#3b3e4e;}
.menu-box ul{ float:left; width:100%;}
.menu-box ul li {
    display: inline-block;
    margin: 0 3px;
}
.menu-box ul li a {
    color: #f4f4f4;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 20px 16px 17px;
    display: inline-block;
    border-bottom:4px solid #3b3e4e;
}
.menu-box ul li a:hover{ color:#15bba4; border-bottom:4px solid #646777; background: url(../images/arr.png) bottom center no-repeat;}
.appo {
    position: absolute;
    background: #646776 !important;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    transform: rotate(-90deg);
    text-transform: uppercase;
    padding: 9px 14px;
    right: -43px;
    z-index: 111;
    top: 70px;
}
.table-bordered{
    border: 0px solid #ff2020 !important;
}
.noBorder {
    border:none !important;
}
.date span.input-group-addon {
    display: inline-block;
    position: absolute;
    height: 34px;
    width: 36px;
    top: 5px;
}
.date span.input-group-addon span{
	position: relative;
    left: -4px;
    top: 0;
}

/**********************Start Women*********************/

/* -------------------------------- 

Patterns - reusable parts of our design

-------------------------------- */
@media only screen and (min-width: 1170px) {
    .cd-is-hidden {
        visibility: hidden;
    }
}

/* -------------------------------- 

Vertical Timeline - by CodyHouse.co

-------------------------------- */

.cd-timeline {
    overflow: hidden;
    margin: 2em auto;
}

.cd-timeline__container {
    position: relative;
    width: 90%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 2em 0;
}

.cd-timeline__container::before {
    /* this is the vertical line */
    content: '';
    position: absolute;
    top: 0;
    left: 18px;
    height: 100%;
    width: 4px;
    background: #d7e4ed;
}

@media only screen and (min-width: 1170px) {
    .cd-timeline {
        margin-top: 3em;
        margin-bottom: 3em;
    }
    .cd-timeline__container::before {
        left: 50%;
        margin-left: -2px;
    }
}

.cd-timeline__block {
    position: relative;
    margin: 2em 0;
}

.cd-timeline__block:after {
    /* clearfix */
    content: "";
    display: table;
    clear: both;
}

.cd-timeline__block:first-child {
    margin-top: 0;
}

.cd-timeline__block:last-child {
    margin-bottom: 0;
}

@media only screen and (min-width: 1170px) {
    .cd-timeline__block {
        margin: 4em 0;
    }
}

.cd-timeline__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}

.cd-timeline__img img {
    display: block;
    width: 24px;
    height: 24px;
    position: relative;
    left: 50%;
    top: 50%;
    margin-left: -12px;
    margin-top: -12px;
}

.cd-timeline__img.cd-timeline__img--picture {
    background: #922993;
}

.cd-timeline__img.cd-timeline__img--movie {
    background: #3c3c3c;
}

.cd-timeline__img.cd-timeline__img--location {
    background: #3c3c3c;
}

@media only screen and (min-width: 1170px) {
    .cd-timeline__img {
        width: 60px;
        height: 60px;
        left: 50%;
        margin-left: -30px;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        font-size: 32px;
        font-weight: 900;
        color: #fff;
        text-align: center;
        padding-top: 7px;
    }
    .cd-timeline__img.cd-timeline__img--bounce-in {
        visibility: visible;
        -webkit-animation: cd-bounce-1 0.6s;
        animation: cd-bounce-1 0.6s;
    }
}

@-webkit-keyframes cd-bounce-1 {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
    60% {
        opacity: 1;
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes cd-bounce-1 {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
    60% {
        opacity: 1;
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.cd-timeline__content {
    position: relative;
    margin-left: 60px;
    background: white;
    border-radius: 0.25em;
    padding: 1em;
    -webkit-box-shadow: 0 3px 0 #d7e4ed;
    box-shadow: 0 3px 0 #d7e4ed;
}

.cd-timeline__content:after {
    /* clearfix */
    content: "";
    display: table;
    clear: both;
}

.cd-timeline__content::before {
    /* triangle next to content block */
    content: '';
    position: absolute;
    top: 16px;
    right: 100%;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-right: 7px solid white;
}

.cd-timeline__content h2 {
    color: #303e49;
}

.cd-timeline__content p,
.cd-timeline__read-more,
.cd-timeline__date {
    font-size: 1.3rem;
}

.cd-timeline__content p {
    margin: 1em 0;
    line-height: 1.6;
}

.cd-timeline__read-more,
.cd-timeline__date {
    display: inline-block;
}

.cd-timeline__read-more {
    float: right;
    padding: .8em 1em;
    background: #acb7c0;
    color: white;
    border-radius: 0.25em;
}

.cd-timeline__read-more:hover {
    background-color: #bac4cb;
}

.cd-timeline__date {
    float: left;
    padding: .8em 0;
    opacity: .7;
}

@media only screen and (min-width: 768px) {
    .cd-timeline__content h2 {
        font-size: 2rem;
    }
    .cd-timeline__content p {
        font-size: 1.6rem;
    }
    .cd-timeline__read-more,
    .cd-timeline__date {
        font-size: 1.4rem;
    }
}

@media only screen and (min-width: 1170px) {
    .cd-timeline__content {
        margin-left: 0;
        padding: 1.6em;
        width: 45%;
        /* Force Hardware Acceleration */
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
    .cd-timeline__content::before {
        top: 24px;
        left: 100%;
        border-color: transparent;
        border-left-color: white;
    }
    .cd-timeline__read-more {
        float: left;
    }
    .cd-timeline__date {
        position: absolute;
        width: 100%;
        left: 122%;
        top: 6px;
        font-size: 1.6rem;
        box-shadow: 2px 6px 9px 0 #dcdcdc;
        top: 25px;
        width: 145px;
        padding-bottom: 0;
    }
    .cd-timeline__date img{ width: 100%; float: left;}
    .cd-timeline__block:nth-child(even) .cd-timeline__content {
        float: right;
    }
    .cd-timeline__block:nth-child(even) .cd-timeline__content::before {
        top: 24px;
        left: auto;
        right: 100%;
        border-color: transparent;
        border-right-color: white;
    }
    .cd-timeline__block:nth-child(even) .cd-timeline__read-more {
        float: right;
    }
    .cd-timeline__block:nth-child(even) .cd-timeline__date {
        left: auto;
        right: 122%;
        text-align: right;
    }
    .cd-timeline__content.cd-timeline__content--bounce-in {
        visibility: visible;
        -webkit-animation: cd-bounce-2 0.6s;
        animation: cd-bounce-2 0.6s;
    }
}

@media only screen and (min-width: 1170px) {
    /* inverse bounce effect on even content blocks */
    .cd-timeline__block:nth-child(even) .cd-timeline__content.cd-timeline__content--bounce-in {
        -webkit-animation: cd-bounce-2-inverse 0.6s;
        animation: cd-bounce-2-inverse 0.6s;
    }
}

@-webkit-keyframes cd-bounce-2 {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100px);
        transform: translateX(-100px);
    }
    60% {
        opacity: 1;
        -webkit-transform: translateX(20px);
        transform: translateX(20px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes cd-bounce-2 {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100px);
        transform: translateX(-100px);
    }
    60% {
        opacity: 1;
        -webkit-transform: translateX(20px);
        transform: translateX(20px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@-webkit-keyframes cd-bounce-2-inverse {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100px);
        transform: translateX(100px);
    }
    60% {
        opacity: 1;
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes cd-bounce-2-inverse {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100px);
        transform: translateX(100px);
    }
    60% {
        opacity: 1;
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
.fix-banner-section {
    float: left;
    width: 100%;
    background: url(../images/banner2.jpg) left top no-repeat;
    background-size: 100%;
    padding: 36px 0;
    margin: 55px 0;
}
.fixed-box {
    float: left;
    width: 34%;
    background: #fff;
    padding: 30px;
    text-align: center;
    box-shadow: 0px 27px 50px -21px #000;
}
.fixed-box h3{ 
    margin: 0 0 5px;
    font-size: 29px;
    color: #2b2e34;
    font-weight: 900;
    letter-spacing: 3px;
}
.fixed-box ul{ float: left; width: 100%;}
.fixed-box ul li {
    display: inline-block;
    font-size: 16px;
    letter-spacing: 2px;
    padding: 11px 0;
    line-height: 23px;
    border-bottom: 1px solid #ccc;
}
.fixed-box ul li:last-child{ padding-bottom: 0; border-bottom:none;}
.denim-styles .select-boxes ul{
    float: left;
    width: 100%;
}
.denim-styles .select-boxes ul li{
    display: inline-block;
    width: 31%;
    margin: 0 7px;
}

.denim-styles .select-boxes ul li .switch-field label {
    width: 89px;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
}
.cloth-category .select-boxes ul{
    float: left;
    width: 100%;
}
.cloth-category .select-boxes ul li{
    display: inline-block;
    width: 31%;
    margin: 0 7px;
}

.cloth-category .select-boxes ul li .switch-field label {
    width: 89px;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
}
.accessories .select-boxes ul{
    float: left;
    width: 100%;
}
.accessories .select-boxes ul li{
    display: inline-block;
    width: 31%;
    margin: 0 7px;
}

.accessories .select-boxes ul li .switch-field label {
    width: 89px;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
}

.shoes .select-boxes ul{
    float: left;
    width: 100%;
}
.shoes .select-boxes ul li{
    display: inline-block;
    width: 31%;
    margin: 0 7px;
}

.shoes .select-boxes ul li .switch-field label {
    width: 89px;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
}
/**********************End Women*********************/
.model-content .modal-lg{
    z-index: 111111;
    width: 450px;
    text-align: center;
}
.model-content .modal-lg p{ text-align: center;}
.model-content .modal-lg h2 {
    color: #d64ade;
    font-weight: bold;
    font-size: 32px;
    margin-top: 0;
    /*font-family: 'Dancing Script', cursive;*/
    border-bottom: 2px solid #d64ade;
    padding-bottom: 20px;
}
.model-content .modal-lg a {
    display: inline-block;
    background: #d64ade;
    color: #fff;
    padding: 8px 20px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    width: 150px;
    margin-top: 17px;
    margin-bottom: 10px;
    font-size: 17px;
}
.model-content .modal-lg a:hover {
    background: #000;
}
button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    font-size: 37px;
    position: absolute;
    color: #d64ade;
    opacity: 1;
    right: 10px;
    top: 0;
}


/**********************Start Login*********************/
/*---------------------------------------------*/
.limiter input {
    outline: none;
    border: none;
}

.limiter textarea {
    outline: none;
    border: none;
}

.limiter textarea:focus, .limiter input:focus {
    border-color: transparent !important;
}

.limiter input:focus::-webkit-input-placeholder { color:transparent; }
.limiter input:focus:-moz-placeholder { color:transparent; }
.limiter input:focus::-moz-placeholder { color:transparent; }
.limiter input:focus:-ms-input-placeholder { color:transparent; }

.limiter textarea:focus::-webkit-input-placeholder { color:transparent; }
.limiter textarea:focus:-moz-placeholder { color:transparent; }
.limiter textarea:focus::-moz-placeholder { color:transparent; }
.limiter textarea:focus:-ms-input-placeholder { color:transparent; }

.limiter input::-webkit-input-placeholder { color: #999999; }
.limiter input:-moz-placeholder { color: #999999; }
.limiter input::-moz-placeholder { color: #999999; }
.limiter input:-ms-input-placeholder { color: #999999; }

.limiter textarea::-webkit-input-placeholder { color: #999999; }
.limiter textarea:-moz-placeholder { color: #999999; }
.limiter textarea::-moz-placeholder { color: #999999; }
.limiter textarea:-ms-input-placeholder { color: #999999; }

/*---------------------------------------------*/
button {
    outline: none !important;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}

iframe {
    border: none !important;
}


/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
    font-size: 13px;
    line-height: 1.5;
    color: #999999;
}

.txt2 {
    font-size: 13px;
    line-height: 1.5;
    color: #666666;
}


/*//////////////////////////////////////////////////////////////////
[ login ]*/
.p-t-12{ margin: 15px 0;}
.limiter {
    width: 100%;
    float: left;
    background: #e6e6e6;
}

.container-login100 {
    width: 100%; 
    float: left;
}

.wrap-login100 {
    width: 80%;
    background: #e6e6e6;
    border-radius: 10px;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 45px 110px 45px 110px;
    margin: 37px auto 60px;
}

/*------------------------------------------------------------------
[  ]*/
.login100-pic {
    width: 45%;
}

.login100-pic img {
    max-width: 100%;
    width: 100%;
}

/*------------------------------------------------------------------
[  ]*/
.login100-form {
    width: 45%;
}

.login100-form-title {
    /*font-family: 'Dancing Script', cursive;*/
    font-size: 24px;
    color: #b93ec1;
    line-height: 1.2;
    text-align: center;
    width: 100%;
    display: block;
    padding-bottom: 30px;
    margin-top: 30px;
    font-weight: 900;
}

/*---------------------------------------------*/
.wrap-input100 {
    position: relative;
    width: 100%;
    z-index: 1;
    margin-bottom: 10px;
}

.input100 {
    font-size: 15px;
    line-height: 1.5;
    color: #666666;
    display: block;
    border: solid 1px #ccc;
    width: 100%;
    background: #f5f5f5;
    height: 50px !important;
    border-radius: -5px;
    padding: 0px 16px 0 68px;
    box-shadow: 0px 0px 5px -4px #d64ade;
}
.input100_setpass {
    font-size: 15px;
    line-height: 1.5;
    color: #666666;
    display: block;
    border: solid 1px #ccc;
    width: 100%;
    background: #f5f5f5;
    height: 50px !important;
    border-radius: -5px;
    padding: 0 16px 0 12px;
    box-shadow: 0px 0px 5px -4px #d64ade;
}


/*------------------------------------------------------------------
[ Focus ]*/
.focus-input100 {
    display: block;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 0px 0px;
    color:rgb(214, 74, 222);
}

.input100:focus ~ .focus-input100 {
    -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
    animation: anim-shadow 0.5s ease-in-out forwards;
}

@-webkit-keyframes anim-shadow {
    to {
        box-shadow: 0px 0px 70px 25px;
        opacity: 0;
    }
}

@keyframes anim-shadow {
    to {
        box-shadow: 0px 0px 70px 25px;
        opacity: 0;
    }
}

.symbol-input100 {
    font-size: 15px;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    position: absolute;
    border-radius: 25px;
    top: 27px;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 35px;
    pointer-events: none;
    color: #666666;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.input100:focus ~ .focus-input100 ~ .symbol-input100 {
    color: #d64ade;
    padding-left: 28px;
}

/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}

.login100-form-btn {
    /* font-family: 'Dancing Script', cursive; */
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    width: 100%;
    height: 44px;
    float: right;
    border: none;
    border-radius: -13px;
    background: #ff6c00;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
.symbol-input100 .fa.fa-lock {

    font-size: 20px;
    padding-top: 9px;

}
.symbol-input100 .fa fa-envelope{
    padding-top: 10px;
    
}
.login100-form-btn:hover {
   background: #232f3e;
        color: #ffffff;
}



/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 1024px) {
    .checkout-product-section-left .switch-field label {
    width: 91px;
    font-size: 13px;
}
}

@media (max-width: 992px) {
    .wrap-login100 {
        padding: 177px 90px 33px 85px;
    }

    .login100-pic {
        width: 35%;
    }

    .login100-form {
        width: 50%;
    }
}

@media (max-width: 768px) {
    .wrap-login100 {
        padding: 100px 80px 33px 80px;
    }

    .login100-pic {
        display: none;
    }

    .login100-form {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .wrap-login100 {
        padding: 100px 15px 33px 15px;
    }
}


/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
    position: relative;
}

.alert-validate::before {
    content: attr(data-validate);
    position: absolute;
    max-width: 70%;
    background-color: white;
    border: 1px solid #c80000;
    border-radius: 13px;
    padding: 4px 25px 4px 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 8px;
    pointer-events: none;

    font-family: Poppins-Medium;
    color: #c80000;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;

    visibility: hidden;
    opacity: 0;

    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

.alert-validate::after {
    content: "\f06a";
    font-family: FontAwesome;
    display: block;
    position: absolute;
    color: #c80000;
    font-size: 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 13px;
}

.alert-validate:hover:before {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 992px) {
    .alert-validate::before {
        visibility: visible;
        opacity: 1;
    }
}
/**********************End Login*********************/



.style-contain {
    float: left;
    width: 100%;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 3%;
    background: #fff;
}
.style-contain .tab{ float: left; width: 100%;}
.style-contain .tab .nav-tabs{
	float: left;
	width: 100%;
}
.style-contain .tab .nav-tabs li a{
	font-family: "Amazon Ember", Arial, sans-serif;
	padding: 10px 15px;
	/**background-color: #ffffff;**/
	font-size: 18px;
	color: #232e3e;
   font-weight: bold;
}
/**********************
.tab{
    margin-top: 30px;
}
.tab .nav-tabs{
    border:none;
    border-bottom: 1px solid #d64ade;
}
.style-contain .nav-tabs>li {
    float: none;
    display: inline-block;
    vertical-align: bottom;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{
    color: #fff !important;
    cursor: default !important;
    background-color: #d64ade !important;
    border: 3px solid #d64ade !important;
    border-bottom-color: #ad05b7 !important;
}
.nav>li>a:hover, .nav>li>a:focus {
    color: #fff !important;
    background-color: #d64ade !important;
    border: 3px solid #d64ade !important;
    border-bottom-color: #ad05b7 !important;
}
.nav-tabs li a{
    padding: 15px 40px !important;
    border:1px solid #ededed;
    border-top: 2px solid #ededed;
    border-right: 0px none;
    background: #525252;
    color:#fff;
    border-radius: 0px;
    margin-right: 0px;
    font-weight: bold;
    transition: all 0.3s ease-in 0s;
    cursor: pointer;
}
.nav-tabs li a:hover{
    border-bottom-color: #ededed;
    border-right: 0px none;
    background: #00b0ad;
    color: #fff;
}
.nav-tabs li a i{
    display: inline-block;
    text-align: center;
    margin-right:10px;
}
.nav-tabs li:last-child{
    border-right:1px solid #ededed;
}
.nav-tabs li.active a,
.nav-tabs li.active a:focus,
.nav-tabs li.active a:hover{
    border-top: 3px solid #00b0ad;
    border-right: 1px solid #d3d3d3;
    margin-top: -15px;
    color: #444;
    padding: 22px 40px !important;
}
.style-contain .tab .tab-content {
    padding: 20px;
    line-height: 22px;
    width: 80%;
    display: inline-block;
}
.tab .tab-content h3{
    margin-top: 0;
    float: left;
    width: 100%;
}*********************/

@media only screen and (max-width: 767px){
    .nav-tabs li{
        width:100%;
        margin-bottom: 10px;
    }
    .nav-tabs li a{
        padding: 15px;
    }
    .nav-tabs li.active a,
    .nav-tabs li.active a:focus,
    .nav-tabs li.active a:hover{
        padding: 15px;
        margin-top: 0;
    }
}
.data-filup{ text-align: left;}
.data-filup .tab-pane h1 {
    font-weight: bold;
    color: #232e3e;
    font-family: "Amazon Ember", Arial, sans-serif;
    font-size: 30px;
    letter-spacing: 3px;
}
.data-filup .tab-pane p {
    /* font-weight: bold; */
    color: #585858;
    font-family: "Amazon Ember", Arial, sans-serif;
    font-size: 17px;
    letter-spacing: 3px;
    float: left;
    width: 100%;
    text-align: left;
}
.data-filup .tab-pane p span {
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-size: 12px;
    color: #565656;
    letter-spacing: 2px;
    font-weight: normal;
}
.form-box-data {
    float: left;
    width: 100%;
    margin-top: 15px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 40px;
    margin-bottom: 0;
        text-align: left;
}
.form-box-data nav{
	display: none;
}
.form-box-data h3 {
    font-weight: bold;
    color: #232f3e;
    font-family: "Amazon Ember", Arial, sans-serif;
    font-size: 22px;
    letter-spacing: 1px;
    margin-bottom: 18px;
    text-align:left;
}
.form-box-data nav b {
    font-family: "Amazon Ember", Arial, sans-serif;
    margin-top: 25px;
    display: inline-block;
}
.form-box-data nav b font{
	font-size: 15px;
}

.form-box-data .select-boxes{
	text-align: left;
}
.form-box-data .select-boxes .select-box{ display: inline-block;}
.form-box-data .select-boxes .select-box select ,.form-box-data .select-boxes .select-box input[type="text"]{
    border: 1px solid #ccc;
    background: none;
    padding: 10px 15px;
    font-size: 14px;
    width: 84px;
    font-family: "Amazon Ember", Arial, sans-serif;
    display: inline-block;
}
.form-box-data .select-boxes .select-box label {
    font-size: 18px;
    font-weight: normal;
    padding: 0 10px;
    font-family: "Amazon Ember", Arial, sans-serif;
}
.right-bar label.error{
    font-size: 13px !important;
    text-align: left !important;
    font-weight: normal !important;
    font-family: "Amazon Ember", Arial, sans-serif !important;
    position: absolute;
    top: 40px;
}
.form-box-data .select-boxes .select-box label.error {
    position: absolute;
    left: 5px;
    top: 40px;
    height: auto;
    font-size: 14px;
}
label#inseam-error {
    left: 0;
    right: inherit;
    text-align: left;
    font-size: 14px;
    font-weight: normal;
    font-family: "Amazon Ember", Arial, sans-serif;
}
.form-box-data .select-boxes2 .select-box label.error {
    top: 13px;
}
#inseam-error{
    position: absolute;
    top: 28px;
    left: 15px !important;  
}
label#shirt_blouse-error {
    top: 13px;
}
#jeans-error {
    /* display: block; */
    /*width: 200px !important;*/
    /* padding: 0 0 0 2px; */
    /* right: -27px; */
    /* bottom: -23px; */
    /*top: 13px;
    max-width: 200px;*/
}
.size-small label.error {
    bottom: -39px !important;
    line-height: 12px !important;
}
.kids-form-bnox .select-boxes2 .select-box label.error {
    top: 27px;
}
.error-issues ul{
    position: relative !important;
}
.error-issues ul li {
    position: unset !important;
}
.type-box.error-issues ul li label.error {
    top: -18px !important;
    line-height: 12px !important;
    display: inline-block !important;
    font-size: 14px !important;
    width: 100% !important;
    left: 0!important;
    border: none !important;
}
.prefer-women-error .select-boxes .select-box label.error{
    top: 28px;
}
.type-box.error-issues ul li label.error:after,.type-box.error-issues ul li label.error:before{
    display: none;
}
.form-box-data h4 {
    font-size: 15px;
    font-weight: bold;
    color: #000;
    margin-top: 25px;
    font-family: "Amazon Ember", Arial, sans-serif;
    color: #232e3e;
    text-align: left;
    margin-bottom: 16px;
}
.form-box-data h6 {
    font-size: 15px;
    font-weight: normal;
    color: #000;
    margin-top: 12px;
    font-family: "Amazon Ember", Arial, sans-serif;
    color: #232e3e;
}
.form-box-data .select-boxes .select-box2 select{
    width: 150px
}
.switch-field {
    font-family: "Amazon Ember", Arial, sans-serif;
    padding: 1px;
    overflow: hidden;
}

.switch-title {
    margin-bottom: 6px;
}

.switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.switch-field label {
    float: left;
    margin: 0;
}

.switch-field label {
    display: inline-block;
    width: 110px;
    background-color: #ffffff;
    color: #232e3e;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    text-shadow: none;
    padding: 6px 14px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    /* -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1); */
    /* box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1); */
    /* -webkit-transition: all 0.1s ease-in-out; */
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    font-weight: bold;
    font-family: "Amazon Ember", Arial, sans-serif;
}

.switch-field label:hover {
    cursor: pointer;
}

.switch-field input:checked + label {
background-color: #fe6c00;
-webkit-box-shadow: none;
box-shadow: none;
color: #232e3e;
}

.switch-field label:first-of-type {
    border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
    border-radius: 0 4px 4px 0;
}


/**************Start Radio Button Style*********************/

.input-control {
    cursor: pointer;
    display: inline-block;
    padding-left: 33.75px;
    position: relative;
    font-size: 15px;
    font-weight: 100;
    line-height: 27px;
    color: #000000;
    font-weight: bold;
    letter-spacing: 2px;
    margin: 15px 0 !important;
}
.input-control input {
    position: absolute;
    width: auto !important;
    z-index: 1;
    opacity: 0;
}
.input-control__indicator {
    border-radius: 80%;
    display: block;
    height: 20px;
    position: absolute;
    top: 5px;
    left: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 20px;
    text-align: center;
    background-color: #c1c0c0;
    background-size: 50% 50%;
    background-position: center center;
    background-repeat: no-repeat;
}

.input-control.radio input:focus ~ .input-control__indicator,
.input-control.radio input:active ~ .input-control__indicator {
    background: #232e3e !important;
}
.input-control.radio input:checked ~ .input-control__indicator {
    background: #232e3e;
}
.input-control.radio input:checked ~ .input-control__indicator:after {
    border-radius: 80%;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    width: 100%;
    background: white;
}
.input-control.radio input:checked ~ .input-control__indicator {
    background: #232e3e;
}
/**************End Radio Button Style*********************/
.button-box button {
    background: #232f3e;
    text-transform: uppercase;
    font-weight: bold;
    text-transform: uppercase;
    color: #ff6c00;
    padding: 9px 18px;
    display: block;
    margin: 0 auto;
    margin-bottom: 12px;
    margin-top: 17px;
}
.button-box button .fa-arrow-right{
	font: normal normal normal 14px/1 FontAwesome;
}
.button-box button:hover {
    background: #ff6c00;
    color: #232e3e;
}
.button-box a {
    color: #fe6c00;
}
.limiter label{ margin-bottom: 6px !important;}
.checkbox input[type=checkbox]{ opacity: 0;}
.checkbox .checkbox label {
    min-height: 20px;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer;
    position: relative;
}

.checkbox input[type=checkbox]:checked~label:before{
    background-color: #d64ade;
    border-color: #d64ade
}
.checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 25px;
    height: 25px;
    left: 0;
    margin-left: 0px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #fff;
    -webkit-transition: border .15s ease-in-out,color .15s ease-in-out;
    -o-transition: border .15s ease-in-out,color .15s ease-in-out;
    transition: border .15s ease-in-out,color .15s ease-in-out;

}
.checkbox input[type=checkbox]:checked~label:after {
    font-family: Font Awesome\ 5 Free;
    font-weight: 900;
    content: "\f00c";
    display: inline-block;
    position: absolute;
    width: 25px;
    height: 25px;
    left: 0;
    top: 0;
    margin-left: 2px;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 16px;
    color: #fff;
}
.checkbox label{
    font-size: 19px;
    font-weight: normal;
    letter-spacing: 1px;
    color: #5a5a5a;
    padding-left: 40px !important;
}

.schedule{
    float: left; width: 100%;
}
.schedule h1{
    font-size: 17px;
    font-weight: 600;
    font-family: "Amazon Ember", Arial, sans-serif;
    margin: 0;
    padding: 5px 0px 15px 0px;
    text-transform: uppercase;
    border-bottom: 1px solid #fe6c21;
    color: #fe6c00;
}
.receive-box{ float: left; width:100%;}
.receive-box h2 {
    font-size: 21px;
    font-weight: normal;
    color: #000;
    letter-spacing: 0;
    margin: 16px 0 25px;
}
.receive-box ul {
    float: left;
    width: 100%;
    margin:30px 0 15px 0;
    padding: 0;
}
.receive-box ul li {
    display: inline-block;
    width: 22%;
    margin: 0 16px;
}
.receive-box ul li:first-child{
    margin-left: 0;
}
.receive-box ul li:last-child{
    margin-right: 0;
}
.radio-box{
    opacity: 0;
    position: absolute;
}
.receive-box ul li label {
    position: relative;
    border: 1px solid #e0e0e0;
    padding: 15px;
    cursor: pointer;
}
.receive-box ul li input[type="radio"]:checked ~ label:before{
    background: #d64ade;
    border: 1px solid #d64ad
}
.receive-box ul li input[type="radio"]:checked ~ label{
    background: #d64ade;
}
.receive-box ul li label:before{
    content: "";
    position: absolute;
    display: block;
    height: 35px;
    width: 35px;
    right: 0;
    top: -24px;
    border-radius: 100%;
    border: 2px solid #fff;
}
.receive-box ul li input[type="radio"]:checked ~ label:after{
    font-family: Font Awesome\ 5 Free;
    font-weight: 900;
    content: "\f00c";
    display: inline-block;
    position: absolute;
    display: block;
    height: 35px;
    width: 35px;
    right: -7px;
    top: -20px;
    font-size: 20px;
    color: #fff;;
}
.receive-box ul li label h5{
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    /*font-family: 'Dancing Script', cursive;*/
}
.receive-box ul li label p{
    font-weight: normal;
    font-size: 16px;
    text-align: left;
    letter-spacing: 1px;
}
.receive-box ul li input[type="radio"]:checked ~ label h5{ color: #fff;}
.receive-box ul li input[type="radio"]:checked ~ label p{ color: #fff;}
.receive-box p{
    float: left;
    width: 100%;
    font-weight: normal;
    font-size: 16px;
    text-align: left;
    letter-spacing: 1px;
}
.receive-box button{
    display: inline-block;
    background: #d64ade;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    color: #fff;
    font-size: 17px;
    padding: 11px 43px;
    border-radius: 25px;
    margin-top: 20px;
    transition: 500ms all ease-in-out 0s;
}
.receive-box button:hover{
    background: #000;
    transition: 500ms all ease-in-out 0s;
}
.reservation {
    float: left;
    width: 100%;
    background: #fff;
    padding-top: 7%;
    padding-bottom: 30px;
}
.reserv-box{
    display: inline-block;
    width: 100%;
    background: #fff;
    border: 1px solid #e0e0e0;
    padding: 13px 19px 29px;
    min-height: 277px;
    position: relative;
    margin-top: 7%;
}
.date-fix-box {
float: left;
    width: 100%;
    margin: 20px 0 0;
        text-align: left;
}
.date-fix-box a{
    /*font-family: 'Dancing Script', cursive;*/
    font-weight: bold;
    font-size: 22px;
    color: #232e3e;
    text-align: left;
    font-family: "Amazon Ember", Arial, sans-serif;
}
.date-fix-box a:hover{
color: #fe6c2c;
text-decoration: none;
}
.date-fix-box p{
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 1px;
    margin-top: 20px;
    line-height: 30px;
    font-family: "Amazon Ember", Arial, sans-serif;
}
.fa-arrow-right{
	    font: normal normal normal 14px/1 FontAwesome;
}
.shipping-box{
    display: inline-block;
    width: 70%;
}
.shipping-box label {
    width: 100%;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #656363;
    margin: 15px 0 9px;
}
.shipping-box input[type="text"], .shipping-box select {
    width: 95%;
    text-align: left;
    border: 1px solid #ccc;
    /*background: no-repeat;*/
    height: 43px;
    padding: 0px 11px;
}
.shipping-box button{ margin-top: 30px;}

.price-box,.payment-detail{
    float: left;
    width: 65%;
        display: none;
    text-align: left;
}
.price-box h5{
    font-size: 17px;
    letter-spacing: 1px;
}
.price-box h5 span{ float: right;}
.price-box ul {
    float: left;
    width: 100%;
    text-align: left;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    margin-bottom: 21px;
}
.price-box ul li {
    font-size: 16px;
    letter-spacing: 1px;
    padding: 6px 0;
}
.shipping-box h6 {
    width: 100%;
    float: left;
    text-align: left;
}
.payment-detail h3{
    margin-bottom: 0;
    font-weight: bold;
    font-size: 22px;
    letter-spacing: 1px;
}
.button2{ float: left;}

.checkout-pro {
    text-align: left !important;
    display: inline-block;
    width: 100% !important;
    background: #fff;
    border: 1px solid #e0e0e0;
    padding: 13px 19px 70px;
    min-height: 307px;
    position: relative;

}
.checkout-pro h1 {
    text-align: left !important;
    margin-bottom: 25px;
}
.checkout-pro p {
    text-align: left !important;
    font-family: "Amazon Ember", Arial, sans-serif;
    font-size: 16px;
}
.checkout-pro .first-proce h3,.checkout-pro .first-proce h4,.checkout-pro .first-proce h4,.checkout-pro .first-proce h5,.checkout-pro .first-proce h6,.select-boxes h5{
	font-family: "Amazon Ember", Arial, sans-serif;
}
.checkout-pro .first-proce h6 {
    font-size: 14px;
    font-weight: bold;
    color: #232f3e;

}
.checkout-pro .first-proce h3 {

    color: #fe6c00;
    font-weight: bold;

}
.checkout-pro .select-boxes h4 {
    font-size: 17px;

}
.message-box input[type="submit"] {
    float: left !important;
    padding: 8px 15px !important;
    color: #ff6c00 !important;
    background: #232f3e !important; 
    font-size: 15px !important;
    font-family: "Amazon Ember", Arial, sans-serif !important;
    font-weight: bold !important;
    margin-bottom: 5px !important;
    border-radius: 0 !important;
    text-transform: uppercase !important;
    border:none !important;

}
.message-box input[type="submit"]:hover{
	background: #ff6c00 !important;
	color: #232f3e !important;
}

/*****************Start Kids******************************/
.style-kids .tab .tab-content {
    padding: 20px;
    line-height: 22px;
    width: 80%;
    display: inline-block;
}
.style-kids{ float:left; width: 100%; text-align: center;}
.style-kids .form-box-data .radio {
    display: inline-block;
    margin-right: 20px !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
.style-kids .form-box-data .switch-field label{
    width: 145px;
}
.style-kids .nav-tabs>li {
    float: none;
    display: inline-block;
    vertical-align: bottom;
}
.style-kids .select-boxes input[type="text"]{
    width: 70%;
    height: 48px;
    padding: 10px;
}
.style-kids .select-boxes ul{ float: left; width: 100%;}
.style-kids .select-boxes ul li {
    display: inline-block;
    width: 31%;
    margin: 0 7px;
}
.style-kids .select-boxes ul li img{
    width: 100%;
}
.style-kids .select-boxes ul li .switch-field label {
    width: 89px;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
}
.style-kids h4 {
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #000;
    margin-top: 25px;
    margin-bottom: 0;
}
.checkboxes .select-boxes ul{
    float: left;
    width: 100%;
    margin-bottom: 30px;
}
.checkboxes .select-boxes ul li {
    display: inline-block;
    width: 24%;
    position: relative;
    margin: 10px 0;
}
.checkboxes .select-boxes ul li input[type="checkbox"]{
    position: absolute;
    opacity: 0;
}
.checkboxes .select-boxes ul li label {
    padding-left: 40px;
    font-size: 14px;
    letter-spacing: 1px;
    padding-top: 0;
    margin: 0;
    font-weight: normal;
}
.checkboxes .select-boxes ul li input[type="checkbox"]:checked ~ label:before {
    width: 25px;
    height: 25px;
    content: "\f00c";
    position: absolute;
    left: 0;
    top: 0;
    background: #d64ade;
    border: 1px solid #d64ade;
    font-family: Font Awesome\ 5 Free;
    font-weight: 900;
    color: #fff;
    text-align: center;
}
.checkboxes .select-boxes ul li label:after{
    width: 25px;
    height: 25px;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    border:1px solid #ccc;
}
.color-bx{
    float:left;
    width:100%;
    height:100px;
    border:1px solid #ccc;
}
.red{
    background: #B73620;
}
.orange{
    background: #ffa500;
}
.yellow{
    background: #f3f384;
}
.green{
    background: #294e2d;
}
.blue{
    background: #2369b4;
}
.purple{
    background: #9575B8;
}
.pink{
    background: #ffc0c6;
}
.black{
    background: #000;
}
.white{
    background: #fff;
}
.grey{
    background: #7e7e7e;
}
.brown{
    background: #7a491e;
}
/*****************End Kids******************************/

/*****************Start men style******************************/
.describ ul,.occupation ul{ display: inline-block; width: 100%; text-align: left;}
.describ ul li{
    display: inline-block;
    width: 49%;
     text-align: left;
}

.style-men .select-boxes input[type="text"] {
    width: 70%;
    height: 48px;
    padding: 10px;
}
.occupation ul li{
    display: inline-block;
    width: 33%;
    vertical-align: top;
}
.type-box ul {
    float: left;
    width: 100%;
    margin:10px 0 15px 0;
    padding: 0;
    text-align: left;
}
.type-box ul li {
    display: inline-block;
    width: 17%;
    margin: 10px 11px;
    vertical-align: top;
}
.type-box ul li:first-child{
    margin-left: 11px;
}
.type-box ul li:last-child{
    margin-right: 0;
}
.appare-box ul li {
    width: 47%;
}
.small, small {
    float: left;
    width: 100%;
    text-align: left;
}
.type-box .radio-box{
    opacity: 0;
    position: absolute;
}
.type-box ul li label {
    position: relative;
    border: 1px solid #e0e0e0;
    padding: 2px;
    cursor: pointer;
}
.type-box ul li label.error {
    border: none;
    position: absolute;
    bottom: -32px;
    left: 14px;
    z-index: 1;
    height: auto;
    text-align: left;
    width: 100% !important;
    line-height: 14px;
    height: 20px;
}
.type-box.bohemian ul li label.error{
    bottom: inherit;
top: 22px;
left: 23px
}
.type-box ul li label img{
    width: 100%;
}
.type-box ul li input[type="radio"]:checked ~ label:before,.type-box ul li input[type="checkbox"]:checked ~ label:before{
    background: #fe6c00;
    border: 1px solid #d64ad
}
.type-box ul li input[type="radio"]:checked ~ label, .type-box ul li input[type="checkbox"]:checked ~ label {
    /* background: #fe6c00; */
    border: 1px solid #fe6c00;
}
.type-box ul li label:before{
    content: "";
    position: absolute;
    display: block;
    height: 35px;
    width: 35px;
    right: 0;
    top: -24px;
    border-radius: 100%;
}
.type-box ul li input[type="radio"]:checked ~ label:after, .type-box ul li input[type="checkbox"]:checked ~ label:after {
font-weight: 900;
    content: "\f00c";
    display: inline-block;
    position: absolute;
    display: block;
    height: 25px;
    width: 25px;
    right: 0;
    top: -18px;
    font-size: 15px;
    color: #fff;
    font-family: FontAwesome;
    text-align: center;
}
/*****************Start Account Setting******************************/
.account-setting{
    text-align: left;
}
.account-setting h1 {
    font-weight: bold;
    color: #414141;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 0;
    margin-bottom: 25px;
    margin-top: 45px;
}
.account-setting h2{
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    color: #545454;
    letter-spacing: 0;
    margin: 0;
    line-height: 35px;
}
.account-setting p {
    font-size: 17px;
    letter-spacing: 0px;
    color: #000;
}

.account-setting p {
    font-size: 17px;
    letter-spacing: 0px;
    color: #000;
    line-height: 30px;
}
.account-setting dt,.account-setting dd{
    font-size: 17px;
    letter-spacing: 0px;
    color: #000;
    line-height: 30px;
}
.account-setting a {
    font-size: 18px;
    letter-spacing: 1px;
    color: #d64adf;
}
.account-setting article{
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Account Credit  */	
.credit
{
    width:100%;
    float:left;
}
/**.acc
{
    float:left;
    border:1px solid #CCC;
    width:100%;
    display:inline-block;
    padding:15px;
}
.acc input {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 7px 0;
    margin: 10px 0px;
}**/
.accp
{
    padding: 15px 0px;
    border-top: 2px dashed #d64ade;
    border-bottom: 2px dashed #d64ade;
    margin: 20px 0px;
}
.acc form
{
    padding:0;
    margin:5px 0px;
}
.acclab
{
    float: left;
    display: inline-block;
    margin-top: 10px;
}
.acc  form button:nth-child(1)
{
    background: #d64ade;
    border: 1px solid;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 12px 20px;
}
.acc  form button:nth-child(1):hover
{
    background: #000000;
    color: #ffffff;
}
.last-div
{
    float:left;
    display:block;
    padding-top:20px;
}
/**.credit-right {
    text-align: center;
    border: 1px solid #ccc;
    position: relative;
    width: 100%;
    padding-bottom: 13px;
}**/
.credit-right h2 {
    font-size: 26px;
    line-height: 42px;
}
.credit-right form
{
    padding:0;
    margin:5px 0px;
}
.credit-right p {
    padding: 0;
    margin: 0;
    text-align: center;
    padding-bottom: 10px;
}
.credit-right ul {
    margin: 1px;
    padding: 0;
    /* padding-left: 136px; */
    text-align: center;
}
.credit-right ul li {
    float: none;
    padding: 0 7px;
    display: inline-block;
    list-style-type: none;
}
.col-sm-5.sa-info {
    width: 22%;
    float: left;
    margin-left: 194px;
}
.col-sm-3.ck-back {
    width: 19.8%;
    float: left;
    margin-left: 0;
}
.col-sm-3.ck-back a {
    font-size: 16px;
    color: #fff;
}
.col-sm-6.col-lg-6.col-md-6.button-box {
    float: left;
    width: 100%;
    margin-left: 0;
    text-align: center;
}
.credit-right ul li .fa-facebook-f {
    font-family: "Font Awesome 5 Brands";
    color: #4267b2;
        font-style: normal;
}
.credit-right ul li .fa-envelope {
    /* font-family: "Font Awesome 5 Brands"; */
    color: #b5b4b4;
}
.credit-right ul li .fa-facebook-messenger {
    font-family: "Font Awesome 5 Brands";
    color: #0084FF;
}

/* Account Credit section ended */
/*****************End Account Setting******************************/
/*****************End men style******************************/
#Section3 .form-box-data nav {
    display: inline-block;
    text-align: left;
    width: 100%;
}
.tab ul {
    padding-top: 0 !important;
}
input#readmecodeBtnx {
    float: left;
    padding: 7px 13px;
    color: #ff6c00;
    background: #232f3e;
    font-size: 15px;
    font-family: "Amazon Ember", Arial, sans-serif;
    font-weight: bold;
    margin-bottom: 15px;
    border-radius: 0;
    text-transform: uppercase;
    border: none;
}

@media all and (max-width: 1280px) {

}
@media all and (max-width: 1199px) {
	.switch-field label{
		 width: 80px;
	}
	#Section2 .switch-field label {
    width: 106px;
}
.style-contain {
    padding-top: 14%;
}
}
@media all and (max-width: 1199px) {
.reserv-box{
	margin-top: 3%;
}
}
@media all and (max-width: 991px) {
    .occupation ul li {width: 49%;}
    .input-control{vertical-align: top;}
.type-box ul li {
    width: 20%;
}
.switch-field label {
    width: 95px;
    padding: 6px 5px;
}
#Section3 .switch-field label {
    width: 68px;
}
.reservation .checkout-pro{
    width: 100% !important;
}
}
@media all and (max-width: 800px) {
    .style-contain .tab{margin-top: 48px;}
    .reserv-box {
    margin-top: 10%;
}
}
@media all and (max-width: 767px) {
	.form-box-data h4{
		margin-top: 25px !important;
	}
    .input-control{
        vertical-align: top;
    float: none;
    padding-top: 0;
    }
    .style-contain .tab{margin-top: 25px;}
    .date {
    width: 90%;
}
.form-box-data .select-boxes .select-box label {
  padding: 8px 12px 0px 8px !important;
}
.form-box-data .select-boxes .select-box select, .form-box-data .select-boxes .select-box input[type="text"] {
    height: 41px;
}

.type-box ul li span{
	width: 100%;
	display: inline-block;
}
.type-box ul li {
    margin: 7px 8px !important;
}
.color-boxed .col-md-4 {
    width: 50% !important;
    float: left;
}
.shirt .col-md-4 {
    width: 50% !important;
    float: left;
    text-align: left;
}
#Section3 .shirt .col-md-4 .switch-field label {
    width: 68px;
    float: left;
    margin: 0 -1px;
}
.shoes .col-md-4 {
    width: 50% !important;
    float: left;
    text-align: center;
}
.shoes .col-md-4 label{
	float: left;
}
.shoes .col-md-4 .switch-field{
	width: 100%;
}
.reservation .checkout-pro {
    padding-top: 58px;
}
.form-box-data .body-men h4 {
    margin-top: 0 !important;
}
.form-box-data2 h4 {
    font-size: 14px;
    margin-top: 15px !important;
    margin-bottom: 18px !important;
}
.right-bar .form-box-data2 label.error {
    top: 5px !important;
}
.form-box-data .select-boxes .select-box select, .form-box-data .select-boxes .select-box input[type="text"] {
    position: relative;
    z-index: 9;
}
.form-box-data .type-box h4 {
    margin-top: 0 !important;
}
.type-box ul li label.error {
    bottom: inherit !important;
    top: 21px !important;
}
.kids-form-bnox .select-boxes2 .select-box label.error {
    top: 11px !important;
    padding: 0 !important;
}
}
@media all and (max-width: 640px) {
	.occupation ul li {
    width: 100%;
}

.tab ul {
    padding-top: 0 !important;
    margin-top: 0;
}
.type-box ul li {
    width: 46%;
    margin: 7px 11px;
}
.type-box ul li label{
	float: left;
}
.form-box-data h4{
	margin-top: 25px !important;
}
.button-box button{
	display: inline-block;
	margin-right: 20px;
}
.describ ul li {
    width: 100%;
}
.checkout-pro .switch-field label {
    width: 50px;
}
.checkout-pro .col-md-7 .switch-field label {
    width: 70px;
    font-size: 12px;
}
.message-box textarea {
    width: 100% !important;
}
.type-box ul li label:before {
    height: 30px;
    width: 30px;
    right: 0;
    top: -15px;
}
/*.type-box ul li input[type="radio"]:checked ~ label:after, .type-box ul li input[type="checkbox"]:checked ~ label:after {
    height: 30px;
    width: 30px;
    right: -8px;
    top: -11px;
}*/
.reserv-box {
    margin-top: 16%;
}
.checkout-product-section-left{
    width: 100% !important;
}
.checkout-pro .switch-field label {
    width: 72px;
}
.checkout-product-section-right {
    float: left !important;
    width: 100% !important;
    text-align: left !important;
    margin-top: 10px;
}
.form-box-data .select-boxes .select-box label.error,.form-box-data .date-box .select-boxes label.error {
    padding: 0 !important;
}
.form-box-data2 h4 {
    margin-top: 15px !important;
}
.right-bar .form-box-data2 label.error {
    top: 12px !important;
}
#inseam-error {
    top: 5px !important;
}
}
@media all and (max-width: 570px) {
 .checkboxes.mostly-wear .select-boxes ul li {
    width: 29%;
}
}
@media all and (max-width: 500px) {
    .style-contain .tab {
    margin-top: 74px;
}
.form-control
    {
        width: 50% !important;
    }
    #Section3 .form-control {
    width: 100% !important;
}
.date input.form-control{ width: 100% !important;}
}
@media all and (max-width: 480px) {
.type-box ul li {
    width: 45%;
    margin: 7px 11px;
}
#Section3 .switch-field label {
    width: 55px;
    font-size: 13px;
}
.reserv-box {
    margin-top: 25%;
}
.date-fix-box{
	margin-top: 0;
}
.reservation .checkout-pro {
    padding-top: 85px;
}
.type-box ul li label.error{
    width:94% !important;
}
}
@media all and (max-width: 441px) {
.type-box.for-error1 ul li label.error {
    top: 35px !important;
}
.data-filup .tab-pane h2, .data-filup .tab-pane h1 {
    width: 61%;
}
.style-contain .left-bar p {
    width: 61%;
}
}
@media all and (max-width: 400px) {
.type-box ul li {
    width: 42%;
}
#Section3 .switch-field label {
    width: 48px;
    font-size: 11px;
}
#Section3 .shirt .col-md-4 .switch-field label {
    width: 48px;
}
#Section3 .shirt .col-md-4 img{
	width: 100%;
	height: auto;
}
.form-box-data nav b font {
    font-size: 12px;
}
.shoes .col-md-4 img{
	width: 100%;
	height: auto;
}
#Section2 .switch-field label {
    width: 85px;
    font-size: 13px;
}
#Section3 .shirt .col-md-4 img {
    width: 100%;
    height: auto;
}
}
@media all and (max-width: 370px) {
	.switch-field label {
    width: 81px;
    padding: 6px 5px;
    font-size: 14px;
}
.checkout-pro .switch-field label {
    width: 45px;
}
#Section3 .shirt .col-md-4 .switch-field label {
    width: 44px;
}
#Section3 .switch-field label {
    width: 42px;
}
#Section2 .switch-field label {
    width: 76px;
    font-size: 13px;
}
.data-filup .tab-pane h1{ font-size: 20px;}
.data-filup .tab-pane p {
    font-size: 15px;
    letter-spacing: 1px;
}
.checkout-pro .col-md-7 .switch-field label {
    width: 56px;
    font-size: 11px;
    padding: 7px 0;
}
.customer-details ul li {
    margin: 0 3px !important;
}
.reservation .checkout-pro {
    padding-top: 85px;
}
.checkout-pro .switch-field label {
    width: 67px !important;
    padding: 6px 0 !important;
    font-size: 12px !important;
}
.reservation .checkout-pro {
    padding-left: 0 !important;
    padding-right: 0 !important;

}
.for-error3 .type-box ul li label.error,.type-box.for-error1 ul li label.error {
    top: 35px !important;
}
}
@media all and (max-width: 340px) {
.type-box.for-error2 ul li label.error {
    top: 35px !important;
}
}
@media all and (max-width: 330px) {
	.color-boxed .col-md-4 {
    padding-right: 0;
}
.shirt .col-md-4 {
    padding-right: 0;
}
.shoes .col-md-4 {
    padding-right: 0;
}
.type-box.for-error2 ul li label.error {
    top: 35px !important;
}
}
/*****************Search******************************/
.pay-now-checkbox
    {
        float: left;
        width: 100%;
    }
.pay-now-checkbox label {
    margin-top: 0px !important;
    margin-left: 08px;
    float: left;
    min-height: 20px;
    padding-left: 30px !important;
    margin-bottom: 0;
    font-weight: 400 !important;
    cursor: pointer;
    position: relative;
    }
.pay-now-checkbox label:before
    {
        content: "";
        display: inline-block;
        position: absolute;
        width: 21px;
        height: 21px;
        font-family: Font Awesome\ 5 Free;
        font-weight: 900;
        left: 0px;
        padding-left: 3px;
        text-align: center;
        font-size: 14px;
        margin-left: 0px;
        border: 1px solid #ccc;
        border-radius: 3px;
        background-color: #fff;
        -webkit-transition: border .15s ease-in-out,color .15s ease-in-out;
        -o-transition: border .15s ease-in-out,color .15s ease-in-out;
        transition: border .15s ease-in-out,color .15s ease-in-out;
    }
.pay-now-checkbox input[type=checkbox]:checked ~ label:after
    {
        content: "\f00c";
        background-color: #d64ade;
        border-color: #d64ade;
        color: #fff;
        font-family: Font Awesome\ 5 Free;
        font-weight: 900;
        width: 21px;
        height: 21px;
        left: 0px;
         display: inline-block;
        position: absolute;
    }
    
    /* -------------------------------- New css start -------------------------------- */
    
    .gift-banner{
        float: left;
        width: 100%''
    }
    .gift-banner img{
        width: 100%;
    }
    .mailing-section {
        float: left;
        width: 100%;
        text-align: center;
        padding: 50px 0;
    }
    .mailing-section span {
        display: inline-block;
        height: 50px;
        width: 50px;
        border: 2px solid #232f3e;
        border-radius: 100%;
        font-size: 30px;
        color:#232f3e;
    }
    .mailing-section span i.fa.fa-at {
        font-size: 35px;
        margin-top: 6px;
    }
    .mailing-section span i.fa.fa-print{
        font-size: 35px;
        margin-top: 5px;
    }
    .mailing-section h3{
        font-family: "Amazon Ember", Arial, sans-serif;
        font-size: 19px;
        text-transform: uppercase;
        font-weight: bold;
        margin-top: 10px;
        color:#232f3e;
    }
    .mailing-section p {
        font-family: "Amazon Ember", Arial, sans-serif;
        font-size: 16px;
    }
    .mailing-section a {
        display: inline-block;
        border: 2px solid #232f3e;
        color: #232f3e;
        font-family: "Amazon Ember", Arial, sans-serif;
        text-transform: uppercase;
        padding: 10px 35px;
    }
    .mailing-section a:hover{
        color: #ff6c00;
        border: 2px solid #ff6c00;
        text-decoration: none;
    }
    .mailing-img-box{
        float: left;
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }
    @media only screen and (max-width:767px){
       .mailing-img-box{
        float: left;
        width: 100%;
        text-align: center;
        margin-top: 20px;
        margin-bottom:20px;
    } 
    }
    
    .mailing-img-box img{
        max-width: 100%;
    }
    .gift-card-button span {
        display: inline-block;
        border: 1px solid #ccc;
        height: inherit;
        width: inherit;
        border-radius: initial;
        width: 200px;
        padding: 3px 3px;
        margin: 51px 9px 15px;
    }
    .gift-card-button span a {
        display: inline-block;
        width: 100%;
        font-size: 15px;
        padding: 13px 0;
    }
    .more-faq{ padding-top: 20px; padding-bottom:50px; text-align: center;}
    
    
    .print-step {
        float: left;
        width: 100%;
        padding: 50px 0;
    }
    .print-step form{
        width: 56%;
        margin: 0 auto;
    }
    /*suprakash added*/
    @media only screen and (max-width:767px){
        .print-step form{
        width: 100% !important;
        margin: 0 auto;
    } 
    }
    /*suprakash end*/
    
    .step1-box {
        width: 100%;
        float: left;
        background: #fff;
        border: 1px solid #d1dada;
        padding: 30px 30px;
    }
    .step1-box h2 {
        margin: 0 0 4px;
        padding: 0;
        text-align: center;
        margin-top: -71px;
        font-family: "Amazon Ember", Arial, sans-serif;
        font-weight: bold;
        font-size: 25px;
        margin-bottom: 16px;
    }
    .step1-box h2 span {
        display: inline-block;
        height: 65px;
        width: 65px;
        border: 6px solid #eaeded;
        border-radius: 100%;
        font-weight: bold;
        padding: 12px 0;
        background: #fff;
        font-size: 24px;
        box-shadow: inset 0 0 18px -3px #97a0a0;
    } 
    .step1-box label {
        font-size: 16px;
        font-weight: normal;
        color: #232f3e;
        font-family: "Amazon Ember", Arial, sans-serif;
    }
    .step1-box input[type="text"],.step1-box textarea{
    border: none;
        border-bottom: 2px solid #ccc;
        margin-top: 0;
        font-size: 16px;
        font-weight: normal;
        font-style: italic;
        font-family: "Amazon Ember", Arial, sans-serif;
        margin-bottom: 25px;
        width: 100%;
    }
    .step1-box input[type="text"]:focus,.step1-box textarea:focus{
        background: none;
        outline: none;
    }
    .step1-box textarea{
    margin-top: 10px;
    }
    .step1-box h3 {
        margin: 0 0 10px;
        padding: 0;
        font-weight: bold;
        font-size: 17px;
        color: #232f3e;
        font-family: "Amazon Ember", Arial, sans-serif;
    }
    .step1-box p {
        margin: 0 0 4px;
        padding: 0;
        font-weight: normal;
        font-size: 16px;
        color: #515d6d;
        font-family: "Amazon Ember", Arial, sans-serif;
            margin-bottom: 20px;
    }
    .check-box-label {
        display: inline-block;
        width: 100%;
        position: relative;
    }
    .check-box-label input[type="radio"]{
        position: absolute;
        opacity: 0;
    }
    .check-box-label label {
        display: inline-block;
        font-family: "Amazon Ember", Arial, sans-serif;
        font-size: 15px;
        position: relative;
        border: 1px solid #ccc;
        padding: 5px 16px;
        width: 112px;
        color: #232f3e;
        font-weight: bold;
        cursor: pointer;
        text-align: center;
    }
    .check-box-label label:hover{
        background: #232f3e;
        color: #fff;
        border: 1px solid #232f3e;
    }
    .check-box-label input[type="radio"]:checked + label{
            background: #232f3e;
        color: #fff;
        border: 1px solid #232f3e;
    }
    .step2-box{ margin-top: 70px; }
    .card-box{
        float: left;
        width: 100%;
    }
    .card-box-left{
        float: left;
        width: 50%;
    }
    .card-box-right{
        float: left;
        width: 50%;
    }
    img.captch {
        width: 300px;
        margin-top: 20px;
    }
    .print-step form input[type="submit"]{
        background: #232f3e;
        color: #fff;
        font-weight: bold;
        border: none;
        padding: 13px 30px;
        text-transform: uppercase;
        margin-top: 20px;
    }
    /*suprkash added*/
    .print-step form input[type="button"]{
        background: #232f3e;
        color: #fff;
        font-weight: bold;
        border: none;
        padding: 13px 30px;
        text-transform: uppercase;
        margin-top: 20px;
    }
    @media only screen and (max-width:767px){
        .print-step form input[type="button"]{
        background: #232f3e;
        color: #fff;
        font-weight: bold;
        border: none;
        padding: 13px 30px;
        text-transform: uppercase;
        margin-top: 20px;
    }
    }
    /*suprakash end*/
    .print-step form input[type="submit"]:hover{
        background: #fe6c00;
    }
    .print-step form p {
        margin: 15px 0 4px;
        padding: 0;
        font-weight: normal;
        font-size: 16px;
        color: #515d6d;
        font-family: "Amazon Ember", Arial, sans-serif;
        margin-bottom: 20px;
    }
    .step1-box p.text{
        border: none;
        border-bottom: 1px solid #ccc;
        margin-top: 0;
        font-size: 16px;
        font-weight: normal;
        font-style: italic;
        font-family: "Amazon Ember", Arial, sans-serif;
        margin-bottom: 25px;
        color: #8f9398;
        padding-bottom: 8px;
        padding-top: 7px;
    }
    .check-box-label label.active{
        background: #232f3e;
        color: #fff;
        border: 1px solid #232f3e;
    }
    .edit{
        background: #232f3e;
        color: #fff !important;
        font-weight: bold;
        border: none;
        padding: 13px 30px;
        text-transform: uppercase;
        margin-top: 20px;
        display: inline-block;
    }
    .edit:hover{
        background: #fe6c00;
    }
    .sucess-main-boxes {
        float: left;
        width: 100%;
        text-align: center;
        padding: 40px 0 60px;
        background-color: gainsboro;
    }
    .sucess-main-boxes h1 {
        font-size: 51px;
        font-weight: bold;
        color: #0ab300;
    }
    .sucess-main-boxes h1 span {
        display: block;
        font-size: 65px;
    }
    .sucess-main-boxes p{
        font-size:20px;
    }
    .sucess-main-boxes p {
        font-size: 18px;
        color: #4a4a4a;
    }

    .sucess-main-boxes a {
        background: #232f3e;
        color: #fff !important;
        font-weight: bold;
        border: none;
        padding: 13px 30px;
        text-transform: uppercase;
        margin-top: 20px;
        display: inline-block;
    }
    .sucess-main-boxes a:hover {
        background: #fe6c00;
    }
    
    /* --- suprakash added ---*/
/* TESTIMONIALS SLIDER STYLE 3 */


.testimonial-kids .testimonial-title{text-align: center; padding-bottom:25px; }
.testimonial-kids .testimonial-title h2{color: #ff6c00;
text-align: center;
font-size: 28px;
font-weight: bold;
font-family: "Amazon Ember", Arial, sans-serif;
color: #fff;
 }
.testimonial-kids .testimonials-slider.style-2 .text-box {
width: 100%;
}
.testimonial-kids p{
    color: #fff;
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
}
.testimonial-kids .text-box {
position: relative;
z-index: 1;
padding: 30px 0px;
margin-bottom: 50px;
}
.testimonial-kids .text-box > :last-child {
margin-bottom: 0;
}
.testimonial {
margin-bottom: 50px;
text-align: center;
}
.testimonials-slider .testimonial blockquote {
margin-bottom: 40px;
}
.testimonials-slider .testimonial blockquote {
padding: 0;
border-left: none;
margin-bottom: 20px;
font-size: 16px;
line-height: 30px;
font-style: italic;
margin: 0 0 20px;
    background: none;

}
.testimonials-slider .testimonial p::before {  
margin-bottom: 0px;
}
.testimonials-slider .testimonial p::before {
color: #ff6c00;
font-size: 30px;
font-weight: 500;
content: "\201c";
line-height:0px;
padding:12px 8px 0px 0px;
}

.testimonials-slider .testimonial p::after {
color: #ff6c00;
font-size: 30px;
font-weight: 500;
content: "\201d";
line-height:0px;
padding:12px 8px 0px 0px;
}

.testimonials-slider .testimonial > img {
display: inline-block;
border-radius: 50%;
margin-bottom: 30px;
}

.testimonials-slider .testimonial > h5 {
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    color: #fff;
    font-family: 'HVDFontsBrandonTextBold';
}
.testimonials-slider .testimonial > h5 span {
color: #fff;
font-weight: 500;
    font-family: 'HVDFontsBrandonTextRegular';
}
.testimonials-slider .testimonial > h5 small {
display: block;
margin-top: 10px;
font-size: 12px;
font-weight: 500;
letter-spacing: 2px;
text-transform: uppercase;
text-align: center;
    font-family: 'HVDFontsBrandonTextRegular';
}
.testimonials-slider .owl-dot {
display: inline-block;
width: 12px;
height: 12px;
border-radius: 50%;
margin-right: 10px;
background-color: #fff!important;
}
.testimonials-slider .owl-dot:last-child {
margin-right: 0;
}
.testimonials-slider .owl-dot:hover, .owl-dot.active {
background-color: #ff6c00!important;
}
.testimonials-slider .owl-dots {
position: absolute;
bottom: 10px;
left: 0;
width: 100%;
text-align: center;
}

.testimonials-slider .owl-item img {
    display: inline!important;
    width: auto!important;
     border-radius:50%;
    margin-bottom:30px;
}

    /* -------------------------------- New css end -------------------------------- */