<section class="fit-box">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12 col-md-12">
                <div class="fabulous-main"> 
                    <div class="find-left">
                <div class="fit-right">
                    <h3>How Much Does Fit Cost?</h3>
                    <ul>
                        <li>Each FIT Box has a <strong>$20 styling fee</strong> is applied to your purchase and you’re only billed for what you keep. <strong>It’s Free Shipping!</strong> Prepaid return envelope included.</li>
                        <li>Items in your box generally will cost depends as per you choose in your style profile.</li>
                        <li>Receive a FIT Box monthly or quarterly. Choose your frequency . <strong>skip or cancel anytime.</strong></li>
                        <li>Will share profit on every quarter towards the products you consume.</li>
                    </ul>
                </div>
                    </div>
                    <div class="fabulous-img">
                            <img src="<?= $this->Url->image('leady.jpg'); ?>">
                        </div>
                    </div>
                
            </div>
        </div>
    </div>
</section>