.card-payment {
    height: auto;
    margin: 0 auto;
    position: relative;
    width: 100%;
}
h3 {
    font-size: 30px;
    line-height: 50px;
    margin: 0 0 28px;
    text-align: center;
}
#paymentSection ol, ul {
    list-style: outside none none;
}
#paymentSection ul, h4{
    border: 0 none;
    font: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
.card-payment form {
    float: none;
}
.card-payment form, #orderInfo {
    background-color: #f9f9f7;
    border: 1px solid #d8d7d7;
    border-radius: 1px;
    box-shadow: 0 1px 0px rgba(0, 0, 0, 0.3);
    left: 0;
    margin: 0 auto;
    padding: 10px 10px;
    /* max-width: 320px; */
}
.card-payment form li {
    margin: 0px 0;
}
#paymentSection ul li:last-child {
    width: auto;
    float: right;
}
#paymentSection ul li.vertical ul li:last-child {
    float: left;
}
#paymentSection ul li:last-child #cardSubmitBtn{     width: 130px;border-radius: 25px !important;padding: 4px !important;
}


.card-payment form label {
    color: #555;
    display: block;
    font-size: 14px;
    padding-left: 10px;
    font-weight: 400;
}
form #card_number {
background-image: url(visa.png), url(images.png);
    background-repeat: no-repeat;
    background-size: 92px 343px, 92px 343px !important;
    background-position: 2px -22px, 416px -54px;
    padding-left: 56px;
    width: 89%;
    border: 1px solid #7e787899;
    border-radius: 0;
    height: 29px;
    border: none;
    border-bottom: 2px solid #ccc;
    margin-top: 0;
    font-size: 16px;
    font-weight: normal;
    font-style: italic;
    font-family: "Amazon Ember", Arial, sans-serif;
    margin-bottom: 25px;
    width: 100%;
}
.card-payment form input {
    background-color: #fff;
    border: none;
    box-sizing: content-box;
    color: #5d5d5d;
    display: block;
    font-size: 16px;
    /*height: 32px;*/
    padding: 0 5px;
    width: 24%;
    margin-top: 10px;
    margin-left: 8px;
    float: left;
    outline: none;
}
.card-payment form input::-moz-placeholder {
    color: #ddd;
    opacity: 1;
}
.payment-btn {
    width: 100%;
    height: 34px;
    padding: 0;
    font-weight: bold;
    color: white;
    text-align: center;
    cursor: pointer;
    border: 1px solid;
    border-color: #000000!important;
    background: #d54add!important;
    border-radius: 2px!important;
}

.payment-btn:disabled{opacity: 0.2;}
.card-payment form li .help {
    color: #aaa;
    display: block;
    font-size: 11px;
    font-weight: 400;
    line-height: 33px;
    text-align: left;
    padding-left: 10px;
    padding-top: 14px;
}
.vertical {
    overflow: hidden;
}
.vertical li {
    float: left;
    width: 135px;
    margin-right: 10px;
}
.vertical input {
    width: 116px!important;
}
.list {
    color: #767670;
    font-size: 16px;
    list-style: outside none disc;
    margin-bottom: 28px;
    margin-left: 25px;
}
.card-payment .numbers {
    background-color: #fff;
    border: 1px solid #bbc;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    margin-bottom: 28px;
    padding: 14px 20px;
    z-index: 10;
}
.card-payment .numbers p {
    margin-bottom: 0;
    margin-top: 0;
    color:#999;
}
.card-payment .numbers .list {
    margin-bottom: 0;
    margin-left: 0px;
}
.required{border: 1px solid #EA4335!important;}
#orderInfo p{
    color: #999;
}